/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.estruct-pass {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

.botao-modal {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background-color: #33404D;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal {
    background: #e0e0e0;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title {
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.modal-icon {
    width: 70px; /* Ajuste conforme necessário */
    height: auto;
}

.row {
    border: none;
    border-top: 3px solid #000;
    width: 32.4vw; /* Largura total da tela (viewport) */
    margin-left: calc(-16.2vw + 50%); /* Centraliza a linha no modal */
    margin-right: calc(-20vw + 50%); /* Centraliza a linha no modal */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilização da tabela */
.status-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table-header {
    background-color: #33404D;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.status-table td, .status-table th {
    padding: 10px;
    border: 1px solid #33404D;
}

.status-name {
    font-weight: bold;
}

/* Cores dos status */
.em-atendimento {
    color: #0080C8;
}

.disponivel {
    color: #3AA867;
}

.intervalo {
    color: #FFA800;
}

.status-desc{
    font-weight: bold;
}

/* Botão de fechar */
.close {
    margin-top: 20px;
    background-color: #33404D;
    color: white;
    padding: 12px 27px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.close:hover {
    transform: scale(1.05); /* Pequeno efeito de zoom */
}

/* RESPONSIVIDADE */

/* Ajustes para telas entre 1024px e 1200px */
@media (max-width: 1200px) {
    .modal {
        width: 85%;
        max-width: 650px;
    }

    .row {
        border: none;
        border-top: 3px solid #000;
        width: 106.50%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -3.25%; /* Ajusta a centralização */
    }
}

@media (max-width: 1024px) {
    .modal {
        width: 90%;
        max-width: 600px;
    }

    .row {
        border: none;
        border-top: 3px solid #000;
        width: 106.75%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -3.50%; /* Ajusta a centralização */
    }
}

/* Ajustes para telas menores que 768px */
@media (max-width: 768px) {
    .modal {
        width: 95%;
        padding: 15px;
    }

    .modal-title {
        font-size: 25px;
    }

    .modal-icon {
        width: 70px;
    }

    .botao-modal, .close {
        padding: 10px 20px;
        font-size: 14px;
    }

    .row {
        border: none;
        border-top: 3px solid #000;
        width: 105.30%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -2.75%; /* Ajusta a centralização */
    }
}

/* Ajustes para telas menores que 480px */
@media (max-width: 480px) {
    .modal {
        width: 95%;
        padding: 15px;
        border-radius: 5px;
    }

    .modal-title {
        font-size: 25px;
    }

    .modal-icon {
        width: 70px;
        margin-top: 5px;
    }

    .row {
        border: none;
        border-top: 3px solid #000;
        width: 107%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -3.50%; /* Ajusta a centralização */
    }

    .status-table td, .status-table th {
        padding: 8px;
    }

    .botao-modal, .close {
        padding: 8px 16px;
        font-size: 12px;
    }
}

/* Ajustes para telas menores que 320px */
@media (max-width: 320px) {
    .modal {
        width: 95%;
        padding: 15px;
    }

    .modal-title {
        font-size: 16px;
    }

    .modal-icon {
        width: 50px;
    }

    .row {
        border: none;
        border-top: 3px solid #000;
        width: 111%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -5.50%; /* Ajusta a centralização */
    }

    .botao-modal, .close {
        padding: 6px 15px;
        font-size: 20px;
    }
}