
main {  
    z-index: 1; 
    position: absolute; 
    background-color:rgba(205, 205, 205, 0.52);
    top: 157px; 
    right: 2vh; 
    left: 27vh; 
    bottom: 2vh; 
    justify-content: center;
    align-items: start; 
    overflow: auto;
    scroll-behavior: smooth; 
}
.cubo-branco {
    background-color: rgba(255, 255, 255, 0.52); /* Cor branca com opacidade */
    z-index: 1; 
    position: absolute; 
    top: 30px; 
    right: 5vh; 
    left: 5vh; 
    bottom: 7vh; 
    justify-content: center;
    align-items: start; 
    overflow: auto;
    scroll-behavior: smooth; 
}
.titulo {
    font-size: 20px;
    margin-left: 15px;
    color: var(--cinza-control);
}
.barra-pesquisa {
    width: 8%;
    margin-left: 91%;
}
.input-pesquisa {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.linha {
    background-color: #2d3945;
    height: 6px;
    margin-top: 1px;
    margin-left: 17px;
    width: 98%;
}
.tabela {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.menu-tabela {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tabela-3x3 {
    width: 100%;
    border-collapse: collapse;
}
.tabela-3x3 th,
.tabela-3x3 td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}
.tabela-3x3 th {
    background-color: #2d3945;
    color: #fff;
}
.tabela-3x3 tr:nth-child(even) {
    background-color: #ffffff;
}
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actions img {
    width: 20px; 
    height: 20px; 
    object-fit: contain;
    transition: transform 0.3s; 
}
.actions img:hover {
    transform: scale(1.2); 
}
.toggle-btn {
    width: 40px;
    height: 20px;
    background-color: #ece2e2;
    border-radius: 10px;
    position: relative;
}
.toggle-btn .circle {
    width: 16px;
    height: 16px;
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 5px;
    transition: left 0.3s;
}
.toggle-btn.active .circle {
    background-color: #3AA867;
    left: 22px;
}
.styled-button {
    background-color: #2d3945;
    color: white;
    padding: 10px 5px;
    text-align: center;
    font-size: 1rem;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-sizing: border-box;
    z-index: 1000;
}
.styled-button:hover {
    background-color: #4CAF50;
    color: white;
}
@media (max-width: 320px) {
.barra-pesquisa {
        width: 46%;
    margin-left: 54%;
}
.menu-tabela {
    width: 30%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}
@media (max-width: 320px) {
    main {   
        top: 100px;
        left: 10px;
        right: 10px;
        width: 100%;
    }
    .cubo-branco {
        top: 60px; 
        right:4vh; 
        left: 7vh; 
        bottom: 7vh; 
    }
    .titulo {
        font-size: 13px;
        margin-top: 10px;
        text-align: center;
    }
    .barra-pesquisa {
        width: 40%;
        margin-left: 58%;
    }
    .input-pesquisa {
        padding: 1px;
        width: 100%;
        font-size: 12px;
        border-radius: 5px;
    }
    .linha {
        margin-top: 1px;
        margin-left: 1px;
        width: 98%;
    }
    .tabela {
        padding: 3px;
    }
    .menu-tabela {
        width: 100%;
        max-width: 320px;
        padding: 5px;
    }
    .tabela-3x3 th,
    .tabela-3x3 td {
        font-size: 10px;
        padding: 6px;
    }
    .actions img {
        width: 15px;
        height: 15px;
    }
    .styled-button {
        background-color: #2d3945;
        color: white;
        padding: 10px 5px;
        font-size: 10px;
        bottom: 60px;
        right: 15px;
    }
}