/* CONFIGURAÇÃO DA BASE DA ÁREA ÚTIL */
/* NAO MEXER!! */

.Area-Util-Projeto{
    z-index: 1;
    position: fixed;
    top: 17vh;
    right: 2vh;
    left: 27vh;
    bottom: 2vh;
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.12);
    overflow: auto;
    scroll-behavior: smooth;
    display: flex;
}


/* MEDIA */

@media screen and (max-width: 1200px) and (min-width:361px) {
    .Area-Util-Projeto{
        left: 2vh;
    }
}

@media screen and (max-height: 600px){
    .Area-Util-Projeto{
        left: 2vh;
    }
}

/* @media screen and (max-width: 360px) {
    .Area-Util-Projeto{
        left: 2vh;
    }
    
} */