/* CONFIGURAÇÃO DA BASE DA ÁREA ÚTIL */
/* NAO MEXER!! */

.grupo{
    z-index: 1;
    position: fixed;
    top: 17vh;
    right: 2vh;
    left: 27vh;
    bottom: 2vh;
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.12);
    overflow: auto;
    scroll-behavior: smooth;
    display: flex;
}

/* MEDIA */

@media screen and (min-width:361px) and (max-width: 1200px){
    .grupo{
        left: 8vh;
    }
    .botao1{
        display: block;
        right: 8vh;
    }
  
}

@media screen and (max-height: 625px){
    .grupo{
        left: 8vh;
    }
}

@media screen and (min-width: 360px) and (max-width: 360px){
    .Area-Util-Projeto{
        left: 2vh;
    }
   
} 
