@import url(navegacao.css);

.topo-info-consultar-fila {
    width: 100%;
    height: 18%;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    align-content: center;
    /* background-color: crimson; */
}

.topo-consultar-fila {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200%;
    /* background-color: chartreuse; */
    justify-content: space-between;
}

.topo-esquerda-consultar-fila {
    width: 50%;
    height: 68%;
    align-items: end;
    display: flex;
    /* background-color: coral; */
    margin-left: 3%;
}

.topo-esquerda-consultar-fila h3 {
    font-weight: 700;
    font-size: 32px;
    color: #33404D;
}

.topo-direita-consultar-fila {
    /* background-color: blueviolet; */
    justify-content: right;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 64%;
    gap: 15px;
    margin-right: 3%;
    /* background-color: darkturquoise; */
}

.senhas-guiche-area-chamada{
    width: 15vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.38);
    background-color: rgba(250, 250, 250, 0.6);
}

.principal-consultar-fila{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 17vh;
    right: 2vh;
    left: 27vh;
    bottom: 2vh;
    height: auto;
    width: auto;
    /* background-color: rgba(0, 0, 0, 0.12); */
    overflow: auto;
    scroll-behavior: smooth;
    /* background-color: blue; */
}

.area-comum-consultar-fila {
    width: 100%;
    height: 100%;
    /* background-color: #bfbfbf46; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* justify-content: center; */
    align-items: center;
    /* background-color: red; */
}

.fundo-guiche-area-chamada{
    /* background-color: var(--cor-fundo); */
}

.tabela_atendimento-guiche-area-chamada{
    margin-top: 50px;
    width: 96%;
    /* border: 2px solid black; */
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0;
    gap: 0;
    border-collapse: collapse;
    /* margin-left: 2%; */
}

.tabela_atendimento-guiche-area-chamada th {
    width: 10%;
    border: 1px solid black;
    background-color: #353D46;
    font-size: 15px;
    color: var(--cor-fundo);
}

.tabela_atendimento-guiche-area-chamada td {
    border: 1px solid #353D46;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.3);
}

.area-botao-voltar-fila {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    height: 100%;
    width: 40%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 0;
    padding: 0;
}
.botao-voltar-consultar-fila {
    background-color: var(--cinza-control);
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 49px;
    border-radius: 5px;
    font-size: 28px;
    font-weight: 700;
    border: none; 
}
.botao-voltar-consultar-fila a{
    text-decoration: none;
    color: inherit; /* o link herda a cor do botão */
}


