@import url(navegacao.css);

.topo-info-consultar-fila {
    width: 100%;
    height: 18%;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    align-content: center;
    /* background-color: crimson; */
}

.topo-consultar-fila {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200%;
    /* background-color: chartreuse; */
    justify-content: space-between;
}

.topo-esquerda-consultar-fila {
    width: 50%;
    height: 68%;
    align-items: end;
    display: flex;
    /* background-color: coral; */
    margin-left: 2.5%;
    margin-top: -2%;
}

.topo-esquerda-consultar-fila h3 {
    font-weight: 700;
    font-size: 32px;
    color: #33404D;
}

.topo-direita-consultar-fila {
    /* background-color: blueviolet; */
    justify-content: right;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 64%;
    gap: 15px;
    margin-right: 3%;
    /* background-color: darkturquoise; */
}

.senhas-guiche-area-chamada {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 65%;
    /* background-color: aliceblue; */
    background-color: rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.38);
    font-size: 28px;
    font-weight: 700;
    color: #33404D;
    border-radius: 2%;
}


.principal-consultar-fila{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 17vh;
    right: 2vh;
    left: 27vh;
    bottom: 2vh;
    height: auto;
    width: auto;
    /* background-color: rgba(0, 0, 0, 0.12); */
    overflow: auto;
    scroll-behavior: smooth;
    /* background-color: blue; */
}

.area-comum-consultar-fila {
    width: 100%;
    height: 100%;
    /* background-color: #bfbfbf46; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* justify-content: center; */
    align-items: center;
    /* background-color: red; */
}



.fundo-guiche-area-chamada{
    width: 96%;
    height: 70%;
    background-color: rgb(255, 255, 255,0.5);
    gap: 15px;
    margin-top: 3%;
    border-radius: 5px;
}

.tabela_atendimento-guiche-area-chamada {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255,0.5);
    width: 95%;
    margin-bottom: 20px;
    margin-left: 2.5%;
}

th, td {
    border: 1px solid black; 
    padding: 8px;
    text-align: left;
    color: var(--cinza-control);
}

.tabela_atendimento-guiche-area-chamada th {
    background-color: var(--cinza-control);
    color: var(--cor-fundo);
}

.editar{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

.editar a img:hover{
    content: url(../assets/icons/Group\ 2925.png);
    transition: 1s;}

.switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 1.375rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cor-fundo);
    transition: 0.4s;
    border-radius: 34px;
    border: 1px solid var(--cinza-control);
}


.slider:before {
    position: absolute;
    content: "";
    height: 1.060625rem;
    width: 1.04375rem;
    left: 4px;
    bottom: 1.8px;
    background-color: var(--verde-control);
    transition: 0.4s;
    border-radius: 50%;
}


input:checked + .slider:before {
    transform: translateX(33px);
    background-color: red;
}


input:focus + .slider {
    box-shadow: 0 0 1px #4CAF50;
}



.input-search input{
    border-radius: 5px 5px 0px 0px;
    border: 1px solid rgb(128, 128, 128); 
    width: 10.125rem;
    margin-left: 4%;
  }



.area-botao-voltar-fila {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    height: 100%;
    width: 40%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 0;
    padding: 0;
}
.div-botao-info{
    width: 90%;
    height: 7%;
    align-items: first baseline;
    display: flex;
    flex-direction: column;
}
.principal-consultar-fila .div-botao-info button{
    width: 100px;
    height: 40px;
    background-color: var(--cinza-control);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    font-size: 12px;
}
.principal-consultar-fila .div-botao-info button:hover {
    text-decoration: underline;
    color: var(--verde-control);
    filter: drop-shadow(4px 4px 2px gray);
}
.input-search input{
    border-radius: 5px 5px 0px 0px;
    border: 1px solid rgb(128, 128, 128); 
    width: 10.125rem;
}