*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forme{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.quadrado{
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.356);
    position: absolute;
    left: 5%;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}
.container-flex{
    flex: 1 1 35%;
}
.perfild{
    position: absolute;
    width: 42%;
    left: 8%;
    top: 350px

}
.titulo h1{
    text-align:  center;
    font-size: 2em;
    margin-bottom: 20px;
}
.titulo .cadastro_title{
   font-family: var(--font-main);
   position: absolute;
   top: 15px;
   left: 5%;
   font-size: 110%;
}
.titulo hr{
    position: absolute;
    border: 0;
    height: 4px;
    background: black ;
    margin: 20px 0;
    width: 90%;
    top: 20px;
    left: 5%;
}

.nome{
    position: relative;
    top: 15px;
    left: 8%;
    width: 85%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.nome .borda{
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}

.email{
    position: relative;
    top: 50px;
    left: 8%;
    width: 42%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.email .borda{
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}

.cpf{
    position: relative;
    top: -18px;
    left: 51%;
    width: 42%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.cpf .borda{
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}

.senha{  
    position: relative;
    top: 28px;
    left: 8%;
    width: 42%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.senha .borda{
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}

.confirmar{
    position: relative;
    top: -40px;
    left: 51%;
    width: 42%;
    display: flex;
    flex-direction: column;
    font-size: 90%;  
}
.confirmar .borda{
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}

.labeledit{
    font-family: var(--font-main);
    width: 50%;
    height: 15px;
    font-weight: bold;
    display: block;
}
.perfil{
    position: relative;
    top: 40px;
    left: 189px;
    width: 35%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
    border-radius: 5px solid black;
}
.selecao .pi{
    height: 40px;
    border-radius: 5px solid black;
    margin-top: 12px;
}

.selecao{
    display: flex;
    position: absolute;
    top: 15px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
    background-color: white;
    font-size: var(--font-main);
}
.checkbox-container{ 
    display: flex;
    position: absolute;
    left: 53%; 
    width: 50%;
    font-size: 100%;
    top: 370px;
    font-size: var(--font-main);
    font-weight: bold;
    display: flex;
    gap: 20px;
}
.servico{
    display: flex;
    position: absolute;
    top: 350px;
    left: 52%;
    font-size: var(--font-main);
    font-weight: bold;
}
.todos{
    display: flex;
    position: absolute;
    left: 71%;
    top: 465px;
}
.column{ 
    display: flex; 
    flex-direction: column; 
    margin-right: 20px; 
    flex: 1;
} 
.checkbox-container label{ 
    display: flex; 
    align-items: center; 
    margin: 5px 0; 
} 
.checkbox-container input[type="checkbox"]{ 
    margin-right: 10px;
} 
.servico-checkbox input[type="checkbox"]{
    color: var(--verde-control);
}
.checkbox-container input[type="checkbox"]:checked + span{ 
    color: var(--verde-control);
} 
.select-all-container{ 
    margin-bottom: 10px; 
    width: 14%;
    position: absolute;
    left: 822px;
    top: 495px;
    font-size: var(--font-main);
    font-weight: bold;
}

.customizado input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;  
}


.customizado .teste {
    position: relative;
    /* height: 50px; */
    /* width: 200px; */
    /* background-color: #ccc; */
    border-radius: 4px;
    display: flex;
    vertical-align: middle;
    margin-right: 10px;
    
    
} 


/* .customizado input[type="checkbox"]:checked + .teste {
    background-color: #4CAF50;
    border: 1px solid black;
}    */

.customizado .teste:after {
    content: "";
    position: absolute;
    display: none;

} 

.customizado::before {
    content: ''; 
    position: relative;
    left: -10px;
    top: -1px;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: white;
}

.customizado input[type="checkbox"]:checked + .teste:after {
    display: block;
  
} 

.customizado  .teste::before {
    left: -20px;
    top: 5px;
    width: 0px;
    height: 0px;
    
}
.customizado  .teste:after {
    left: -19px;
    top: 6px;
    width: 0px;
    height: 0px;
    border: solid var(--verde-control);
    border-width: 2 10px 10px 2;
    transform: rotate(1deg);
    
} 


.botao1{
    background-color: var(--cinza-control);
    border-radius: 5px;
    border: none;
    color: var(--cor-fundo);
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    width: 120px;
    height: 35px;
    font-weight: bold;

    
}
.botao1:hover{
    color: var(--verde-control);
    text-decoration:underline;
}
.botao2{
    background-color: var(--cinza-control);
    
    border-radius: 5px;
    border: none;
    color: var(--cor-fundo);
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    width: 120px;
    height: 35px;
    font-weight: bold;
    
}
.botao2:hover{
    color: var(--verde-control);
    text-decoration:underline;
}

.btn{
    position: absolute;
    left: 75%;
    top: 650px;
    display: flex;
    
}

/* @media screen and (max-width: 320px){
    .quadrado{
        background-color: brown;
        width: 5%;
    }
    
} */


@media screen and (min-width: 321px) and (max-width: 420px) {
    .perfild,.selecionar{
        width: 100%;
        position: relative;
        left: 30%;
    }
    .titulo .cadastro_title{
        font-size: 100%;
    }
    .nome, .email, .cpf, .senha, .confirmar{
        width: 100%;
    }
    .botao1{
        display: flex;
        position: absolute;
        width: 40%;
    }
    .botao2{
        display: flex;
        flex-direction: column;
        width: 40%;
        left: 50%;
    }
    .btn{
        display: flex;
        justify-content: space-around;
        position: relative;
        left: 0;
        top: auto;
        width: 85%;
    }
    .checkbox-container{
        display: block;
        left: 0;
        top: auto;
    }
    .checkbox-container input[type="checkbox"]{
        margin-right: 10px;
    }
    .quadrado{
        position: fixed;
        scroll-behavior: smooth;
        left: 24%;
        width: 68%;
        height: 74%;
        display: flex;
        flex-direction: column;
        overflow: auto;
        scroll-behavior: smooth;
    }
    .nome{
       width: 85%;
    }
    .email{
        width: 85%;
        position: absolute;
        top: 100px;
    }
    .cpf{
       position: absolute;
       display: flex;
       flex-direction: column;
       top: 185px;
       left: 8%;
       width: 85%;
    }
    .senha{
        width: 85%;
        position: absolute;
        top: 270px;
    }
    .confirmar{
        width: 85%;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 360px;
        left: 8%;
    }
    .labeledit{
        width: 100%;
    }
    .perfild{
        position: absolute;
        left: -22%;
        top: -150px;
        width: 70%;
    }
    .servico{
        position: absolute;
        top: -36px;
        left: -22%;
    }
    .btn{
        gap: 20px;
        left: -31%;
        display: flex;
        flex-direction: column;
        width: 85%;
        top: 197px;
        justify-content: space-around;
    }
    .column-1{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        left: -27%;
    }
    .column-2{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        left: -27%; 
        top: 166px;
    }

}


@media screen and (max-width: 320px){
    .quadrado{
        width: 68%;
        left: 24%;
    }
    .labeledit{
        width: 100%;

    }
    .column-1{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        left: -27%;
    }
    .column-2{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        left: -27%; 
        top: 166px;
    }
    .btn{
        gap: 20px;
        left: -31%;
        display: flex;
        flex-direction: column;
        width: 85%;
        top: 223px;
    }
    .botao1{
        display: flex;
        position: absolute;
        width: 40%;
    }
    .botao2{
        display: flex;
        flex-direction: column;
        width: 40%;
        left: 10%;
    }
}