@import url(edit.css)(min-width:300px);

.forme{
    width: 100%;
    height: auto;
}
.quadrado{
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.356);
    position: absolute;
    left: 65px;
    margin-top: 50px;
}
.perfild{
    position: absolute;
    width: 45%;
    left: 2%;
    top: 350px

}
.titulo{
    width: 100%;
    height: auto;
}
.titulo .cadastro_title{
   font-family: var(--font-main);
   position: absolute;
   top: 15px;
   left: 25px;
   font-size: 110%;
}
.titulo hr{
    position: absolute;
    border: 0;
    height: 4px;
    background: black ;
    margin: 20px 0;
    width: 95%;
    top: 20px;
    left: 25px;
}

.nome{
    position: relative;
    top: 15px;
    left: 2%;
    width: 95%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.nome .borda{
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}

.email{
    position: relative;
    top: 50px;
    left: 2%;
    width: 45%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.email .borda{
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}

.cpf{
    position: relative;
    top: -21px;
    left: 52%;
    width: 45%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.cpf .borda{
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}

.senha{  
    position: relative;
    top: 28px;
    left: 2%;
    width: 45%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.senha .borda{
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}

.confirmar{
    position: relative;
    top: -40px;
    left: 52%;
    width: 45%;
    display: flex;
    flex-direction: column;
    font-size: 90%;  
}
.confirmar .borda{
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}

.labeledit{
    font-family: var(--font-main);
    width: 50%;
    height: 15px;
    font-weight: bold;
}
.perfil{
    position: relative;
    top: 40px;
    left: 189px;
    width: 35%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
    border-radius: 5px solid black;
}
.selecao .pi{
    height: 40px;
    border-radius: 5px solid black;
    margin-top: 12px;
}

.selecao{
    display: flex;
    position: absolute;
    top: 15px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
    background-color: white;
    font-size: var(--font-main);
}
.checkbox-container{ 
    display: flex;
    position: absolute;
    left: 53%; 
    width: 50%;
    font-size: 100%;
    top: 370px;
    font-size: var(--font-main);
    font-weight: bold;
}
.servico{
    display: flex;
    position: absolute;
    top: 350px;
    left: 52%;
    font-size: var(--font-main);
    font-weight: bold;
}
.todos{
    display: flex;
    position: absolute;
    left: 71%;
    top: 465px;
}
.column{ 
    display: flex; 
    flex-direction: column; 
    margin-right: 20px; 
} 
.checkbox-container label{ 
    display: flex; 
    align-items: center; 
    margin: 5px 0; 
} 
.checkbox-container input[type="checkbox"]{ 
    margin-right: 10px;
} 
.servico-checkbox input[type="checkbox"]{
    color: var(--verde-control);
}
.checkbox-container input[type="checkbox"]:checked + span{ 
    color: var(--verde-control);
} 
.select-all-container{ 
    margin-bottom: 10px; 
    width: 14%;
    position: absolute;
    left: 822px;
    top: 495px;
    font-size: var(--font-main);
    font-weight: bold;
}

.customizado input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;  
}


.customizado .teste {
    position: relative;
    /* height: 50px; */
    /* width: 200px; */
    /* background-color: #ccc; */
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    
    
} 


/* .customizado input[type="checkbox"]:checked + .teste {
    background-color: #4CAF50;
    border: 1px solid black;
}    */

.customizado .teste:after {
    content: "";
    position: absolute;
    display: none;

} 

.customizado::before {
    content: ''; 
    position: relative;
    left: -10px;
    top: -1px;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: white;
}

.customizado input[type="checkbox"]:checked + .teste:after {
    display: block;
  
} 

.customizado  .teste::before {
    left: -20px;
    top: 5px;
    width: 0px;
    height: 0px;
    
}
.customizado  .teste:after {
    left: -19px;
    top: 6px;
    width: 0px;
    height: 0px;
    border: solid var(--verde-control);
    border-width: 2 10px 10px 2;
    transform: rotate(1deg);
    
} 


.botao1{
    background-color: var(--cinza-control);
    border-radius: 5px;
    border: none;
    color: var(--cor-fundo);
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    position: absolute;
}
.botao1:hover{
    color: var(--verde-control);
    text-decoration:underline;
}
.botao2{
    background-color: var(--cinza-control);
    border-radius: 5px;
    border: none;
    color: var(--cor-fundo);
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    position: absolute;

}
.botao2:hover{
    color: var(--verde-control);
    text-decoration:underline;
}

.area-botao-cadastrar{
    gap: 15px;
    background-color: red;
    position: absolute;
    top:200px;

}


@media screen and (min-wight: 850px) and (max-wight: 1200px) {
    
    
}