:root{
    --cor-azul-escuro--1: rgba(51, 64, 77, 1);
    --cor-azul-escuro--0_10: rgba(51, 64, 77, 0.10);
    --cor-azul-acinzentado: rgb(69, 84, 99);
    --cor-cinza--1: rgb(240, 240, 240,1);
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    font-family: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}



    
.fundo-de-tudo{
    display: flex;
    align-items: center;
    background-color: var(--cor-cinza--1);
    background-image: url(../assets/img/Background-logo\ 2.svg);
    background-size: 35vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    
}
.fundo-azul-lateral{
    background-color: var(--cor-azul-escuro--1);
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;

    /* gap: 1%; */
}
.fundo-azul-lateral h1{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 3vw;
    font-weight: 700;

    /* text-wrap: nowrap; */
    /* font-size: 55px; */
    /* font-size:larger; */
    /* margin-top: -130px; */
    /* margin-top: 2%; */
    /* margin-bottom: 10%; */
    /* background-color: rgb(30, 30, 30);   */
}
.area-das-senhas{
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--cor-cinza--1);
    gap: 2vh;
    padding: 2.5vh 1.6vh;
    margin: 2vh;

    /* width: 455px; */
    /* height: 725px; */
    /* height: inherit; */
    /* margin-left: 15px; */
    /* margin-right: 15px; */
}
.caixa-das-senhas{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-azul-escuro--0_10);
    padding: 1.5vh;
    width: calc(100% - 3vh);

    /* width: 430px; */
    /* height: 135px; */
    /* margin-top: 25px; */
    /* margin-bottom: 25px; */
    /* border-radius: 5px; */
}
.caixa-das-senhas h2{
    display: flex;
    font-size: 2rem;
    margin-top: 5px;
    color: var(--cor-azul-escuro--1);
    font-weight: 800;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}
.conjunto-senhas{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 4vw;
}
.senha{
    display: flex;
    color: var(--cor-azul-escuro--1);
    align-items: center;
    flex-direction: column;
}
.senha h3, .guiche h3{
    display: flex;
    font-size: 3vh;
    padding: 5px;
    font-weight: 800;
    margin-top: 2vh;
    color: var(--cor-azul-acinzentado);
}
.senha h4, .guiche h4{
    display: flex;
    font-size: 4vh;
    text-wrap: nowrap;
    font-weight: 800;
}
.guiche{
    display: flex;
    color: var(--cor-azul-escuro--1);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.fundo-senha-principal {
    position: absolute;
    background-color: var(--cor-azul-escuro--0_10);
    height: auto;
    width: auto;
    border-radius: 5px;
    top: 2vw;
    right: 2vw;
    left: 32vw;
    bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* width: 70%; */
    /* height: 37.76vw; */
    /* margin-top: 25px; */
    /* margin-top: 5vw; */
    /* margin-left: 70px; */
    /* margin-right: 70px; */
    /* border-radius: 5px; */
    /* margin-left: 400px; */
}
.fundo-senha-principal-wrap{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.nome-pessoa{
    width: 90%;
    /* background-color: yellow; */
}
.nome-pessoa h1{
    padding-bottom: 7%;
    font-size: 8vh;
    text-align: center;
    color: var(--cor-azul-escuro--1);
    font-weight: 800;
    text-wrap: wrap;
}
.infos-senha-principal{
    display: block;
    flex-direction: row;
    text-wrap: nowrap;
    justify-content: center;
    justify-content: space-around;

    /* list-style: none; */

    color: var(--cor-azul-escuro--1);
    font-size: 3.5vw;
    /* gap: 10%; */
    
    /* font-weight: 800; */
    /* background-color: red; */
    /* width: 90%; */
}
.infos-senha-principal li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* gap: 10%; */
    
    /* width: 100%; */
}

.infos-senha-principal h2 {
    width: auto;
    display: flex;
    justify-content: space-between;
    color: var(--cor-azul-acinzentado);
    font-size: 5vh;
}

.infos-senha-principal span{
    /* width: 40%; */
    min-width: 200px;
    text-align: center;
    font-weight: 800;
    font-size: 10vh;
    
    /* text-wrap: wrap; */
}

.nome-servico{
    display: flex;
    width: 90%;
    
    align-items: end;
    justify-content: space-around;

}

.nome-servico li{
    display: flex;
    flex-direction: row;

    gap: 10%;
    list-style: none;
}

.nome-servico li h2{
    color: var(--cor-azul-acinzentado);
    font-size: 2vh;
}   


@media screen and (max-width: 1300px){
    *{
        overflow: hidden;
    }

    .fundo-azul-lateral{
        /* height: 100vw; */
        width: 38vw;
        align-items: center;
    }

    .fundo-senha-principal{
        top: 2vw;
        right: 2vw;
        left: 40vw;
        bottom: 2vw;
        white-space: nowrap;
        word-wrap: break-word;
    }
    .infos-senha-principal{
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        
        color: var(--cor-azul-escuro--1);
        font-size: 3.5vw;
        gap: 10%;
        
        /* font-weight: 800; */
    }
    .nome-pessoa{
        display: flex;
        text-size-adjust: 10%;
    }
    .infos-senha-principal li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-betweaen;
        width: auto;
        margin-bottom: 10%;
        
        /* background-color: red; */
    }
    .infos-senha-principal h2 {
        width: auto;
        display: flex;
        justify-content: space-between;
        color: var(--cor-azul-acinzentado);
        font-size: 5vh;
        text-decoration: underline;
    }
    .infos-senha-principal span{
        /* width: 50%; */
        font-size: 10vh;
    }
}