:root{
    --cor-azul-escuro--1: rgba(51, 64, 77, 1);
    --cor-azul-escuro--0_10: rgba(51, 64, 77, 0.10);
    --cor-cinza--1: rgb(240, 240, 240,1);
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    font-family: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}



    



.fundo-de-tudo{
    display: flex;
    align-items: center;
    background-color: var(--cor-cinza--1);
    background-image: url(../assets/img/Background-logo\ 2.svg);
    background-size: 35vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100vw;
    height: 100vh;
    justify-content: top;
    overflow: hidden;
    
}
.fundo-azul-lateral{
    width: 490px;
    height: 100vh;
    display: flex;
    background-color: var(--cor-azul-escuro--1);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.fundo-azul-lateral h1{
    width: 70%;
    text-align: center;
    color: white;
    font-size: 55px;
    margin-top: -130px;
    margin-bottom: 30px;
    font-weight: 700;
}
.area-das-senhas{
    display: flex;
    width: 455px;
    height: 725px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--cor-cinza--1);
    margin-left: 15px;
    margin-right: 15px;
}
.caixa-das-senhas{
    display: flex;
    width: 430px;
    height: 135px;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-azul-escuro--0_10);
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
}
.caixa-das-senhas h2{
    display: flex;
    font-size: 35px;
    margin-top: 5px;
    color: var(--cor-azul-escuro--1);
    font-weight: 800;
}
.conjunto-senhas{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.senha{
    display: flex;
    color: var(--cor-azul-escuro--1);
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}
.senha h3{
    display: flex;
    font-size: 25px;
    padding: 5px;
    font-weight: 800;
}
.senha h4{
    display: flex;
    font-size: 40px;
    font-weight: 800;
}
.guiche{
    display: flex;
    color: var(--cor-azul-escuro--1);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 60px;
    
}
.guiche h5{
    display: flex;
    font-size: 25px;
    padding: 5px;
    font-weight: 800;
}
.guiche h6{
    display: flex;
    font-size: 40px;
    font-weight: 800;
}






.fundo-senha-principal {
    width: 70%;
    height: 725px;
    background-color: var(--cor-azul-escuro--0_10);
    margin-top: 25px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 5px;
}
.nome-pessoa h1{
    padding: 40px;
    font-size: 70px;
    text-align: center;
    color: var(--cor-azul-escuro--1);
    font-weight: 800;
}
.infos-senha-principal {
    display: flex;
    flex-direction: column;
}
.infos-senha-principal h2 {
    display: flex;
    font-size: 100px;
    justify-content: space-between;
    margin: 20px 150px 20px 150px;
    color: var(--cor-azul-escuro--1);
    font-weight: 800;
}
.infos-senha-principal span{
    width: 400px;
    text-align: center;
    font-weight: 800;
}