/* CONFIGURAÇÃO DA BASE DA ÁREA ÚTIL */
/* SUBSTITUIR O NOME 'NOME_DA_AREA' PELO NOME UTILIZADO NO CORPO DE DESENVOLVIMENTO! */ 

*{
    box-sizing: border-box;
}
.servico {
    min-height: calc(90vh - 90px);
    justify-content: space-around;
    z-index: 1;
    position: fixed;
    top: 157px;
    right: 2vh;
    left: 27vh;
    bottom: 2vh;
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.12);
    overflow: auto;
    scroll-behavior: smooth;
}
.cabecalho{
    margin: 30px;
}
#telabranca{
    width: 96%;
    height: 57vh;
    background-color: #ffffff3a;
    margin: 30px;
}

.buscar_registro{
    width: 165px;
    height: 28px;
    float: right;
    margin: -31px -4px 0 0;
    border-radius: 5px;
}
#buscarserv{
    width: 100%;
    height: 95%;
    border: 2px solid #333;
    border-radius: 5px 5px 0px 0px;
    outline: none; 
}

#servico_cad{
    text-align: left;
    font-size: 20px;
    color: #333;
    padding: 10px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: -11px;
}
.linha_divisoria{
    background-color: #37474F;
    height: 1px;
    width: 100%;
    padding: 4px;
    
    
}
.tabelaServico{
    width:100%;
    border-collapse: collapse;
    background-color: #ffffff7a;
    border: 2px solid black;
    margin-top: 20px;   
    
}

.partes_tab{
    display: flexbox;
    justify-content: space-between;
    align-items: baseline;
    
}

#editar{
    width: 26px;
}
.partes_tabe, td {
    width: 30px;
    border: 1px solid #37474F;
    padding: 0.5%;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration-color: #37474F;
}

.partes_tabe {
    background-color: #37474F;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    font-family: Arial, sans-serif;
    font-size: 15px;
    
}

.toggle-btn {
    width: 60px;
    height: 21px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    float: right;
    border:1px solid #37474F;
}

.toggle-btn .circulo {
    width: 20px;
    height: 15px;
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s;
}

.toggle-btn.active .circulo {
    background-color: #00cc00;
    left: 36px;
}
.button-container1{
    width: 96%;
    height: 100px;
    display: flex;
    justify-content: flex-end;

}
.botaoCadastrar {
    width: 110px;
    height: 40px;
    background-color: #37474F;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
}

button:hover {
    background-color: #455A64;
}
.cadastrar-btn {
   
    margin-top: 20px;
    display: block;
}
/* MEDIA */
@media screen and (max-width: 1200px) {
    .servico {
      left: 8vh;
    }
    #telabranca {
        width: 100%;
        height: 45vh;
        margin: 1rem 0;
      }
}
@media screen and (max-width: 1280px) {
    #telabranca {
        height: 47vh;

}
}

@media screen and (max-width: 1024px) {
    #telabranca {
        height: 55vh;

}
}
@media screen and (max-width: 912){
    #telabranca {
        width: 800px;
        height: 75vh;
      }
}


@media screen and (max-width: 686px) {
    #buscarserv {
      width: 105;
      font-size: 12px;
    }
    #servico_cad {
      font-size: 18px;
    }
    .tabelaServico {
      padding: 0.5%;
    }
    #telabranca {
      width: 800px;
      height: 40vh;
    }
    .toggle-btn{
        width: 48px;
        height: 18px;
        bottom: -15px;
        right: 2px;
        top:12px
    }
    .toggle-btn .circulo {
        width: 14px;
        height: 14px;
        top: 1px;
    }
    .toggle-btn.active .circulo {
        left: 30px;
    }
    .button-container1{
        width: 800px;
        
    }
    .botaoCadastrar{
        margin-right: 4%;
    }
}
@media screen and (max-width: 540px){
    #telabranca {
        width: 800px;
        height: 05vh;
      }
}
@media screen and (max-width: 430px) {
    #telabranca {
      width: 500px;
      height: 50vh;
    }
    #buscarserv {
      width: 70%;
      margin-left: 50px;
    }
    .button-container1{
        width: 95%;
        margin-top: 2%;
    }
    .partes_tabe, td {
        font-size: 13px;
    }
    .button-container1{
        width: 500px;
        
    }
    .botaoCadastrar{
        margin-right: 4%;
    }
    
}
  
@media screen and (max-width: 320px){
    #telabranca {
        width: 650px;
        
        
      }
      .button-container1{
          width: 650px;

          
      }
      
}
    