@import url(navegacao.css);

:root {
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-size: bolder;
}

.principal-chamar-senha {
    /* width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: var(--cor-fundo);
    font-size: 30px;
    font-weight: bold;
    background-image: url(../img/background\ design.png);
    background-repeat: no-repeat;
    background-position: right bottom; */

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 157px;
    right: 2vh;
    left: 27vh;
    bottom: 2vh;
    height: auto;
    width: auto;
    /* background-color: rgba(0, 0, 0, 0.12); */
    overflow: auto;
    scroll-behavior: smooth;
}

.topo-pagina {
    width: 100%;
    height: 13%;
}

.dentro-topo {
    background-color: brown;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    /* flex-direction: column; */
    /* align-items: center; */
    /* background-color: chartreuse; */
}

.user-topo {
    width: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 5px 54px;
    /* background-color: aqua; */

}

.area-linha-top {
    width: 100%;
    height: 40px;
    background-color: var(--cinza-control);
}

/* .corpo {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-fundo);
    font-size: 30px;
    font-weight: bold;
    background-image: url(../img/background\ design.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.menu {
    width: 12%;
    height: 87%;
    left: 0;
    position: fixed;
    background-color: #3AA867;
} */

.area-chamada-atendimento {
    width: 100%;
    height: 100%;
    background-color: #bfbfbf46;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* justify-content: center; */
    align-items: center;
}

.topo-area-chamada {
    width: 100%;
    height: 200px;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    align-content: center;
    /* background-color: crimson; */
}

.esquerda-area-chamada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    height: 100%;
    width: 40%;
    margin-left: 2%;
}

.guiche_senha-area-chamada {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    height: 70%;
    width: 100%;
}

.guiche-area-chamada-tl {
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 109px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.38);
    margin-top: 34px;
    font-size: 28px;
    font-weight: 700;
    color: #33404D;
    background-color: rgba(255, 255, 255, 0.3);
}

.senha_fila-guiche-area-chamada {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 109px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.38);
    margin-top: 34px;
    font-size: 28px;
    font-weight: 700;
    color: #33404D;
    background-color: rgba(255, 255, 255, 0.3);
}

.botao_intervalo-guiche-area-chamada {
    background-color: var(--cinza-control);
    color: #f9f9f9;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 49px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 28px;
    font-weight: 700;
}

.botao_intervalo-guiche-area-chamada a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 80%;
    text-decoration: none;
    color: var(--cor-fundo);
}

.direita-guiche-area-chamada {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 100%;
    justify-content: center;
    /* background-color: blue; */
}

.direita-guiche-area-chamada div {
    display: flex;
    flex-direction: row;
    /* background-color: brown; */
    width: 90%;
    height: 70%;
    justify-content: center;
    gap: 10px;
}

.botao--guiche-area-chamada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
    width: 223px;
    height: 109px;
    background-color: var(--verde-control);
    margin-top: 34px;
    font-size: 28px;
    font-weight: 700;
    border: none;
    outline: none;
}

.botao--guiche-area-chamada a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f9f9f9;
}

.meio-guiche-area-chamada {
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 30%;
    /* background-color: chartreuse; */
    margin-left: 4.5%;
    margin-right: 4.5%;
    justify-content: space-between;
}

.meio_esquerda-guiche-area-chamada {
    width: 50%;
    height: 100%;
    align-items: end;
    display: flex;
    /* background-color: coral; */
    margin-left: 3%;
}

.meio_esquerda-guiche-area-chamada h3 {
    font-weight: 700;
    font-size: 32px;
    color: #33404D;
}

.meio_direita-guiche-area-chamada {
    /* background-color: blueviolet; */
    justify-content: right;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    gap: 15px;
    margin-right: 3%;
    /* background-color: darkturquoise; */
}

.senhas-guiche-area-chamada {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 70%;
    /* background-color: aliceblue; */
    background-color: rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.38);
    font-size: 28px;
    font-weight: 700;
    color: #33404D;
    border-radius: 2%;
}

.fundo-guiche-area-chamada{
    width: 90%;
    height: 70%;
    background-color: rgb(255, 255, 255,0.5);
    gap: 15px;
    margin-top: 2rem;
  }
  
  .tabela_atendimento-guiche-area-chamada {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255,0.5);
    width: 100%;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid black; 
    padding: 8px;
    text-align: left;
    color: var(--cinza-control);
  }
  
  .tabela_atendimento-guiche-area-chamada th {
    background-color: var(--cinza-control);
    color: var(--cor-fundo);
  }
  
  .editar{
    /* width: 10rem; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
  }
  
.editar a img:hover{
    content: url(../assets/icons/Group\ 2925.png);
    transition: 1s;}

.switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 1.375rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cor-fundo);
    transition: 0.4s;
    border-radius: 34px;
    border: 1px solid var(--cinza-control);
}


.slider:before {
    position: absolute;
    content: "";
    height: 1.060625rem;
    width: 1.04375rem;
    left: 4px;
    bottom: 1.8px;
    background-color: var(--verde-control);
    transition: 0.4s;
    border-radius: 50%;
}


input:checked + .slider:before {
    transform: translateX(33px);
    background-color: red;
}


input:focus + .slider {
    box-shadow: 0 0 1px #4CAF50;
}


@media screen and (max-width: 1200px) {

    .principal-chamar-senha {
        left: 7vh;
    }
} 



/* MEDIA */
@media screen and (min-width: 1024px) and (max-width: 1058px) {
    .guiche_senha-area-chamada p{
        text-align: center;  
    }
}

@media screen and (min-width: 739px) and (max-width: 1024px) {
    *{
        font-size: 20px;
        text-align: center;
        /* background-color: aqua; */
    }
    .topo-area-chamada{
        margin-top: 1%;
        justify-content: center;
        gap: 15%;
    }
    .meio_esquerda-guiche-area-chamada h3{
        font-size: 18px;
    }
    .meio_esquerda-guiche-area-chamada{
        height: 98%;
        width: 110%;
    }
    .meio_direita-guiche-area-chamada{
        height: 90%;
        width: 150%;
    }
    .guiche_senha-area-chamada{
        gap: 14px;
    }
    .botao_intervalo-guiche-area-chamada{
        margin-top: 14px;
    }
    .esquerda-area-chamada{
        margin-left: 2%;
    }
    .botao_intervalo-guiche-area-chamada{
        width: 100%;
    }
}
@media screen and (min-width: 625px) and (max-width: 739px) {
    *{
        font-size: 20px;
        text-align: center;
        /* background-color: aqua; */
    }
    .topo-area-chamada{
        margin-top: 1%;
        justify-content: center;
        gap: 15%;
    }
    .meio_esquerda-guiche-area-chamada h3{
        font-size: 18px;
    }
    .meio_esquerda-guiche-area-chamada{
        height: 98%;
        width: 110%;
    }
    .meio_direita-guiche-area-chamada{
        height: 90%;
        width: 150%;
    }
    .guiche_senha-area-chamada{
        gap: 14px;
    }
    .botao_intervalo-guiche-area-chamada{
        margin-top: 14px;
    }
    .esquerda-area-chamada{
        margin-left: 2%;
    }
    .botao_intervalo-guiche-area-chamada{
        width: 100%;
    }
}


@media screen and (min-width: 556px) and (max-width: 624px){
    *{
        font-size: 18px;
        text-align: center;
    }
    .topo-area-chamada{
        margin-top: 1%;
        justify-content: center;
        gap: 18%;
    }
    .guiche-area-chamada-tl{
        height: 75%;
        width: 80%;
    }
    .guiche_senha-area-chamada{
        gap: 10px;
    }
    .senha_fila-guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .senhas-guiche-area-chamada{
        height: 55%;
        width: 60%;
    }
    .tabela_atendimento-guiche-area-chamada th{
        font-size: 9px;
    }
    .tabela_atendimento-guiche-area-chamada td{
        font-size: 10px;
    }
    .botao--guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .meio_esquerda-guiche-area-chamada h3{
        font-size: 15px;
    }
    .meio_esquerda-guiche-area-chamada{
        height: 98%;
        width: 110%;
    }
    .meio_direita-guiche-area-chamada{
        height: 90%;
        width: 150%;
    }
    .esquerda-area-chamada{
        margin-left: 2%;
    }
    .botao_intervalo-guiche-area-chamada{
        width: 100%;
    }
}
@media screen and (min-width: 499px) and (max-width: 555px){
    *{
        font-size: 15px;
        text-align: center;
    }
    .topo-area-chamada{
        margin-top: 1%;
        justify-content: center;
        gap: 18%;
    }
    .guiche-area-chamada-tl{
        height: 75%;
        width: 80%;
    }
    .guiche_senha-area-chamada{
        gap: 10px;
    }
    .senha_fila-guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .senhas-guiche-area-chamada{
        height: 55%;
        width: 60%;
    }
    .tabela_atendimento-guiche-area-chamada th{
        font-size: 9px;
    }
    .tabela_atendimento-guiche-area-chamada td{
        font-size: 10px;
    }
    .botao--guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .meio_esquerda-guiche-area-chamada h3{
        font-size: 13px;
    }
    .meio_esquerda-guiche-area-chamada{
        height: 98%;
        width: 110%;
    }
    .meio_direita-guiche-area-chamada{
        height: 90%;
        width: 150%;
    }
    .esquerda-area-chamada{
        margin-left: 2%;
    }
    .botao_intervalo-guiche-area-chamada{
        width: 100%;
    }
}
@media screen and (min-width: 446px) and (max-width: 498px){
    *{
        font-size: 12px;
        text-align: center;
    }
    .topo-area-chamada{
        margin-top: 1%;
        justify-content: center;
        gap: 18%;
        height: 35%;
    }
    .direita-guiche-area-chamada{
        height: 90%;
    }
    .guiche-area-chamada-tl{
        height: 75%;
        width: 80%;
    }
    .guiche_senha-area-chamada{
        gap: 10px;
    }
    .senha_fila-guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .senhas-guiche-area-chamada{
        height: 55%;
        width: 60%;
    }
    .tabela_atendimento-guiche-area-chamada th{
        font-size: 9px;
    }
    .tabela_atendimento-guiche-area-chamada td{
        font-size: 10px;
    }
    .botao--guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .meio_esquerda-guiche-area-chamada h3{
        font-size: 12px;
    }
    .meio_esquerda-guiche-area-chamada{
        height: 98%;
        width: 110%;
    }
    .meio_direita-guiche-area-chamada{
        height: 90%;
        width: 150%;
    }
    .esquerda-area-chamada{
        margin-left: 2%;
    }
    .botao_intervalo-guiche-area-chamada{
        width: 100%;
    }
}

@media screen and (min-width: 385px) and (max-width: 445px){
    *{
        font-size: 10px;
        text-align: center;
    }
    .topo-area-chamada{
        margin-top: 1%;
        justify-content: center;
        gap: 2%;
        height: 30%;
        width: 120%;
    }
    .guiche-area-chamada-tl{
        height: 75%;
        width: 80%;
    }
    .guiche_senha-area-chamada{
        gap: 10px;
    }
    .senha_fila-guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .senhas-guiche-area-chamada{
        height: 55%;
        width: 60%;
    }
    .tabela_atendimento-guiche-area-chamada th{
        font-size: 9px;
    }
    .tabela_atendimento-guiche-area-chamada td{
        font-size: 10px;
    }
    .botao--guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .meio_esquerda-guiche-area-chamada h3{
        font-size: 10px;
    }
    .meio_esquerda-guiche-area-chamada{
        height: 98%;
        width: 110%;
    }
    .meio_direita-guiche-area-chamada{
        height: 90%;
        width: 150%;
    }
    .esquerda-area-chamada{
        margin-left: 2%;
    }
    .botao_intervalo-guiche-area-chamada{
        width: 100%;
    }
}
@media screen and (min-width: 354px) and (max-width: 384px){
    *{
        font-size: 10px;
        text-align: center;
    }
    .topo-area-chamada{
        margin-top: 1%;
        justify-content: center;
        gap: 3%;
        height: 30%;
        width: 120%;
    }
    .guiche-area-chamada-tl{
        height: 75%;
        width: 80%;
    }
    .guiche_senha-area-chamada{
        gap: 10px;
    }
    .senha_fila-guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .senhas-guiche-area-chamada{
        height: 55%;
        width: 60%;
    }
    .tabela_atendimento-guiche-area-chamada th{
        font-size: 8px;
    }
    .tabela_atendimento-guiche-area-chamada td{
        font-size: 8px;
    }
    .botao--guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .area-botao--guiche-area-chamada{
        margin-right: 8%;
    }
    .meio_esquerda-guiche-area-chamada h3{
        font-size: 9px;
    }
    .meio_esquerda-guiche-area-chamada{
        height: 98%;
        width: 110%;
    }
    .meio_direita-guiche-area-chamada{
        height: 80%;
        width: 150%;
    }
    .esquerda-area-chamada{
        margin-left: 2%;
    }
    .botao_intervalo-guiche-area-chamada{
        width: 100%;
    }
}
@media screen and (min-width: 250px) and (max-width: 353px){
    *{
        font-size: 9px;
        text-align: center;
    }
    .topo-area-chamada{
        margin-top: 1%;
        justify-content: center;
        gap: 18%;
        height: 30%;
    }
    .guiche-area-chamada-tl{
        height: 75%;
        width: 80%;
    }
    .guiche_senha-area-chamada{
        gap: 10px;
    }
    .direita-guiche-area-chamada{
        height: 90%;
    }
    .senha_fila-guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .senhas-guiche-area-chamada{
        height: 55%;
        width: 60%;
    }
    .tabela_atendimento-guiche-area-chamada th{
        font-size: 8px;
    }
    .tabela_atendimento-guiche-area-chamada td{
        font-size: 8px;
    }
    .botao--guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .area-botao--guiche-area-chamada{
        margin-right: 10%;
    }
    .meio_esquerda-guiche-area-chamada h3{
        font-size: 8px;
    }
    .meio_esquerda-guiche-area-chamada{
        height: 98%;
        width: 110%;
    }
    .meio_direita-guiche-area-chamada{
        height: 80%;
        width: 150%;
    }
    .esquerda-area-chamada{
        margin-left: 2%;
    }
    .botao_intervalo-guiche-area-chamada{
        width: 100%;
    }
}

@media screen and (min-width: 150px) and (max-width: 249px){
    *{
        font-size: 7px;
        text-align: center;
    }
    .topo-area-chamada{
        margin-top: 1%;
        justify-content: center;
        gap: 18%;
        height: 28%;
    }
    .guiche-area-chamada-tl{
        height: 75%;
        width: 80%;
    }
    .guiche_senha-area-chamada{
        gap: 10px;
    }
    .direita-guiche-area-chamada{
        height: 90%;
    }
    .area-botao--guiche-area-chamada{
        margin-right: 20%;
    }
    .senha_fila-guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .senhas-guiche-area-chamada{
        height: 55%;
        width: 60%;
    }
    .tabela_atendimento-guiche-area-chamada th{
        font-size: 8px;
    }
    .tabela_atendimento-guiche-area-chamada td{
        font-size: 8px;
    }
    .botao--guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .meio_esquerda-guiche-area-chamada h3{
        font-size: 8px;
    }
    .meio_esquerda-guiche-area-chamada{
        height: 98%;
        width: 110%;
    }
    .meio_direita-guiche-area-chamada{
        height: 70%;
        width: 150%;
    }
    .esquerda-area-chamada{
        margin-left: 2%;
    }
    .botao_intervalo-guiche-area-chamada{
        width: 100%;
        height: 25%;
    }
}

@media screen and (min-width: 50px) and (max-width: 150px){
    *{
        font-size: 5px;
        text-align: center;
    }
    .topo-area-chamada{
        margin-top: 1%;
        justify-content: center;
        gap: 18%;
        height: 18%;
    }
    .guiche-area-chamada-tl{
        height: 75%;
        width: 80%;
    }
    .guiche_senha-area-chamada{
        gap: 10px;
    }
    .direita-guiche-area-chamada{
        height: 90%;
    }
    .area-botao--guiche-area-chamada{
        margin-right: 20%;
    }
    .senha_fila-guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .senhas-guiche-area-chamada{
        height: 55%;
        width: 60%;
    }
    .tabela_atendimento-guiche-area-chamada th{
        font-size: 8px;
    }
    .tabela_atendimento-guiche-area-chamada td{
        font-size: 8px;
    }
    .botao--guiche-area-chamada{
        height: 75%;
        width: 80%;
    }
    .meio_esquerda-guiche-area-chamada h3{
        font-size: 8px;
    }
    .meio_esquerda-guiche-area-chamada{
        height: 98%;
        width: 110%;
    }
    .meio_direita-guiche-area-chamada{
        height: 70%;
        width: 150%;
    }
    .esquerda-area-chamada{
        margin-left: 2%;
    }
    .botao_intervalo-guiche-area-chamada{
        width: 100%;
        height: 25%;
    }
}



