:root {
    --color-background-1: #f9f9f9;
    --color-background-2: #353D46;

    --color-neutro-1: #000;
    --color-neutro-2: #fff;

    --color-text-1: #33404D;

    --color-intervalo: #FFA800;
    --color-disponivel: #3AA867;
    --color-em-atendimento: #0080C8;
}

@media (max-width: 375px) {
    .atendimento-tempo-real {
        left: 8vh;
    }

    .container-atendimento-tempo-real h1 {
        font-size: 11px;
    }

    td {
        font-size: 10px;
    }

    .status-flex-atendimento-tempo-real {
        gap: 10px;
    }
}

@media (max-width: 414px) {
    .atendimento-tempo-real {
        left: 8vh;
    }

    .container-atendimento-tempo-real h1 {
        font-size: 12px;
    }

    td {
        font-size: 10px;
    }

    .status-flex-atendimento-tempo-real {
        gap: 10px;
    }
}