:root {
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* HEX COLOR TO FILTER CONVERTER */
/* https://isotropic.co/tool/hex-color-to-css-filter/ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-style: bold;
    list-style: none;
    z-index: 1000;
}

/* TOPO */

.cabeca {
    background-color: var(--cinza-control);
    height: auto;
    width: auto;
    position: sticky;
    display: flex;
}

.nav-cabeca {
    background-color: var(--cor-fundo);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
}

.logo-control {
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
}

#img-logo {
    height: 100%;
    width: 100%;
}

.nav-cabeca H3 {
    color: var(--cinza-control);
    width: 80%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 23px;
}

.area-servicos {
    height: calc(100vh - 140px);
    width: 100%;
    display: flex;
    background-image: url(../assets/background.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right bottom;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selecione-servico {
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    font-family: var(--font-main);
    font-weight: 800;
}

.espaco {
    background-color: black;
    height: 50px;
    width: 100%;
    margin: 10px 0;
}

.fundo-cinza {
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    width: 1300px;
    height: 1000px;
}

.box-servicos {
    width: auto;
    max-width: 1200px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-quadrados {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.area-quadrados {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 400px;
    flex-direction: row;
    align-items: center;
    border: #33404D;
    border-radius: 5px;
}

.quadrado {
    border: 4px solid var(--verde-control);
    position: relative;
    border-radius: 5px;
    gap: 18px;
    width: 250px;
    height: 250px;
    padding: 20px;
    background-color: transparent;
}

.imagem-servico {
    justify-content: center;
    align-items: center;
    height: 100px;
}

.nome-servico {
    display: flex;
    justify-content: center;
}

.seta {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.btn-proximaPagina {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    height: 60px;
    width: 150px;
    margin-left: 30px;
}