:root {
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Garante que todos os itens não tenham margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-style: bold;
    list-style: none;
    z-index: 1000;
}

/* Ajustes de layout para o corpo */
.control-body-navegacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Cabeçalho */
.nav-cabeca {
    background-color: var(--cor-fundo);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-control {
    width: fit-content;
    padding-left: 5px;
}

#img-logo {
    height: 100%;
    width: 100%;
}

.nav-cabeca H3 {
    color: var(--cinza-control);
    width: 80%;
    padding-left: 20px;
    font-size: 23px;
}

/* Caixa dos serviços */
.box-servicos {
    background-color: rgba(0, 0, 0, 0.1); 
    height: calc(100vh - 19vh);
    width: calc(100vw - 2vw);
    padding: 15vw;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.area-quadrados {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}

/* Estilo do quadrado de serviço */
.quadrado {
    border: 4px solid var(--verde-control);
    width: 250px;
    height: 250px;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
}

/* Imagens dentro do quadrado */
.imagem-servico {
    height: 100px;
}

/* Botões de navegação */
.seta {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 20px;
}

.btn-proximaPagina {
    background-color: transparent;
    color: var(--cinza-control);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;:root {
        --verde-control: #3AA867;
        --cinza-control: #33404D;
        --cor-fundo: #f9f9f9;
        --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    /* Garante que todos os itens não tenham margens e padding */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--font-main);
        font-style: bold;
        list-style: none;
        z-index: 1000;
    }
    
    /* Ajustes de layout para o corpo */
    .control-body-navegacao{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    /* Cabeçalho */
    .nav-cabeca {
        background-color: var(--cor-fundo);
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .logo-control {
        width: fit-content;
        padding-left: 5px;
    }
    
    #img-logo {
        height: 100%;
        width: 100%;
    }
    
    .nav-cabeca H3 {
        color: var(--cinza-control);
        width: 80%;
        padding-left: 20px;
        font-size: 23px;
    }
    
    /* Caixa dos serviços */
    .box-servicos {
        background-color: rgba(0, 0, 0, 0.1); 
        height: calc(100vh - 19vh);
        width: calc(100vw - 2vw);
        padding: 15vw;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .area-quadrados {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        margin-top: 50px;
    }
    
    /* Estilo do quadrado de serviço */
    .quadrado {
        border: 4px solid var(--verde-control);
        width: 250px;
        height: 250px;
        padding: 20px;
        background-color: transparent;
        border-radius: 5px;
        text-align: center;
    }
    
    /* Imagens dentro do quadrado */
    .imagem-servico {
        height: 100px;
    }
    
    /* Botões de navegação */
    .seta {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        padding: 20px;
    }
    
    .btn-proximaPagina {
        background-color: transparent;
        color: var(--cinza-control);
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
    }
    
    .btn-proximaPagina i {
        font-size: 50px;
    }
    
    cursor: pointer;
}

.btn-proximaPagina i {
    font-size: 50px;
}
