/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
.body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

/* Estilo dos botões */
.botao-modal-ativacao-servico {
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.fundo-container-ativacao-servico {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.fundo-container-ativacao-servico.show {
    opacity: 1;
    pointer-events: auto;
}

/* Estilo do modal */
.modal-ativacao-servico {
    background-color: #e0e0e0;
    width: 80%;
    max-width: 600px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
    border-radius: 5px;
}

/* Estilo da linha horizontal */
.linha-ativacao-servico {
    border: none;
    border-top: 2px solid #000;
    width: 100%; 
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo do logo */
.logo-ativacao-servico {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 60px;
    max-width: 200px;
    height: auto;
}

/* Estilo do título */
.titulo-ativacao-servico {
    font-size: 28px;
    margin-bottom: 40px;
    font-weight: bold;
}

/* Estilo do parágrafo */
.texto-ativacao-servico {
    font-size: 22px;
    margin: 40px 0;
    text-align: center;
}

/* Grupo de botões */
.button-group-ativacao-servico {
    display: flex;
    justify-content: right;
    gap: 0px;
    margin-top: 20px;
}

/* Estilo do botão cancelar */
.cancel {
    background-color: #33404D;
    color: white;
    margin-right: 30px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.cancel:hover {
    color: #FF0000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo do botão salvar */
.save {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.save:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Responsividade */
@media (max-width: 1200px) {
    .modal-ativacao-servico {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    .modal-ativacao-servico {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .modal-ativacao-servico {
        width: 90%;
    }
    .titulo-ativacao-servico{
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .button-group-ativacao-servico {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-ativacao-servico {
        width: auto;
    }
}

@media (min-width: 401px) and (max-width: 550px){
    .modal-ativacao-servico {
        width: 95%;
        padding: 20px;
    }
    .titulo-ativacao-servico{
        margin-top: 7px;
        font-size: 20px;
    }
    .logo-ativacao-servico {
        top: 10px;
        width: 50px;
    }
    .button-group-ativacao-servico {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-ativacao-servico {
        width: auto;
    }
}

@media (max-width: 400px) {
    .modal-ativacao-servico {
        width: 95%;
        padding: 15px;
    }
    .titulo-ativacao-servico{
        margin-top: 7px;
        font-size: 20px;
    }
    .texto-ativacao-servico{
        font-size: 18px;
    }
    .logo-ativacao-servico {
        top: 10px;
        width: 50px;
    }
    .button-group-ativacao-servico {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-ativacao-servico {
        width: auto;
    }
}

@media (min-width: 320px) and (max-width: 340px) {
    .modal-ativacao-servico {
        width: 90%;
        padding: 15px;
    }
    .titulo-ativacao-servico{
        font-size: 16px;
    }
    .texto-ativacao-servico{
        font-size: 16px;
    }
    .logo-ativacao-servico {
        top: 15px;
        width: 40px;
    }
    .button-group-ativacao-servico {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-ativacao-servico {
        width: auto;
    }
}