<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- TROCA TÍTULO QUANDO FOR UTILIZAR -->
    <title>Atendimento PassControl</title> 
    

    <!-- IMPORT DA FONTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <!-- IMPORT DO CSS -->
    <link rel="stylesheet" href="../../../public/css/navegacao.css">
    <link rel="stylesheet" href="../../../public/css/menu_eli.css">
    <link rel="stylesheet" href="../../../public/css/atendimento.css">

</head>
<body class="control-body-navegacao">
    <header class="cabeca-navegacao-control">
        <nav class="nav-cabeca">
            <div class="logo-control">
                <img src="../../../public/img/icons/logo control.svg" alt="LOGOCONTROL" id="img-logo">
            </div>
            <H3>PassControl</H3>
            <div class="usu">                
                <!-- INFO DO USUARIO -->
                <div class="menu-usuario">
                    <a class="usu">Nome do Usuário</a>
                    <nav class="usu-detalhes"> 
                        <img src="../../../public/img/icons/image 33.svg"alt="">
                        <ul class="texto-usu">
                            <li class="nome-usu">Nome do Usuário</li>
                            <li class="email-usu">funcionario123@fun.br</li>
                            <li><a href="../../../app/admin/view/adm-logado.html">Editar Informações</a></li>
                            <li><a href="../../../login.html">Sair</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </nav>
        <div class="dark-area"></div>
    </header>

    <!-- MENU LATERAL -->
    <button class="botao-menu-mobile"> <!-- Botão ainda inativo -->
        <img class="icone-menu-lateral" src="../../../public/img/icons/DropDownIcon.svg" alt="MENU">
    </button>

    <div class="area-lateral-navegacao">
        <nav class="menu-lateral-navegacao">

            <div class="botao-navegacao">
                <a class="botao-lateal-navegacao ativo-estacionario" href="../../../app/admin/view/atendimento.html">
                    <img class="icone-menu-lateral ativo-estacionario" src="../../../public/img/icons/atend.svg" alt="ICONE ATENDIMENTO">
                    <div class="texto-bott">Atendimento</div>
                </a>
            </div>
            <div class="botao-navegacao">
                <a class="botao-lateal-navegacao" href="../../../app/admin/view/monitor-modal.html">
                    <img class="icone-menu-lateral" src="../../../public/img/icons/monitor.svg" alt="ICONE MONITOR">
                    <div class="texto-bott">Monitor</div>
                </a>
            </div>
            <div class="botao-navegacao">
                <a class="botao-lateal-navegacao" href="">
                    <img class="icone-menu-lateral" src="../../../public/img/icons/nota.svg" alt="ICONE RELATORIOS">
                    <div class="texto-bott">Relatórios</div>
                </a>
            </div>
            <div class="botao-navegacao">
                <a class="botao-lateal-navegacao" href="../../../app/admin/view/menuadm_usuario.html">
                    <img class="icone-menu-lateral" src="../../../public/img/icons/gestao.svg" alt="ICONE GESTAO">
                    <div class="texto-bott">Gestão</div>
                </a>
            </div>
        </nav>
        <div class="sair-navegacao">
            <a class="botao-lateal-navegacao" href="../../../login.html">
                <img class="icone-menu-lateral" src="../../../public/img/icons/sair.svg" alt="ICONE SAIR">
                <div class="texto-bott">Sair</div>
            </a>
        </div>
    </div>

    <section class="Area-Util-Projeto">
        <!-- INICIO DA ÁREA ÚTIL DA PÁGINA -->
        <!-- INSIRA O CORPO DA SUA PÁGINA A PARTIR DESTE PONTO -->

        <!-- <div class="principal-chamar-senha"> -->
            <!-- SUBMENU ATENDIMENTO -->
            <div class="scrollmenu" style="display: flex; justify-content: start; align-items: start;">
                <a href="../../../app/admin/view/atendimento_tempo_real.html">Guichês</a>
                <a href="../../../app/admin/view/atendimento.html" class="active">Atendimento</a>
            </div>

            <nav class="area-chamada-atendimento">
                <nav class="topo-area-chamada">
                    <ul class="esquerda-area-chamada">
                        <div class="guiche_senha-area-chamada">
                            <div class="guiche-area-chamada-tl">
                                <p>0</p>
                                <p>Guichê</p>
                            </div>
                            <div class="senha_fila-guiche-area-chamada">
                                <p>1</p>
                                <p>Senhas Na Fila</p>
                            </div>
                        </div>
                        <button class="botao_intervalo-guiche-area-chamada">
                            <a href="">
                                Intervalo
                                <img src="../../../public/img/icons/ampulheta.svg" alt="ampulheta">
                            </a>
                        </button>
                    </ul>
                    <ul class="direita-guiche-area-chamada">
                        <div class="area-botao--guiche-area-chamada">
                            <button class="botao--guiche-area-chamada">
                                <a href="../../../app/admin/view/consultar-fila.html">
                                    <img src="../../../public/img/icons/lupa.svg" alt="lupa">
                                    Consultar Fila
                                </a>
                            </button>
                            <button class="botao--guiche-area-chamada">
                                <a href="">
                                    <img src="../../../public/img/icons/user.svg" alt="usuário">
                                    Próxima Senha
                                </a>
                            </button>
                        </div>
                    </ul>
                </nav>
                <div class="meio-guiche-area-chamada">
                    <div class="meio_esquerda-guiche-area-chamada">
                        <h3>Senhas Atendidas No Dia</h3>
                    </div>
                    <div class="meio_direita-guiche-area-chamada">
                        <div class="senhas-guiche-area-chamada">
                            <p>0</p>
                            <p>Senhas Atendidas</p>
                        </div>
                        <div class="senhas-guiche-area-chamada">
                            <p>2</p>
                            <p>Senhas Ausente</p>
                        </div>
                    </div>
                </div>
                <div class="fundo-guiche-area-chamada">
                    <table class="tabela_atendimento-guiche-area-chamada">
                        <thead>
                            <tr>
                                <th>Ordem</th>
                                <th>Nome</th>
                                <th>Serviço</th>
                                <th>Senha</th>
                                <th>Início</th>
                                <th>Término</th>
                                <th>Categoria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#01</td>
                                <td>Guilherme Machado</td>
                                <td>IPTU</td>
                                <td>CM002</td>
                                <td>10:30</td>
                                <td>11:16</td>
                                <td>Comum</td>
                            </tr>
                            <tr>
                                <td>#02</td>
                                <td>Juliana Barbosa</td>
                                <td>Fiscalização</td>
                                <td>CM032</td>
                                <td>08:18</td>
                                <td>09:34</td>
                                <td>Preferencial</td>
                            </tr>
                            <tr>
                                <td>#03</td>
                                <td>Gabriel Alvin</td>
                                <td>Licenças</td>
                                <td>CM015</td>
                                <td>11:18</td>
                                <td>11:46</td>
                                <td>Preferencial</td>
                            </tr>
                        <tr>
                            <td>#04</td>
                            <td>Suelen Cabral</td>
                            <td>Ouvidoria</td>
                            <td>CM019</td>
                            <td>09:32</td>
                            <td>09:46</td>
                            <td>Comum</td>
                            
                        </tr>
                        <tr>
                            <td>#05</td>
                            <td>Fred Lopes</td>
                            <td>Concelho Municipal</td>
                            <td>CM033</td>
                            <td>08:01</td>
                            <td>08:24</td>
                            <td>Comum</td>
                            
                        </tr>
                        <tr>
                            <td>#06</td>
                            <td>Luan Rech</td>
                            <td>Licenças</td>
                            <td>CM056</td>
                            <td>11:53</td>
                            <td>12:07</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        <tr>
                            <td>#07</td>
                            <td>João Guilherme</td>
                            <td>Licenças</td>
                            <td>CM004</td>
                            <td>08:59</td>
                            <td>09:23</td>
                            <td>Comum</td>
                            
                        </tr>
                        <tr>
                            <td>#08</td>
                            <td>Eliandro</td>
                            <td>Ouvidoria</td>
                            <td>CM027</td>
                            <td>10:04</td>
                            <td>10:23</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        <tr>
                            <td>#03</td>
                            <td>Gabriel Alvin</td>
                            <td>Licenças</td>
                            <td>CM015</td>
                            <td>11:18</td>
                            <td>11:46</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        <tr>
                            <td>#03</td>
                            <td>Gabriel Alvin</td>
                            <td>Licenças</td>
                            <td>CM015</td>
                            <td>11:18</td>
                            <td>11:46</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        <tr>
                            <td>#03</td>
                            <td>Gabriel Alvin</td>
                            <td>Licenças</td>
                            <td>CM015</td>
                            <td>11:18</td>
                            <td>11:46</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        <tr>
                            <td>#03</td>
                            <td>Gabriel Alvin</td>
                            <td>Licenças</td>
                            <td>CM015</td>
                            <td>11:18</td>
                            <td>11:46</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        <tr>
                            <td>#03</td>
                            <td>Gabriel Alvin</td>
                            <td>Licenças</td>
                            <td>CM015</td>
                            <td>11:18</td>
                            <td>11:46</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        <tr>
                            <td>#03</td>
                            <td>Gabriel Alvin</td>
                            <td>Licenças</td>
                            <td>CM015</td>
                            <td>11:18</td>
                            <td>11:46</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        <tr>
                            <td>#03</td>
                            <td>Gabriel Alvin</td>
                            <td>Licenças</td>
                            <td>CM015</td>
                            <td>11:18</td>
                            <td>11:46</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        <tr>
                            <td>#03</td>
                            <td>Gabriel Alvin</td>
                            <td>Licenças</td>
                            <td>CM015</td>
                            <td>11:18</td>
                            <td>11:46</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        <tr>
                            <td>#03</td>
                            <td>Gabriel Alvin</td>
                            <td>Licenças</td>
                            <td>CM015</td>
                            <td>11:18</td>
                            <td>11:46</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        <tr>
                            <td>#03</td>
                            <td>Gabriel Alvin</td>
                            <td>Licenças</td>
                            <td>CM015</td>
                            <td>11:18</td>
                            <td>11:46</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        <tr>
                            <td>#03</td>
                            <td>Gabriel Alvin</td>
                            <td>Licenças</td>
                            <td>CM015</td>
                            <td>11:18</td>
                            <td>11:46</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        <tr>
                            <td>#03</td>
                            <td>Gabriel Alvin</td>
                            <td>Licenças</td>
                            <td>CM015</td>
                            <td>11:18</td>
                            <td>11:46</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        <tr>
                            <td>#03</td>
                            <td>Gabriel Alvin</td>
                            <td>Licenças</td>
                            <td>CM015</td>
                            <td>11:18</td>
                            <td>11:46</td>
                            <td>Preferencial</td>
                            
                        </tr>
                        
                    </table>
                </div>
            </nav>            
        </div>
        <!-- FIM DA ÁREA ÚTIL DA PÁGINA -->
    </section> 
</body>
</html>