<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- TROCA TÍTULO QUANDO FOR UTILIZAR -->
    <title>Tela Cadastro</title> 
    

    <!-- IMPORT DA FONTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <!-- IMPORT DO CSS -->
    <link rel="stylesheet" href="../css/navegacao.css">
    <link rel="stylesheet" href="../css/edit.css">

    <link rel="stylesheet" href="../modais/Modal Confirmação dos Dados Registrados/estilo.css">
    <link rel="stylesheet" href="../modais/Modal Confirmação dos Dados/estilo.css">

</head>
<body class="control-body-navegacao">
    <header class="cabeca-navegacao-control">
        <nav class="nav-cabeca">
            <div class="logo-control">
                <img src="../assets/icons/logo control.svg" alt="LOGOCONTROL" id="img-logo">
            </div>
            <H3>PassControl</H3>
            <div class="usu">                
                <!-- INFO DO USUARIO -->
                <div class="menu-usuario">
                    <a class="usu">Nome do Usuário</a>
                    <nav class="usu-detalhes"> 
                        <img src="../assets/icons/image 33.svg" alt="">
                        <ul class="texto-usu">
                            <li class="nome-usu">Nome do Usuário</li>
                            <li class="email-usu">funcionario123@fun.br</li>
                            <li><a href="adm-logado.html">Editar Informações</a></li>
                            <li><a href="login.html">Sair</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </nav>
        <div class="dark-area"></div>
    </header>

    <!-- MENU LATERAL -->
    <button class="botao-menu-mobile"> <!-- Botão ainda inativo -->
        <img class="icone-menu-lateral" src="../assets/icons/DropDownIcon.svg" alt="MENU">
    </button>

    <div class="area-lateral-navegacao">
        <nav class="menu-lateral-navegacao">

            <div class="botao-navegacao">
                <a class="botao-lateal-navegacao" href="atendimento.html">
                    <img class="icone-menu-lateral" src="../assets/icons/atend.svg" alt="ICONE ATENDIMENTO">
                    <div class="texto-bott">Atendimento</div>
                </a>
            </div>
            <div class="botao-navegacao">
                <a class="botao-lateal-navegacao" href="Monitor.html">
                    <img class="icone-menu-lateral" src="../assets/icons/monitor.svg" alt="ICONE MONITOR">
                    <div class="texto-bott">Monitor</div>
                </a>
            </div>
            <div class="botao-navegacao">
                <a class="botao-lateal-navegacao" href="">
                    <img class="icone-menu-lateral" src="../assets/icons/nota.svg" alt="ICONE RELATORIOS">
                    <div class="texto-bott">Relatórios</div>
                </a>
            </div>
            <div class="botao-navegacao">
                <a class="botao-lateal-navegacao ativo-estacionario" href="menuadm_usuario.html">
                    <img class="icone-menu-lateral ativo-estacionario" src="../assets/icons/gestao.svg" alt="ICONE GESTAO">
                    <div class="texto-bott">Gestão</div>
                </a>
            </div>
        </nav>
        <div class="sair-navegacao">
            <a class="botao-lateal-navegacao" href="login.html">
                <img class="icone-menu-lateral" src="../assets/icons/sair.svg" alt="ICONE SAIR">
                <div class="texto-bott">Sair</div>
            </a>
        </div>
    </div>

        <section class="Area-Util-Projeto">
        <!-- <section class="grupo"> -->
            <!-- Codigo luan -->
                
            <div class="titulo">
            <h1 class="cadastro_title">Cadastro de Usuário</h1><br>
            <hr>   
            </div>
            <div class="quadrado">
                <div class="container-flex">
                    <section class="forme">
                            <div class="nome">
                                <label class="labeledit" for="nome">Nome*</label>    
                                <input class="borda" type="text" name="nome" placeholder=""> 
                            </div>
                            <div class="email">
                                <label class="labeledit" for="email">Email*</label>    
                                <input class="borda" type="text" name="email">
                            </div>
                            <div class="cpf">    
                                <label class="labeledit" for="cpf">CPF</label>
                                <input class="borda" type="text" name="email">
                            </div>
                            <div class="senha">    
                                <label class="labeledit" for="senha">Senha*</label>
                                <input class="borda" type="password" id="senha1" name="senha" required>
                                <span class="toggle-password" onclick="tooglepassword()"></span>
                            </div>
                            <div class="confirmar">    
                                <label class="labeledit" for="confirmar">Confirmar Senha*</label>
                                <input class="borda" type="password" id="senha2" name="confirmar" required>
                                <span class="toggle-password" onclick="tooglepassword()"></span>
                            </div>
                    </section>
                </div>
                <div class="selecionar">
                  
                    <div class="perfild">    
                        <label class="labeledit" for="perfil">Perfil De Acesso</label>
                        <select class="selecao" name="plataforma" required="required">
                            <option class="pi" value="admin">Administrador</option>
                            <option class="pi" value="sup">Supervisor</option>
                            <option class="pi" value="atend">Atendente</option>
                            <option class="pi" value="auto-at">Terminal de Autoatendimento</option>
                        </select>
                    </div>    
                    <title class="servico">Seviços</title> 
                        <div class="checkbox-container">
                            <div class="column-1"> 
                                <label class="customizado"> 
                                    <input type="checkbox" class="item" id="checkbox"> 
                                    <span class="teste">Conselho Muncipal</span> 
                                </label> 
                                <label class="customizado"> 
                                    <input type="checkbox" class="item" id="checkbox"> 
                                    <span class="teste">Fiscalização</span> 
                                </label>
                                <label class="customizado"> 
                                    <input type="checkbox" class="item" id="checkbox"> 
                                    <span class="teste">Iluminação Pública</span>
                                </label>  
                                <label class="customizado"> 
                                    <input type="checkbox" class="item" id="checkbox"> 
                                    <span class="teste">IPTU</span> 
                                </label>  
                            </div> 
                            <div class="column-2"> 
                                <div class="caixa"></div> 
                                <label class="customizado">      
                                    <input type="checkbox" class="item" id="checkbox">
                                    <span class="teste">Licenças</span>
                                </label> 
                                <label class="customizado"> 
                                    <input type="checkbox" class="item" id="checkbox"> 
                                    <span class="teste">Ouvidoria</span> 
                                </label> 
                                <label class="customizado"> 
                                    <input type="checkbox" class="item" id="checkbox"> 
                                    <span class="teste">Poda De Àrvores</span> 
                                </label>
                                <label class="customizado"> 
                                    <input type="checkbox" id="select-all"> 
                                    <label for="select-all">Selecionar Todos</label> 
                                </label>   
                            </div>
                        </div>
                    <div class="btn">
                        <script src="scripts.js"></script>   
                        <button class="botao1" onclick="window.location.href='javascript:history.back()';">Voltar</button>
                        <button class="botao2">Salvar</button>
                    </div>
                </div>
            </div>
        </section>                                 
    </body>
</html>

                                