/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
.estruct-pass {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

/* Estilo dos botões */
.botao-modal {
    padding: 12px 20px;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    background-color: #000;
}

/* Estilo do container do modal */
.modal-container {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 99999;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

/* Estilo do modal */
.modal {
    background-color: #e0e0e0;
    width: 90%;
    max-width: 800px; /* Ajustado para um tamanho melhor */
    min-width: 400px;
    height: auto;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
    box-sizing: border-box;
    border-radius: 0;
}

/* Linha horizontal */
.row {
    border: none;
    border-top: 3px solid #000;
    width: 32.4vw;
    margin-left: calc(-16.2vw + 50%);
    margin-right: calc(-20vw + 50%);
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo do logo */
.logo {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 12%;
    max-width: 200px;
}

/* Título */
.title {
    font-size: 28px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: start;
}

/* Parágrafo */
.desk-info, .name, .info {
    font-size: 22px;
    margin: 20px 0;
    text-align: center;
}

/* Grupo de botões */
.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-group button {
    text-align: center;
    width: auto;
    padding: 12px 40px;
    margin: 5px;
}

/* Botões específicos */
.senha {
    margin-right: 30px;
    color: red;
    font-weight: bold;
}

/* Botão cancelar */
.ausente {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 12px 20px;
    text-align: center;
    transition: 0.3s;
}

.ausente:hover {
    color: #FF0000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Botão salvar */
.presente {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 12px 20px;
    text-align: center;
    transition: 0.3s;
}

.presente:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Botão Chamar Novamente */
.chamar {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 12px 20px;
    text-align: center;
    display: block;
    margin: 10px auto;
    transition: 0.3s;
}

.chamar:hover {
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Media Queries */

/* Responsividade para telas de 320px */
@media (min-width: 320px) and (max-width: 350px) {
    .modal {
        width: 95% !important;
        min-width: auto !important;
        padding: 10px !important;
    }
    
    .logo {
        width: 40px !important;
        top: 5px !important;
        right: 5px !important;
    }

    .title {
        font-size: 16px !important;
        margin-bottom: 15px !important;
    }

    .button-group {
        flex-direction: column !important;
        align-items: center;
        gap: 5px;
    }

    .button-group button {
        font-size: 10px;
        padding: 6px 10px;
        width: 100%;
    }

    .chamar {
        width: 60% !important; /* Garante que tenha o mesmo tamanho dos outros botões */
        white-space: nowrap; /* Impede a quebra de linha */
        padding: 10px 20px !important; /* Mesmo padding dos outros botões */
        font-size: 10px; /* Mantém a consistência do tamanho da fonte */
    }

    .row {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .desk-info, .name, .info {
        font-size: 18px !important;
    }

    .senha {
        display: inline-block;
        text-align: center;
        margin-left: 20px !important; /* Ajuste fino para alinhar com o texto */
    }
}

/* Celulares pequenos */
@media (min-width: 351px) and (max-width: 400px) {
    .modal {
        width: 90% !important;
        min-width: auto !important;
        padding: 15px !important;
    }
    
    .logo {
        width: 15% !important;
        top: 15px !important;
        right: 10px;
    }

    .title {
        font-size: 20px !important;
        position: relative !important;
        top: 15px !important;
    }

    .button-group {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .button-group button {
        font-size: 12px;
        padding: 8px 12px;
    }

    .chamar .ausente .presente {
        width: 60% !important; /* Garante que tenha o mesmo tamanho dos outros botões */
        white-space: nowrap; /* Impede a quebra de linha */
        padding: 10px 20px !important; /* Mesmo padding dos outros botões */
        font-size: 10px; /* Mantém a consistência do tamanho da fonte */
    }

    /* Ajuste da linha horizontal */
    .row {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .desk-info, .name, .info {
        font-size: 18px !important;
    }

    .senha {
        display: inline-block;
        text-align: center;
        margin-left: 29px !important; /* Ajuste fino para alinhar com o texto */
    }
}

/* Celulares médios */
@media (min-width: 480px) and (max-width: 767px) {
    .modal {
        width: 95%;
        padding: 20px;
    }

    .row {
        width: 114%;
        margin-left: -7%;
        margin-right: 10%;
    }

    .logo{
        width: 10% !important;
        top: 30px !important;
    }

    .title {
        font-size: 20px;
    }

    .senha {
        display: inline-block;
        text-align: center;
        margin-left: 40px; /* Ajuste fino para alinhar com o texto */
    }
}

/* Tablets */
@media (max-width: 768px) {
    .modal {
        width: 80%;
        padding: 25px;
    }

    .row {
        width: 109%;
        margin-left: -4.4%;
        margin-right: 10%;
    }

    .logo{
        width: 10%;
        top: 20px;
    }

    .title {
        font-size: 24px;
        position: relative;
        top: 10px;
    }

    .senha {
        display: inline-block;
        text-align: center;
        margin-left: 30px; /* Ajuste fino para alinhar com o texto */
    }
}

/* Tablets grandes e telas intermediárias */
@media (min-width: 769px) and (max-width: 1023px) {
    .modal {
        width: 75%;
        padding: 30px;
    }

    .row {
        width: 108.5%;
        margin-left: -4.2%;
        margin-right: 10%;
    }

    .logo{
        width: 10%;
        top: 25px;
    }

    .title {
        font-size: 26px;
        position: relative;
        top: 10px;
    }

    .senha {
        text-align: center;
        margin-left: 30px;
    }
}


/* Notebooks e desktops */
@media (min-width: 1024px) {
    .modal {
        width: 80%;
        max-width: 600px;
    }

    .row {
        width: 115.3%;
        margin-left: -7.7%;
        margin-right: 10%;
    }

    .title {
        font-size: 32px;
    }

    .senha {
        display: inline-block;
        text-align: center;
        margin-left: 30px; /* Ajuste fino para alinhar com o texto */
    }
}

@media (min-width: 1200px) {
    .modal {
        width: 80% !important;
        max-width: 600px;
    }

    .row {
        width: 115.3%;
        margin-left: -7.7%;
        margin-right: 10%;
    }

    .title {
        font-size: 32px;
    }

    .senha {
        display: inline-block;
        text-align: center;
        margin-left: 30px; /* Ajuste fino para alinhar com o texto */
    }
}