/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

/* Estilo dos botões */
.botao-modal-consultar-fila {
    background-color: #33404D;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.fundo-consultar-fila{
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 5;
}

.show {
    display: flex;
    opacity: 1;
    pointer-events: auto;
}

/* Estilo do modal */
.modal-consultar-fila {
    background-color: #e0e0e0;
    width: 80%;
    max-width: 1200px; /* Limita o tamanho máximo */
    min-width: 400px; /* Evita que fique pequeno demais */
    height: auto; /* Altura ajustável automaticamente */
    padding: 0px 20px 20px 20px ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
    box-sizing: border-box;
    border-radius: 5px;
}

/* Estilo do logo */
.logo-consultar-fila {
    margin-right: 48px;
    top: 10px;
    right: 20px;
    width: 80px; 
    max-width: 200px; /* Limita o tamanho máximo */
    height: auto;
}

/* Estilo do título */
.topo-esquerda-consultar-fila{
    margin-left: 48px;
    align-items: end;
    justify-content: center;
    display: flex;
}


.topo-esquerda-consultar-fila h3{
    display: flex;
    font-size: 28px;
    /* margin-bottom: 40px; */
    font-weight: bold;
    justify-content: left;
    align-items: center;
    color: #33404D;
}


.button-group-consultar-fila{
    display: flex;
    justify-content: end;
    margin-right: 1rem;
}

/* Estilo do botão salvar */
button.return {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
    margin-top: 3rem;
    
}

/* Estilo do botão salvar no hover */
button.return:hover {
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}







/* Media Queries */
    
/* Telas pequenas (até 320px) */
@media (max-width: 400px) and (min-width: 320px) {
    .topo-esquerda-consultar-fila{
        margin-left: 8px;
    }
    .logo-consultar-fila{
        margin-right: 8px;
    }
    .modal-consultar-fila {
        width: 90% !important;
        min-width: auto !important; /* Permite ajuste dinâmico */
        padding: 15px !important;
    }
    .topo-esquerda-consultar-fila h3{
        font-size: 18px;
        margin-bottom: 0px;
    }
    .logo-consultar-fila{
        right: 30px;
        width: 60px;
    }
    .button-group-consultar-fila{
        justify-content: center;
        margin-right: 0rem;
    } 
}

/* Telas pequenas (celulares) */
@media (max-width: 480px) {
    .modal-consultar-fila {
        width: 95%;
        padding: 20px;
    }
}

/* Telas médias (tablets) */
@media (max-width: 680px) and (min-width: 401px) {
    .topo-esquerda-consultar-fila{
        margin-left: 12px;
    }
    .logo-consultar-fila{
        margin-right: 12px;
    }
    .modal-consultar-fila {
        width: 80%;
        /* padding: 25px; */
    }
    .button-group-consultar-fila{
        justify-content: center;
        margin-right: 0rem;
    }
}
@media (max-width: 900px) and (min-width: 681px) {
    .topo-esquerda-consultar-fila{
        margin-left: 18px;
    }
    .logo-consultar-fila{
        margin-right: 18px;
    }
    .modal-consultar-fila {
        width: 80%;
        /* padding: 25px; */
    }
}

/* Telas grandes (desktops grandes) */
@media (min-width: 900px) and (max-width: 1200px) {
    .modal-consultar-fila{
        width: 80%;
    }
    .topo-esquerda-consultar-fila{
        margin-left: 24px;
    }
    .logo-consultar-fila{
        margin-right: 24px;
    }
    .modal-consultar-fila {
        width: 100%;
        max-width: 1200px;
    }
    .logo-consultar-fila {
        margin-right: 38px;
    }
    /* Estilo do título */
    .topo-esquerda-consultar-fila{
        margin-left: 38px;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .modal-consultar-fila {
        width: 80%;
        max-width: 1200px;
    }
    .logo-consultar-fila {
        margin-right: 38px;
    }
    
    /* Estilo do título */
    .topo-esquerda-consultar-fila{
        margin-left: 38px;
    }
}