@import url(navegacao.css);

:root {
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-size: bolder;
}


.area-chamada-atendimento {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* justify-content: center; */
    align-items: center;
    margin-top: 80px;
}

.topo-area-chamada {
    width: 96%;
    height: 100%;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    align-content: center;
    gap: 2vh;
    /* gap: 10%; */
    /* background-color: crimson; */
}

.esquerda-area-chamada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    height: 100%;
    width: 70%;
    font-size: 28px;
    gap: 0.6rem;
}
.atendimento-atual-atendimento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20vh;
    width: 100%;
    gap: 2%;
    /* background-color: aqua; */
}
.info-atendimento-inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    height: 50%;
    width: 100%;
    margin-top: 0%;
    /* padding: 1%; */
    /* background-color: aqua; */
}

.senhas-na-fila-atendimento, .senhas-na-fila-atendimento-vermelho, .senha-ausente-e-atendida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.38);
    /* margin-top: 18px; */
    font-size: 28px;
    font-weight: 700;
    color: #33404D;
    background-color: rgba(255, 255, 255, 0.5);  
}
.numero-guiche-atendimento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 96%;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.38);
    /* margin-top: 18px; */
    font-size: 28px;
    font-weight: 700;
    color: #33404D;
    background-color: rgba(255, 255, 255, 0.5);
}
.senha-ausente-e-atendida{
    gap: 1rem;
    align-items: start;  
    display: flex;
}
.senhas-na-fila-atendimento-vermelho{
    color: red;
}
.texto-senhas-atendimento-ausente, .texto-senhas-atendimento-atendidas{
    display: flex;
}

/* .senhas-na-fila-atendimento p, .numero-guiche-atendimento p, .senha-ausente-e-atendida p {
    text-align: center;
    align-items: center;
    width: 100%;
} */
.texto-info-atendimento{
    margin: 0;
    margin-left: 1rem;
    font-size: 24px;
}
.numero--atendimento{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;   
    font-size: 26px; 
    font-weight: 800;
}
.senhas-vermelhas{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0; 
}
.texto-info-atendimento{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0; 
}

.informacoes-area-chamada {
    display: flex;
    /* justify-content: start; */
    align-items: start;
    width: 82%;
    height: 95%;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.38);
    font-size: 28px;
    font-weight: 700;
    color: #33404D;
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: column;
    gap: 1.5rem;
}
.nome-area-chamada{
    display: flex;
    padding-left: 1.5rem;
}
.nome-tela-atendimento{
    margin-left: 0%;
    font-size: 24px;
}
.pessoa-tela-atendimento{
    font-size: 24px;
    display: flex;
}
.info-area-chamada{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    align-content: flex-end;
    /* justify-content: space-between; */
}
.senha-area-chamada{
    padding-left: 1.5rem;
    display: flex;
    align-items: start;
    width: 50%;
    /* gap: 0.5rem; */
    font-size: 24px;
}
.servico-area-chamada{
    display: flex;
    align-items: end;
    /* gap: 0.4rem; */
    font-size: 24px;
}
.senha-area-chamada p{
    font-size: 24px;
}
.servico-area-chamada p{
    font-size: 24px;
}
.botao-proxima-senha-atendimento, .botao-encerrar-atendimento,.botao-consultar-fila-atendimento, .botao-intervalo-atendimento  {
    background-color: var(--cinza-control);
    color: #f9f9f9;
    /* margin-top: 15px; */
    padding: 0%;
    display: flex;
    /* flex-direction: row; */
    width: 50%;
    height: 9rem;
    /* justify-content: start; */
    /* align-items: start; */
    border-radius: 5px;
    font-size: 8px;
    font-weight: 700;
}
.area-botao-atendimento{
    display: flex;
    gap: 2rem;
}
.texto-botao-atendimento{
    display: flex;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 2%;
    /* padding-left: 20px; */
    /* text-align: start; */
    height: 100%;
    text-decoration: none;
    color: var(--cor-fundo);
    flex-direction: column;
}

.direita-guiche-area-chamada {
    display: flex;
    /* flex-direction: column; */
    width: 30%;
    height: 100%;
    justify-content: flex-end;
    /* margin-top: 34px; */
    margin-right: 2%;
    /* background-color: blue; */
}

.area-botao--guiche-area-chamada {
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 10px;
    /* margin: -3px; */
}

.botao--guiche-area-chamada {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    font-weight: bold;
    border-radius: 5px;
    width: 223px;
    height: 109px;
    background-color: var(--verde-control);
    margin-top: 34px;
    font-size: 28px;
    font-weight: 700;
    border: none;
    outline: none;
}
.botao--guiche-area-chamada a{
    height: 100%;
    width: 100%;
}

.botao--guiche-area-chamada a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f9f9f9;
}

.meio-guiche-area-chamada {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 0%;
    /* background-color: chartreuse; */
    margin-top: 5rem; 
    justify-content: space-between;
    text-align: end;
}

.meio-guiche-area-chamada h3 {
    font-weight: 700;
    font-size: 28px;
    color: #33404D;
}


.meio-guiche-area-chamada h3 {
    /* font-weight: 700;
    font-size: 32px;
    color: #33404D;
    /* margin-bottom: -32px; */
    /* margin-bottom: -4%;
    margin-left: 5%; */ 
}

.meio_direita-guiche-area-chamada {
    /* background-color: blueviolet; */
    justify-content: center;
    align-items: start;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    width: 44%;
    height: 130%;
    gap: 15px;
    margin-right: 3%;
    /* background-color: aqua; */
    /* background-color: darkturquoise; */
}

.senhas-guiche-area-chamada {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 60%;
    /* background-color: aliceblue; */
    background-color: rgba(230, 230, 230, 0.7);
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.38);
    font-size: 32px;
    font-weight: 700;
    color: #33404D;
    border-radius: 2%;
    gap: 0;
}
.senhas-guiche-area-chamada h2{
    padding-top: 5%;
    height: 50%;
    /* background-color: red; */
}
.senhas-guiche-area-chamada p{
    font-size: 2.5vh;
}



/* TABELA  */
.fundo-guiche-area-chamada{ 
    width: 96%; 
    font-weight: 600; 
    height: 100%; 
    border-radius: 5px; 
    background-color: rgb(255, 255, 255,0.5); 
    gap: 15px; 
    margin-top: 2rem; 
    /* overflow-x: auto;  */
    display: flex; 
    display: block; 
    justify-content: left; 
} 
.tabela_atendimento-guiche-area-chamada { 
    /* border: 1px solid black;  */
    border-collapse: collapse; 
    background-color: rgba(255, 255, 255, 0.5); 
    width: 95%; 
    margin: 2vw; 
    max-height: 230px; 
    position: relative; 
    overflow-x: auto;  
    /* display: block;   */
    transition: overflow 0.3s ease;  
} 
.tabela_atendimento-guiche-area-chamada:hover { 
    overflow-y: auto;  
} 
.tabela_atendimento-guiche-area-chamada th { 
    background-color: var(--cinza-control); 
    color: var(--cor-fundo); 
} 
th { 
    position: sticky; 
    top: 0; 
    background-color: #f4f4f4; 
    z-index: 2; 
    padding: 10px; 
    text-align: left; 
    border: 1px solid black; 
    min-width: 50px; 

} 
td { 
    font-size: 16px;
    border: 1px solid black; 
    padding: 9px; 
    text-align: left; 
    min-width: 50px; 
    color: var(--cinza-control); 
} 
td, th {
    /* overflow-y: auto; */
    /* min-width: 50px; */
    width: calc(+140px);
    /* white-space: normal; Permite quebra de linha */
    /* word-wrap: break-word; Garante que palavras longas quebrem */
}
thead, tbody tr { 
    display: table; 
    width: 100%; 
    table-layout: fixed; 
} 
tbody { 
    display: block; 
    max-height: 230px; 
    overflow-y: scroll;  
    position: relative; 

} 
.tabela_atendimento-guiche-area-chamada tbody::-webkit-scrollbar { 
    width: 0.1px; 
    opacity: 0;  
    transition: opacity 0.3s ease;  
} 
.tabela_atendimento-guiche-area-chamada:hover tbody::-webkit-scrollbar { 
    opacity: 1;  
    width: 9px; 
} 
.tabela_atendimento-guiche-area-chamada tbody::-webkit-scrollbar-thumb { 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 4px;

} 
.tabela_atendimento-guiche-area-chamada tbody::-webkit-scrollbar-track { 
    background: transparent; 
} 

.tabela_atendimento-guiche-area-chamada tbody::-webkit-scrollbar-thumb:hover { 
    background-color: rgba(0, 0, 0, 0.7); 
    width: 9px; 
} 

.tabela_atendimento-guiche-area-chamada:hover tbody,thead{ 
    margin-right: -9px;
    /* display: flex; */
} 

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; 
    
}


@media screen and (min-width: 1441px) and (max-width: 1640px) {
    .texto-botao-atendimento{
        font-size: 20px;
    }
    .area-botao-atendimento{
        display: flex;
        gap: 1rem;
    }
    .nome-area-chamada{
        display: flex;
        padding-left: 0.6rem;
    }
    .nome-area-chamada p{
        font-size: 20px;
    }
    .senha-area-chamada{
        padding-left: 0.6rem;
    }
    .senha-area-chamada p{
        font-size: 20px;
    }
    .servico-area-chamada p{
        font-size: 20px;
    }
    .texto-info-atendimento{    
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .numero--atendimento{  
        font-size: 24px; 
        font-weight: 800;
    }
    .meio-guiche-area-chamada{
        margin-top: 3rem; 
    }
    .meio-guiche-area-chamada h3{
        font-size: 26px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .informacoes-area-chamada{
        gap: 0;
    }
    .texto-botao-atendimento{
        font-size: 18px;
    }
    .area-botao-atendimento{
        display: flex;
        gap: 1rem;
    }
    .nome-area-chamada{
        display: flex;
        padding-left: 0.6rem;
    }
    .senha-area-chamada{
        padding-left: 0.6rem;
    }
    .senha-area-chamada p{
        font-size: 18px;
    }
    .nome-area-chamada p{
        font-size: 19px;
    }
    .servico-area-chamada p{
        font-size: 18px;
    }
    .texto-info-atendimento{    
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .numero--atendimento{  
        font-size: 24px; 
        font-weight: 800;
    }
    .meio-guiche-area-chamada{
        margin-top: 2.4rem; 
    }
    .meio-guiche-area-chamada h3{
        font-size: 26px;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .informacoes-area-chamada{
        gap: 0;
    }
    .texto-botao-atendimento{
        font-size: 18px;
    }
    .area-botao-atendimento{
        display: flex;
        gap: 1rem;
    }
    .nome-area-chamada{
        display: flex;
        padding-left: 0.6rem;
        gap: 0.4rem;
    }
    .nome-area-chamada p{
        font-size: 20px;
    }
    .senha-area-chamada{
        padding-left: 0.6rem;
    }
    .senha-area-chamada p{
        font-size: 20px;
    }
    .servico-area-chamada p{
        font-size: 20px;
    }
    .texto-info-atendimento{    
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .numero--atendimento{  
        font-size: 22px; 
        font-weight: 800;
    }
    .meio-guiche-area-chamada{
        margin-top: 2.4rem; 
    }
    .meio-guiche-area-chamada h3{
        font-size: 25px;
    }
    td { 
        font-size: 15px;
    }
}
@media screen and (min-width: 710px) and (max-width: 999px) {
    .informacoes-area-chamada{
        gap: 0;
    }
    .texto-botao-atendimento{
        font-size: 16px;
        flex-direction: row;
        gap: 2px;
    }
    .area-botao-atendimento{
        display: flex;
        gap: 1rem;
    }
    .info-area-chamada{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        align-content: flex-start;
    }
    .senha-area-chamada{
        padding-left: 0rem;
        display: flex;
        align-items: start;
        width: 90%;
        margin-left: 1rem;
    }
    .servico-area-chamada{
        margin-left: 1rem;
        display: flex;
        gap: 0rem;
    }
    .informacoes-area-chamada {
        gap: 0rem;
    }
    .nome-area-chamada{
        display: flex;
        padding-left: 0.5rem;
        gap: 0rem;
    }
    .nome-area-chamada p{
        font-size: 20px;
    }
    .informacoes-area-chamada{
        justify-content: space-between;
    }
    .senha-area-chamada p{
        font-size: 20px;
    }
    .servico-area-chamada{
        width: 0px;
        display: none;
    }
    .servico-area-chamada p{
        font-size: 20px;
    }
    .texto-info-atendimento{    
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .numero--atendimento{  
        font-size: 20px; 
        font-weight: 800;
    }
    .area-botao-atendimento{
        display: flex;
        flex-direction: column;
    }
    .botao-proxima-senha-atendimento, .botao-encerrar-atendimento,.botao-consultar-fila-atendimento, .botao-intervalo-atendimento {
        width: 100%;
        height: 4.5rem;
    }
    .info-atendimento-inicio {
        height: 40%;
    }
    .tabela_atendimento-guiche-area-chamada{
        margin: 2vw;
    }
    .meio-guiche-area-chamada{
        margin-top: 1.6rem; 
    }
    .meio-guiche-area-chamada h3{
        font-size: 24px;
    }
    td { 
        font-size: 15px;
    }
}
@media screen and (min-width: 635px) and (max-width: 709px) {
    .texto-botao-atendimento{
        font-size: 15px;
        flex-direction: row;
        gap: 4px;
        width: 94%;
        padding: 0%;
    }
    .area-botao-atendimento{
        display: flex;
        gap: 1rem;
    }
    .info-area-chamada{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        align-content: flex-start;
    }
    .senha-area-chamada{
        padding-left: 0rem;
        display: flex;
        align-items: start;
        width: 50%;
        margin-left: 0.5rem;
    }
    .servico-area-chamada{
        margin-left: 1rem;
        display: flex;
        gap: 0rem;
    }
    .informacoes-area-chamada {
        gap: 0rem;
    }
    .nome-area-chamada{
        display: flex;
        padding-left: 1rem;
        gap: 0rem;
    }
    .nome-area-chamada p{
        font-size: 18px;
    }
    .informacoes-area-chamada{
        justify-content: space-between;
    }
    .senha-area-chamada p{
        font-size: 18px;
    }
    .servico-area-chamada{
        display: none;
    }
    .servico-area-chamada p{
        font-size: 20px;
    }
    .texto-info-atendimento{    
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .numero--atendimento{  
        font-size: 20px; 
        font-weight: 800;
    }
    .area-botao-atendimento{
        display: flex;
        flex-direction: column;
        display: flex;
        gap: 0.5rem;
        /* height: 42%; */
    }
    .area-botao--guiche-area-chamada{
        gap: 0.4rem;
        margin-top: 0.2rem;
        height: 32vh;
    }
    .senhas-na-fila-atendimento, .senhas-na-fila-atendimento-vermelho{
        height: 85%;
        /* background-color: #3AA867; */
    }
    .botao-proxima-senha-atendimento, .botao-encerrar-atendimento,.botao-consultar-fila-atendimento, .botao-intervalo-atendimento {
        width: 100%;
        height: 4.2rem;
    }
    .info-atendimento-inicio {
        height: 40%;
    }
    .tabela_atendimento-guiche-area-chamada{
        margin: 2.5vw;
    }
    .meio-guiche-area-chamada{
        margin-top: 1.2rem; 
    }
    .meio-guiche-area-chamada h3{
        font-size: 24px;
    }
    td { 
        font-size: 14.5px;
    }
}
@media screen and (min-width: 535px) and (max-width: 634px) {
    .area-chamada-atendimento{
        margin-top: 8vh;
    }
    .texto-botao-atendimento{
        font-size: 14px;
        flex-direction: row;
        gap: 0px;
        width: 94%;
        padding: 0%;
    }
    .atendimento-atual-atendimento{
        height: 18vh;
    }
    .area-botao-atendimento{
        display: flex;
        gap: 1rem;
    }
    .info-area-chamada{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        align-content: flex-start;
    }
    .senha-area-chamada{
        padding-left: 0rem;
        display: flex;
        align-items: start;
        width: 50%;
        margin-left: 1rem;
    }
    .servico-area-chamada{
        margin-left: 1rem;
        display: flex;
        gap: 0rem;
    }
    .informacoes-area-chamada {
        gap: 0rem;
    }
    .nome-area-chamada{
        display: flex;
        padding-left: 0.5rem;
        gap: 0rem;
    }
    .nome-area-chamada p{
        font-size: 16px;
    }
    .informacoes-area-chamada{
        justify-content: space-between;
    }
    .senha-area-chamada p{
        font-size: 15px;
    }
    .servico-area-chamada{
        display: none;
    }
    .servico-area-chamada p{
        font-size: 20px;
    }
    .texto-info-atendimento{    
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .numero--atendimento{  
        font-size: 18px; 
        font-weight: 800;
    }
    .area-botao-atendimento{
        display: flex;
        flex-direction: column;
        display: flex;
        gap: 0.5rem;
        /* height: 42%; */
    }
    .area-botao--guiche-area-chamada{
        gap: 0.4rem;
        margin-top: 0.2rem;
        height: 32vh;
    }
    .senhas-na-fila-atendimento, .senhas-na-fila-atendimento-vermelho{
        height: 85%;
        /* background-color: #3AA867; */
    }
    .botao-proxima-senha-atendimento, .botao-encerrar-atendimento,.botao-consultar-fila-atendimento, .botao-intervalo-atendimento {
        width: 100%;
        height: 4rem;
    }
    .botao-proxima-senha-atendimento h4, .botao-encerrar-atendimento h4,.botao-consultar-fila-atendimento h4, .botao-intervalo-atendimento h4 {
        width: 70%;
        height: auto;
    }
    .img-proxima-senha-atendimento, .img-encerrar-atendimento-tela, .img-consultar-fila-atendimento, .img-intervalo-atendimento{
        width: 30%;
        height: 50%; 
        /* margin-left: 0.1rem; */
        gap: 10px;
    }
    .info-atendimento-inicio {
        height: 40%;
    }
    .tabela_atendimento-guiche-area-chamada{
        margin: 2.8vw;
    }
    .meio-guiche-area-chamada{
        margin-top: 0rem; 
    }
    .meio-guiche-area-chamada h3{
        font-size: 22px;
    }
    td { 
        font-size: 14.5px;
    }
}
@media screen and (min-width: 435px) and (max-width: 534px) {
    .area-chamada-atendimento{
        margin-top: 4vh;
    }
    .texto-botao-atendimento{
        font-size: 15px;
        flex-direction: row;
        gap: 0px;
        width: 94%;
        padding: 0%;
        padding-left: 0.5rem;
        justify-content: center;
        align-items: center;
    }
    .vermelho-botao{
        color: rgba(255, 0, 0, 0.774);
    }
    .nome-tela-atendimento{
        margin: 12px;
    }
    .pessoa-tela-atendimento{
        margin-top: 0px;
    }
    .atendimento-atual-atendimento{
        height: 15vh;
    }
    .area-botao-atendimento{
        display: flex;
        gap: 0.4rem;
        height: 40%;
    }
    .area-botao--guiche-area-chamada{
        gap: 0.4rem;
        margin-top: 0.2rem;
    }
    .info-area-chamada{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        align-content: flex-start;
    }
    .senha-area-chamada{
        padding-left: 0rem;
        display: flex;
        align-items: start;
        width: 50%;
        margin-left: 0.5rem;
    }
    .servico-area-chamada{
        margin-left: 1rem;
        display: flex;
        gap: 0rem;
    }
    .informacoes-area-chamada {
        gap: 0rem;
    }
    .nome-area-chamada{
        display: flex;
        padding-left: 0.5rem;
        gap: 0rem;
        margin: 0px;
        flex-direction: column;
    }
    .nome-area-chamada p{
        font-size: 16px;
    }
    .informacoes-area-chamada{
        justify-content: space-between;
    }
    .senha-area-chamada{
        display: none;
    }
    .servico-area-chamada{
        display: none;
    }
    .texto-info-atendimento{    
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .numero--atendimento{  
        font-size: 18px; 
        font-weight: 800;
    }
    .area-botao-atendimento{
        display: flex;
        flex-direction: column;
    }
    .botao-proxima-senha-atendimento, .botao-encerrar-atendimento,.botao-consultar-fila-atendimento, .botao-intervalo-atendimento {
        width: 100%;
        height: 4.5rem;
    }
    .info-atendimento-inicio {
        height: 30%;
    }
    .img-proxima-senha-atendimento, .img-encerrar-atendimento-tela, .img-consultar-fila-atendimento, .img-intervalo-atendimento{
        display: none;
    }
    .tabela_atendimento-guiche-area-chamada{
        margin: 3vw;
    }
    .meio-guiche-area-chamada h3{
        font-size: 20px;
    }
    .fundo-guiche-area-chamada{
        margin-top: 1.5rem; 
    }
    .meio-guiche-area-chamada{
        margin-top: 0rem; 
    }
    .meio-guiche-area-chamada h3{
        font-size: 20px;
    }
    td { 
        font-size: 14.5px;
    }
}

@media screen and (min-width: 200px) and (max-width: 434px) {
    .area-chamada-atendimento{
        margin-top: 8vh;
    }
    .texto-botao-atendimento{
        font-size: 12px;
        flex-direction: row;
        gap: 0px;
        width: 94%;
        padding: 0%;
        padding-left: 0.5rem;
        justify-content: center;
        align-items: center;
    }
    .vermelho-botao{
        color: rgba(255, 0, 0, 0.774);
    }
    .nome-tela-atendimento{
        margin: 5px;
    }
    .pessoa-tela-atendimento{
        margin-top: 0px;
    }
    .atendimento-atual-atendimento{
        height: 16vh;
    }
    .area-botao-atendimento{
        display: flex;
        gap: 0.5rem;
        height: 42%;
    }
    .area-botao--guiche-area-chamada{
        gap: 0.4rem;
        margin-top: 0.2rem;
    }
    .info-area-chamada{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        align-content: flex-start;
    }
    .senha-area-chamada{
        padding-left: 0rem;
        display: flex;
        align-items: start;
        width: 50%;
        margin-left: 0.5rem;
    }
    .servico-area-chamada{
        margin-left: 1rem;
        display: flex;
        gap: 0rem;
    }
    .informacoes-area-chamada {
        gap: 0rem;
    }
    .nome-area-chamada{
        display: flex;
        padding-left: 0.5rem;
        gap: 0rem;
        margin: 0px;
        flex-direction: column;
    }
    .nome-area-chamada p{
        font-size: 14px;
    }
    .informacoes-area-chamada{
        justify-content: space-between;
        height: 96%;
    }
    .senha-area-chamada{
        display: none;
    }
    .servico-area-chamada{
        display: none;
    }
    .texto-info-atendimento{    
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .numero--atendimento{  
        font-size: 16px; 
        font-weight: 800;
    }
    .area-botao-atendimento{
        display: flex;
        flex-direction: column;
    }
    .botao-proxima-senha-atendimento, .botao-encerrar-atendimento,.botao-consultar-fila-atendimento, .botao-intervalo-atendimento {
        width: 100%;
        height: 4rem;
    }
    .info-atendimento-inicio {
        height: 40%;
        flex-direction: column;
        gap: 0.5rem;
    }
    .img-proxima-senha-atendimento, .img-encerrar-atendimento-tela, .img-consultar-fila-atendimento, .img-intervalo-atendimento{
        display: none;
    }
    .tabela_atendimento-guiche-area-chamada{
        margin: 3.5vw;
    }
    .fundo-guiche-area-chamada{
        margin-top: 1.5rem; 
    }
    .meio-guiche-area-chamada{
        margin-top: 1rem; 
    }
    .meio-guiche-area-chamada h3{
        font-size: 20px;
    }
    td { 
        font-size: 14px;
    }
}