
main {  
    z-index: 1; 
    position: absolute; 
    background-color:rgba(205, 205, 205, 0.52);
    top: 157px; 
    right: 2vh; 
    left: 27vh; 
    bottom: 2vh; 
    justify-content: center;
    align-items: start; 
    overflow: auto;
    scroll-behavior: smooth; 
}
.titulo {
    font-size: 25px;
    margin-left: 54px;
    margin-top:24px;
    margin-bottom: 3px;
    color: var(--cinza-control);
}
.barra-pesquisa {
    width: 13%; 
    position: absolute;
    right: -1px;
    top: 34px;
    max-width: 500px;

}

.input-pesquisa {
    width: 77%;
    height:22px;
    border: 1px solid #000000;
    border-radius: 3px;
}


.cubo-branco {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.52); /* Cor branca com opacidade */
    z-index: 1; 
    position: absolute; 
    top: 63px; 
    right: 5vh; 
    left: 5vh; 
    bottom: 7vh; 
    justify-content: center;
    align-items: start; 
    overflow: auto;
    scroll-behavior: smooth; 
}


.linha {
    background-color: #2d3945;
    height: 6px;
    margin-top: -1px;
    margin-left: 52px;
    /* margin-right: auto; */
    width: 94%;
}
.tabela {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;

}
.menu-tabela {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.tabela-3x3 {
    width: 300%;
    table-layout: fixed;
    border-collapse: collapse;
}
.tabela-3x3 th,
.tabela-3x3 td {
    padding: 8px;
    text-align: left;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.tabela-3x3 th {
    background-color: #2d3945;
    color: #fff;
    position: sticky; /* Fixa o cabeçalho durante o scroll */
    top: 0;
    z-index: 10;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tabela-3x3 td {
    background-color: #ffffff; 
     padding: 8px;
    text-align: left;
    border: 1px solid #000000;
    
}


.tabela-3x3 tr:nth-child(even) {
    background-color: #ffffff;
}
.actions { 
    width: 13%;
}
.actions img {
    width: 24px;
    height:24px;
    transition: transform 0.3s;
    float: left;  
}
.actions img:hover {
    transform: scale(1.2); 
}
.toggle-btn {
    width: 40px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 40px;
    border: 1px solid #000000;
    position: relative; 
    left:0px;
    top:2px;
}
.toggle-btn .circle {
    width: 16px;
    height: 16px;
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 3px;
    transition: left 0.3s;
}
.toggle-btn.active .circle {
    background-color: #3AA867;
    left: 20px;
    top: 1px;
}
.styled-button {
    background-color: #2d3945;
    color: white;
    padding: 9px 10px;
    text-align: center;
    font-size: 1rem;
    position: fixed;
    bottom: 30px;
    right: 95px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-sizing: border-box;
    z-index: 1000;
}
.styled-button:hover {
    background-color: #2d3945;
    color: #3AA867;
    transform: scale(1.05);
}

.menu-tabela {
    width: 30%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* @media (max-width: 1320px) {
    .menu-tabela {
        width: 100%;
        max-width: 100%;
        padding: 5px;
    }
    .tabela-3x3 {
        width: 340%;
    }
    .tabela-3x3 th,
    .tabela-3x3 td {
        font-size: 18px;
        padding: 6px;
    }
    .barra-pesquisa {
        width: 21%;
        max-width: 500px;
    }
    .linha {
        margin-top: -1px;
        margin-left: 52px;
        width:89%;
    }
    .actions img {
        width: 24px;
        height:24px; 
        margin-left: 30px;
    }
    .toggle-btn {
        width: 40px;
        height: 20px;
        top:3px;
    }
}




@media (max-width: 860px) {
    .titulo {
        font-size: 22px;
        margin-left: 45px;
        margin-top:24px;
        margin-bottom: 3px;
    }
    .cubo-branco {
        top: 59px; 
        right:44px; 
        left: 42px; 
        bottom: 7vh; 
    }
    .menu-tabela {
        width: 20%;
        max-width: 100%;
        padding: 5px;
    }
    .tabela-3x3 {
        width: 150%;
    }
    .tabela-3x3 th,
    .tabela-3x3 td {
        font-size: 18px;
        padding: 6px;
    }
    .barra-pesquisa {
        width: 23.5%; 
        max-width: 500px;
    }
    .linha {
        margin-top: -1px;
        margin-left: 42px;
        width:89%;
    }
    .input-pesquisa {
        width: 76%;
        height:23px;
    }
    .actions img {
        width: 24px;
        height:24px;
        transition: transform 0.3s;
        float: left; 
        margin-left: 20px; 
        max-width: 60px;
    }
    .actions img:hover {
        transform: scale(1.2); 
    }
    .toggle-btn {
        width: 40px;
        height: 20px;
        background-color: #ffffff;
        border-radius: 40px;
        border: 1px solid #000000;
        position: relative;
        float: right; 
        left:10px;
        top:3px;
    }
}
@media (max-width: 850px) {
    .titulo {
        font-size: 16px;
        margin-left: 45px;
        margin-top:24px;
        margin-bottom: 3px;
    }
    .cubo-branco {
        top: 53px; 
        right:44px; 
        left: 42px; 
        bottom: 7vh; 
    }
    .menu-tabela {
        width: 20%;
        max-width: 100%;
        padding: 5px;
    }
    .tabela-3x3 {
        width: 570%;
    }
    .tabela-3x3 th,
    .tabela-3x3 td {
        font-size: 18px;
        padding: 6px;
    }
    .barra-pesquisa {
        font-size: 10px;
        width: 26.5%; 
        max-width: 500px;
        margin-top: -6px;
    }
    .input-pesquisa {
        width: 76%;
        height:18px;
    }
    .linha {
        margin-top: -1px;
        margin-left: 42px;
        width:87.6%;
    }
 
    .toggle-btn {
        width: 37px;
        height: 18px;
        background-color: #ffffff;
        border-radius: 40px;
        border: 1px solid #000000;
        position: relative;
        left:2px;
        top:1px;
    }
    .toggle-btn .circle {
        width:15px;
        height: 15px;
        background-color: #ff0000;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        left: 2px;
        transition: left 0.3s;
    }
    .toggle-btn.active .circle {
        background-color: #3AA867;
        left: 18px;
        top: 1px;
    }
    .actions img {
        width: 23px;
        height: 23px;
        margin-left: 20px;
    }
}
@media (max-width: 710px) {
    .titulo {
        font-size: 16px;
        margin-left: 45px;
        margin-top:24px;
        margin-bottom: 3px;
    }
    .cubo-branco {
        top: 53px; 
        right:44px; 
        left: 42px; 
        bottom: 7vh; 
    }
    .menu-tabela {
        width: 20%;
        max-width: 100%;
        padding: 5px;
    }
    .tabela-3x3 {
        width: 650%;
    }
    .tabela-3x3 th,
    .tabela-3x3 td {
        font-size: 18px;
        padding: 6px;
    }
    .barra-pesquisa {
        font-size: 10px;
        width: 26.5%; 
        max-width: 500px;
    }
    .linha {
        margin-top: -1px;
        margin-left: 42px;
        width:87.6%;
    }
    .input-pesquisa {
        width: 76%;
        height:18px;
    }
    .toggle-btn {
        width: 37px;
        height: 18px;
        background-color: #ffffff;
        border-radius: 40px;
        border: 1px solid #000000;
        position: relative;
        left:2px;
        top:1px;
    }
    .toggle-btn .circle {
        width:15px;
        height: 15px;
        background-color: #ff0000;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        left: 2px;
        transition: left 0.3s;
    }
    .toggle-btn.active .circle {
        background-color: #3AA867;
        left: 18px;
        top: 1px;
    }
    .actions img {
        width: 23px;
        height: 23px;
        margin-left: 3px;
    }
}
@media (max-width: 596px) {
    .titulo {
        font-size: 12px;
        margin-left: 45px;
        margin-top:24px;
        margin-bottom: 3px;
    }
    .cubo-branco {
        top: 50px; 
        right:44px; 
        left: 42px; 
        bottom: 7vh; 
    }
    .barra-pesquisa {
        font-size: 9px;
        width: 32.5%; 
        max-width: 500px;
        margin-top: -8px;
    }
 
    .input-pesquisa {
        width: 74.5%;
        height:16px;
    }
    .linha {
        margin-top: -1px;
        margin-left: 42px;
        width:87%;
    }
    .tabela {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 3px;
    }
    .menu-tabela {
        width: 10%;
        max-width: 100%;
        padding: 5px;
    }
    .tabela-3x3 {
        width: 1500%;
    }
    .tabela-3x3 th,
    .tabela-3x3 td {
        font-size: 12px;
        padding: 6px;
    }

    .actions img {
        width: 20px;
        height:20px;
        transition: transform 0.3s;
        margin-left: 0px; 
        max-width: 60px;
    }
    .actions img:hover {
        transform: scale(1.2); 
    }
    .toggle-btn {
        width: 30px;
        height: 15px;
        background-color: #ffffff;
        border-radius: 40px;
        border: 1px solid #000000;
        position: relative;
        float: right; 
        top:3px;
    }
.toggle-btn .circle {
    width: 12px;
    height: 11px;
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 3px;
    transition: left 0.3s;
}
.toggle-btn.active .circle {
    background-color: #3AA867;
    left: 15px;
    top: 1px;
}
}
@media (max-width: 550px) {
    .titulo {
        font-size: 12px;
        margin-left: 45px;
        margin-top:24px;
        margin-bottom: 3px;
    }
    .cubo-branco {
        top: 50px; 
        right:44px; 
        left: 42px; 
        bottom: 7vh; 
    }
    .tabela {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 3px;
    }
    .menu-tabela {
        width: 9.5%;
        max-width: 100%;
        padding: 5px;
    }
    .tabela-3x3 {
        width: 1900%;
    }
    .tabela-3x3 th,
    .tabela-3x3 td {
        font-size: 12px;
        padding: 6px;
    }
    .barra-pesquisa {
        font-size: 15px;
        width: 24.5%; 
        max-width: 500px;
        margin-right: 18px;
    }
    .input-pesquisa {
        width: 74.5%;
        height:15px;
    }
    .linha {
        margin-top: 1px;
        margin-left: 42px;
        width:81%;
    }
 
    .actions img {
        width: 20px;
        height:20px;
        transition: transform 0.3s;
        margin-left: 0px; 
        max-width: 60px;
    }
    .actions img:hover {
        transform: scale(1.2); 
    }
    .toggle-btn {
        width: 30px;
        height: 15px;
        background-color: #ffffff;
        border-radius: 40px;
        border: 1px solid #000000;
        position: relative;
        float: right; 
        top:3px;
    }
.toggle-btn .circle {
    width: 12px;
    height: 11px;
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 3px;
    transition: left 0.3s;
}
.toggle-btn.active .circle {
    background-color: #3AA867;
    left: 15px;
    top: 1px;
}
}
@media (max-width: 320px) {
    main {   
    top: 157px; 
    right: 10px; 
    left: 20%; 
    bottom: vh; 
    }
    .cubo-branco {
        top: 78px; 
        right:20px; 
        left: 20px; 
        bottom: 7vh; 
    }
    .titulo {
        font-size: 12px;
        margin-top: 10px;
        margin-right:40px;
        text-align: center;
    }
    .barra-pesquisa {
        width: 50%;
        margin-top: 20px;
        margin-right: 1px;
        
    }
    .input-pesquisa {
        padding: 1px;
        width: 84%;
        font-size: 10px;
        border-radius: 5px;
        height:14px;
    }
    .linha {
        margin-top: 28px;
        margin-left: 20px;
        width: 84%;
    }
    .tabela {
        padding: 1px;
    }
    .menu-tabela {
        width: 65%;
        max-width: 320px;
        padding: 1px;
    }
    .tabela-3x3 {
        width: 200%;
        border-collapse: collapse;
    }
    .tabela-3x3 th,
    .tabela-3x3 td {
        font-size: 12.5px;
        padding: 3px;
    }
    .toggle-btn {
        width: 23.5px;
        height: 13px;
        background-color: #ffffff;
        border-radius: 40px;
        border: 1px solid #000000;
        position: relative;
        left:px;
        top:1px;
    }
    .toggle-btn .circle {
        width: 9px;
        height: 9px;
        background-color: #ff0000;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        left: 2px;
        transition: left 0.3s;
    }
    .toggle-btn.active .circle {
        background-color: #3AA867;
        left: 10px;
        top: 1px;
    }
    .actions img {
        width: 15px;
        height: 15px;
    }
    .styled-button {
        background-color: #2d3945;
        color: white;
        padding: 7px 3px;
        font-size: 9px;
        bottom: 30px;
        right: 45px;
    }
} */