
main {  
    z-index: 1; 
    background-color:rgba(205, 205, 205, 0.52);
    top: 157px; 
    right: 2vh; 
    left: 27vh; 
    bottom: 2vh; 
    justify-content: center;
    align-items: start; 
    overflow: auto;
    scroll-behavior: smooth; 
}
.container-da-tabela {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: space-between; /* Espaça os elementos */
    width: calc(100% - 60px); /* Mantém dentro dos limites do cubo-branco */
    max-width: 100%;
    padding: 10px 30px; /* Adiciona um espaçamento interno */
    position: absolute;
    top: 0; /* Mantém acima da linha */
    left: 0;
    right: 0;
    margin: 0 auto; /* Centraliza */
  }
.titulo {
  text-align: left;
  color: var(--cinza-control);
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-top: 34px;
  margin-left: 51px;
  font-size: 18px
}
.barra-pesquisa {
    width: 250px; /* Define um tamanho fixo */
    height: 21px;
    position: absolute;
    right: 52px;
    margin-left: 83.5%;
    margin-top: -28px;
}
.input-pesquisa{
width: 77%;
height:29px;
font-style: italic;
font-size: 14px;
border: 2px solid var(--cinza-control);
border-radius: 5px;
opacity: 0.8 !important;
outline: none;
background-image: url(../../public/img/icons/lupa.png);
background-size: 18px; /* Ajustando o tamanho da lupa */
background-position: right 10px center;
background-repeat: no-repeat;
box-sizing: border-box;
margin-top: 2px;
}
.linha {
    background-color: var(--cinza-control);
    height: 2px;
    width: calc(100% - 104.5px); /* Subtrai um valor fixo de 20px da largura total */
    max-width: 100%;
    padding: 1px;
    margin: 3px auto;
    box-sizing: border-box;
}




.cubo-branco {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.52); /* Cor branca com opacidade */
    z-index: 1; 
    position: absolute; 
    top: 63px; 
    right: 5vh; 
    left: 5vh; 
    bottom: 7vh; 
    justify-content: center;
    align-items: start;
   
}


.tabela {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    max-height: 622px;
    
    

}
/* Contêiner da tabela */
.tabela-container {
    width: 300%;
    max-height: 594px; /* Limite de altura para a rolagem */
    overflow-y: auto; /* Permite a rolagem vertical */
    
    
}

/* Tabela */
.tabela-3x3 {
    width: 100%;
    table-layout: fixed; /* As colunas terão o mesmo tamanho */
    border-collapse: collapse; 
    /* Remove espaços entre as células */
}

/* Cabeçalhos das colunas */
.tabela-3x3 th {
    background-color: #2d3945;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    position: sticky; /* Fixa o cabeçalho no topo */
    top: 0;
    z-index: 10;
}

/* Células da tabela */
.tabela-3x3 td {
    padding: 8px;
    border: 1px solid #000;
    text-align: center;
    background-color: #fff;
    
}

/* Linhas alternadas */
.tabela-3x3 tr:nth-child(even) {
    background-color: #f7f7f7;
}

/* Barra de rolagem personalizada */
.tabela-container::-webkit-scrollbar {
    width: 8px;
}

.tabela-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.tabela-container::-webkit-scrollbar-track {
    background: transparent;
}


.tabela-3x3 td {
    padding: 8px;
    border: 1px solid #000000;
    background-color: #ffffff;
    box-sizing: border-box;
    word-wrap: break-word; /* Quebra o texto automaticamente */
    white-space: normal; /* Permite que o texto se quebre em várias linhas */
    min-width: 120px; /* Define um tamanho mínimo para as células */
    
}

.tabela-3x3 th {
    background-color: #2d3945;
    color: #fff;
    border: 1px solid #000000;
    position: sticky; /* Fixa o cabeçalho durante o scroll */
    top: 0;
    z-index: 10;
    padding: 10px;
}
.tabela-3x3 td,
.tabela-3x3 th {
    word-wrap: break-word;  /* Quebra a palavra longa dentro da célula */
    overflow: hidden; /* Garante que o conteúdo não saia da célula */
    text-overflow: ellipsis; /* Adiciona reticências caso o texto ultrapasse */
    white-space: normal; /* Permite que o texto quebre em várias linhas */
    padding: 10px; 
    text-align: center;
}


.tabela-3x3 th.titulo {
    white-space: nowrap; /* Impede que o título "Ativar/Desativar" quebre em várias linhas */
    overflow: hidden; /* Garante que não ultrapasse a célula */
    text-overflow: ellipsis; /* Adiciona reticências se o texto for longo */
    padding: 10px;
}


.tabela-3x3 tr:nth-child(even) {
    background-color: #f7f7f7;
}
.actions { 
    width: 13%;
}
.actions img {
    width: 24px;
    height:24px;
    transition: transform 0.3s;
    float: left;  
}
.actions img:hover {
    transform: scale(1.2); 
}
.toggle-btn {
    width: 50px;
    height: 20px;
    cursor: pointer !important;
    background-color: #ffffff;
    border-radius: 40px;
    border: 1px solid #000000;
    position: relative; 
    left:0px;
    top:2px;
}
.toggle-btn .circle {
    width: 18px;
    height: 16px;
    cursor: pointer;
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    top:1px;
    left: 2px;
    transition: left 0.3s;
}
.toggle-btn.active .circle {
    background-color: #3AA867;
    left: 27px;
    top: 1px;
}
.styled-button {
    background-color: #2d3945;
    color: white;
    padding: 9px 10px;
    text-align: center;
    font-size: 1rem;
    position: fixed;
    bottom: 30px; /* Ajuste para a posição desejada */
    right: 90px;  /* Ajuste a distância da borda direita */
    cursor: pointer;
    transition-duration: 0.4s;
    box-sizing: border-box;
    z-index: 1000;
    width: auto; /* Ajuste a largura para algo mais controlado */
}
.styled-button:hover {
    background-color: #2d3945;
    color: #3AA867;
    transform: scale(1.05);
}

.menu-tabela {
    width: 30%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Media Query para telas grandes */
@media (max-width: 1350px) {
    .titulo {
        margin-left: 54px;
    }
    .menu-tabela {
        width: 95%;
        padding: 5px;
    }

    .tabela-container {
        max-height: 590px; /* Define a altura máxima do contêiner */
        overflow-x: auto;  /* Rolagem horizontal somente quando necessário */
        width: 100%; /* Garante que o contêiner ocupe 100% da largura disponível */
    }

    .tabela-3x3 {
        width: 100%; /* Ajusta a largura da tabela para 100% do contêiner */
        table-layout: fixed; /* Garante que as células da tabela não ultrapassem o limite */
        border-collapse: collapse;
    }
    .tabela-3x3 th {
        align-items: center;
        font-size: 13px;
    }

    .barra-pesquisa {
        width: 18%;
        margin-right: -0px;
        margin-top: -28px;
    }

    .linha {
        width: calc(100% - 106px); /* Subtrai um valor fixo de 20px da largura total */
        max-width: 100%; /* Garantir que a linha ocupe a largura total disponível */
        margin-top: 3.4px;
        height: 1px;
    }
}

/* Media Query para tablets e dispositivos de 860px ou menos */
@media (max-width: 860px) {
    .titulo {
        font-size: 16px;
        margin-left: 53px;
    }

    .menu-tabela {
        width: 95%;
        padding: 5px;
    }

    .tabela-3x3 {
        width: 100%; /* Ajusta a tabela para a largura do contêiner */
        table-layout: fixed;
    }

    .tabela-container {
        width: 120%; /* Ajuste para o contêiner da tabela */
        overflow-x: auto; /* Rolagem horizontal quando necessário */
        max-height: 590px;
    }
    .tabela-3x3 th {
        align-items: center;
        font-size: 12px;
    }

    .barra-pesquisa {
        width: 23%; /* Barra de pesquisa mais larga */
        margin-right: -0px;
        margin-top: -22px;
    }

    .linha {
        margin-top: 6px;
        height: 3px !important;
        width: calc(100% - 106px); /* Subtrai um valor fixo de 20px da largura total */
        max-width: 100%; /* A linha ocupa 100% da largura disponível */
    }

    .input-pesquisa {
        width: 100%;
        margin-top: 0px; 
        font-style: italic;
        font-size: 13px;
    }
}

/* Media Query para telas menores que 711px */
@media (max-width: 711px) {
    .titulo {
        font-size: 90%;
        margin-left: 53px;
    }

    .menu-tabela {
        width: 65%;
        max-width: 320px;
        padding: 1px;
    }

    .tabela-container {
        width: 175%; /* Ajusta a largura do contêiner */
        overflow-x: auto; /* Rolagem horizontal quando necessário */
        max-height: 509px !important;
    }
    .tabela-3x3 {
        width: 100%; /* Ajuste para a tabela ocupar 100% */
        table-layout: fixed;
    }
    .tabela-3x3 th {
        align-items: center;
        font-size: 12px;
    }

    .barra-pesquisa {
        margin-top: -22px;
        width: 24%; /* Barra de pesquisa mais larga */
        margin-right: -0px;
    }

    .linha {
        margin-top: 6px;
        width: calc(100% - 106px); /* Subtrai um valor fixo de 20px da largura total */
        max-width: 100%;
    }

    .input-pesquisa {
        width: 100%;
         /* Para a barra de pesquisa ocupar toda a largura */
    }
}

/* Ajuste para telas muito pequenas (baixo tamanho de tela) */
@media (max-width: 596px) {
    .titulo {
        font-size: 13px;
        margin-top: 40px;
        margin-left: 53px;
    }

    .cubo-branco {
        top: 64px;
    }

    .barra-pesquisa {
        width: 28%;
        margin-top: -20px;
        margin-right: -0px;
    }

    .input-pesquisa {
        width: 100%;
        height: 24px; 
        font-style: italic;
        font-size: 12px;
    }

    .linha {
        margin-top: 4px;
        width: calc(100% - 107px); /* Subtrai um valor fixo de 20px da largura total */
        max-width: 100%;
        height: 2px !important;
    }

    .tabela-container {
        width: 180%; /* Ajuste para o contêiner da tabela */
        overflow-x: auto;
        max-height: 650px;
    }

    .tabela-3x3 th {
        font-size: 12px;
    }

    .tabela-3x3 td {
        font-size: 13px;
        padding: 3px;
        align-items: left;
    }

    .actions img {
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 514px) {
    .cubo-branco {
        top: 78px;
        right: 20px;
        left: 20px;
        bottom: 7vh;
    }

    .titulo {
        font-size: 13px;
        margin-top: 40px;
        margin-left: 20px !important;
    }

    .barra-pesquisa {
        width: 30%;
        margin-top: -20px;
        margin-right: -32px !important;
    }

    .input-pesquisa {
        width: 100%;
        height:12%!; 
        font-style: italic;
        font-size: 13px;
    }

    .linha {
        margin-top: 4px;
        width: calc(100% - 41px) !important; /* Subtrai um valor fixo de 20px da largura total */
        max-width: 100%;
    }

    .tabela {
        padding: 1px;
    }

    .menu-tabela {
        width: 100%;
        max-width: 320px;
        padding: 1px;
    }

    .tabela-container {
        width: 120%;
        overflow-x: auto;
        max-height: 650px;
    }

    .tabela-3x3 th {
        font-size: 11px;
    }

    .tabela-3x3 td {
        font-size: 13.5px;
        padding: 3px;
        align-items: left;
    }

    .toggle-btn {
        width: 23.5px;
        height: 13px;
        background-color: #ffffff;
        border-radius: 40px;
        border: 1px solid #000000;
        position: relative;
        top: 1px;
    }

    .toggle-btn .circle {
        width: 9px;
        height: 9px;
    }

    .toggle-btn.active .circle {
        left: 10px;
        top: 1px;
    }

    .actions img {
        width: 15px;
        height: 15px;
    }

    .styled-button {
        width: 20%;
        position: absolute;
        left: 80%;
        bottom: -50px;
        padding: 7px 3px;
        font-size: 10px;
    }
}


@media (max-width: 320px) {
    main {   
    top: 157px; 
    right: 10px; 
    left: 20%;  
    }
    .cubo-branco {
        top: 90px; 
        right:20px; 
        left: 20px; 
        bottom: 7vh; 
    }
    .titulo {
        font-size: 17px;
        margin-top: 10px;
        margin-right:40px !important;
        text-align: center;
    }
    .barra-pesquisa {
        width: 55%;
        margin-top: 8px;
        margin-right: -32px !important;
        
    }
    .input-pesquisa {
        padding: 1px;
        width: 100% !important;   /*para garantir que o width seja aplicado corretamente. */
        font-size: 10px ;
        border-radius: 5px;
        height:10px;
    }
    .linha {
        margin-top: 28px;
        margin-left: 20px;
        width: 86% !important;
    }
    .tabela {
        padding: 1px;
    }
    .menu-tabela {
        width: 65%;
        max-width: 320px;
        padding: 1px;
    }
    .tabela-container {
        width: 170%; /* A largura do contêiner da tabela será 100% */
        overflow-x: auto; /* Rolagem horizontal quando necessário */
        max-height: 650px; /* Defina a altura máxima do contêiner */
    }
    .tabela-3x3 {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }
    .tabela-3x3 th {
        font-size: 9px;
     
    }
    .tabela-3x3 td {
        font-size: 10.5px;
        padding: 3px;
        align-items: left;
    }
    
    .toggle-btn {
        width: 25.5px;
        height: 13px;
        background-color: #ffffff;
        border-radius: 40px;
        border: 1px solid #000000;
        position: relative;
        top:1px;
    }
    .toggle-btn .circle {
        width: 10px;
        height: 9px;
    }
    .toggle-btn.active .circle {
        left: 13px;
        top: 1px;
    }
    .actions img {
        width: 15px;
        height: 15px;
    }
    .styled-button {
        width: 50% !important;  /* Ajustando a largura do botão para ocupar 80% da tela */
        position: absolute; /* Posicionando o botão de forma absoluta */
        left: 50%; /* Colocando o botão centralizado com a largura ajustada */
        bottom: -50px;  /* Ajustando a posição para a parte inferior */
        padding: 7px 3px;
        font-size: 0.0rem;
    }
}
