/* .Area-Util-Projeto{
    z-index: 1;
    position: fixed;
    top: 157px;
    right: 2vh;
    left: 27vh;
    bottom: 2vh;
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.12);
    overflow: auto;
    scroll-behavior: smooth;
} */

.area-atendimento-do-dia {
    height: 100vh;
    margin: 80px 30px 30px 30px;
    background-color: var(--color-background-3);
    padding: 25px;
}

.container-atendimento-do-dia {
    max-width: 100%;
    max-height: 60vh;
    /* -webkit-overflow-scrolling: touch; */
    display: flex;
    /* display: block; */
    justify-content: space-between;
    padding: 9px;
    margin-top: 20px;
}

.line-atendimento-do-dia {
    width: 99%;
    border: 2px solid var(--color-text-1);
    margin: 0 auto;
}

.container-atendimento-do-dia h1 {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-text-1);
    margin-top: -10px;
}

.reloading_atendimento_do_dia{
    background-color: #33404D;
    max-width: 70px;
    max-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    color: var(--color-background-1);
    font-size: 13px;
    border: 1px solid var(--color-neutro-2);
    margin-left: 95git%;
    margin-top: -70px;
    cursor: pointer;
}
.reloading_atendimento_do_dia:hover{
    background-color: #252f38;
    
}

.icone_atendimento_do_dia{
    max-width: 33px;
    padding-bottom: 2px;
}

.table-atendimento-do-dia {
    width: 100%;
    border-collapse: collapse;
    position: relative; 
    overflow-x: auto;  
    transition: overflow 0.3s ease;  
}

.table-atendimento-do-dia:hover {
    overflow-y: auto;
}

th, td {
    border: 1px solid var(--color-neutro-1);
    padding: 8px;
    text-align: left;
    color: var(--color-text-1);
    background-color: var(--color-background-1);
    font-size: 13px;
    font-weight: bold;
}

th {
    background-color: var(--color-background-2);
    font-size: 15px;
    font-weight: bold;
    color: var(--color-neutro-2);
    position: sticky;
    top: -1rem;
    top: 0; 
    z-index: 2; 
}

thead, tbody tr { 
    display: table; 
    width: 100%; 
    table-layout: fixed; 
} 

tbody { 
    display: block; 
    max-height: 54vh; 
    overflow-y: scroll;  
    position: relative; 

} 

.table-atendimento-do-dia tbody::-webkit-scrollbar { 
    width: 0.1px; 
    opacity: 0;  
    transition: opacity 0.3s ease;  
} 
.table-atendimento-do-dia:hover tbody::-webkit-scrollbar { 
    opacity: 1;  
    width: 5px; 
} 
.table-atendimento-do-dia tbody::-webkit-scrollbar-thumb { 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 4px;

} 
.table-atendimento-do-dia tbody::-webkit-scrollbar-track { 
    background: transparent; 
} 

.table-atendimento-do-dia tbody::-webkit-scrollbar-thumb:hover { 
    background-color: rgba(0, 0, 0, 0.7); 
    width: 9px; 
} 

.table-atendimento-do-dia:hover tbody,thead{ 
    margin-right: -5px;
    /* display: flex; */
} 

.disponivel-atendimento-do-dia {
    color: var(--color-disponivel);
}

.em-atendimento-atendimento-do-dia {
    color: var(--color-em-atendimento);
}

.intervalo-atendimento-do-dia {
    color: var(--color-intervalo);
}

.status-flex-atendimento-do-dia {
    display: flex;
    justify-content: space-between;
}

.circle-atendimento-do-dia {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-background-2);
    border: 1px solid var(--color-neutro-2);
}