@import url(navegacao.css);

:root {
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-size: bolder;
}


.area-chamada-atendimento {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* justify-content: center; */
    align-items: center;
    margin-top: 30px;
}

.topo-area-chamada {
    width: 96%;
    height: 100%;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    align-content: center;
    gap: 2vh;
    /* gap: 10%; */
    /* background-color: crimson; */
}

.esquerda-area-chamada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    height: 100%;
    width: 70%;
}
.atendimento-atual-atendimento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 24vh;
    width: 100%;
    /* background-color: aqua; */
}
.info-atendimento-inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    height: 50%;
    width: 100%;
    margin-top: 1%;
    /* padding: 1%; */
    /* background-color: aqua; */
}

.senhas-na-fila-atendimento, .numero-guiche-atendimento, .senha-ausente-e-atendida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.38);
    /* margin-top: 18px; */
    font-size: 28px;
    font-weight: 700;
    color: #33404D;
    background-color: rgba(255, 255, 255, 0.3);
}

/* .senhas-na-fila-atendimento p, .numero-guiche-atendimento p, .senha-ausente-e-atendida p {
    text-align: center;
    align-items: center;
    width: 100%;
} */
.texto-info-atentdimento{
    margin: 0;
 }
.numero--atendimento{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;    
}


.senha_fila-guiche-area-chamada {
    display: flex;
    /* flex-direction: column; */
    background-color: purple;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.38);
    font-size: 28px;
    font-weight: 700;
    color: #33404D;
    background-color: rgba(255, 255, 255, 0.3);
    /* gap: 5%; */
    /* margin-top: 15px; */
}

.botao_intervalo-guiche-area-chamada {
    background-color: var(--cinza-control);
    color: #f9f9f9;
    /* margin-top: 15px; */
    padding: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: start;
    border-radius: 5px;
    font-size: 28px;
    font-weight: 700;
    gap: 90%;
}


.texto-botao-atendimento{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 2%;
    padding-left: 20px;
    text-align: start;
    height: 100%;
    text-decoration: none;
    color: var(--cor-fundo);
}

.direita-guiche-area-chamada {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: flex-end;
    /* margin-top: 34px; */
    margin-right: 2%;
    /* background-color: blue; */
}

.area-botao--guiche-area-chamada {
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 10px;
    /* margin: -3px; */
}

.botao--guiche-area-chamada {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    font-weight: bold;
    border-radius: 5px;
    width: 223px;
    height: 109px;
    background-color: var(--verde-control);
    margin-top: 34px;
    font-size: 28px;
    font-weight: 700;
    border: none;
    outline: none;
}
.botao--guiche-area-chamada a{
    height: 100%;
    width: 100%;
}

.botao--guiche-area-chamada a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f9f9f9;
}

.meio-guiche-area-chamada {
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 3%;
    /* background-color: chartreuse; */
    margin-left: 4.5%;
    margin-right: 4.5%;
    justify-content: space-between;
    text-align: end;
}

.meio_esquerda-guiche-area-chamada {
    width: 50%;
    height: 100%;
    align-items: start;
    margin-top: 11%;
    display: flex;
    /* background-color: coral; */
    margin-left: 3%;
}

.meio_esquerda-guiche-area-chamada h3 {
    font-weight: 700;
    font-size: 32px;
    color: #33404D;
    /* margin-bottom: -32px; */
    margin-bottom: -4%;
    margin-left: 5%;
}

.meio_direita-guiche-area-chamada {
    /* background-color: blueviolet; */
    justify-content: center;
    align-items: start;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    width: 44%;
    height: 130%;
    gap: 15px;
    margin-right: 3%;
    /* background-color: aqua; */
    /* background-color: darkturquoise; */
}

.senhas-guiche-area-chamada {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 60%;
    /* background-color: aliceblue; */
    background-color: rgba(230, 230, 230, 0.7);
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.38);
    font-size: 32px;
    font-weight: 700;
    color: #33404D;
    border-radius: 2%;
    gap: 0;
}
.senhas-guiche-area-chamada h2{
    padding-top: 5%;
    height: 50%;
    /* background-color: red; */
}
.senhas-guiche-area-chamada p{
    font-size: 2.5vh;
}



/* TABELA  */
.fundo-guiche-area-chamada{ 
    width: 96%; 
    font-weight: 600; 
    height: 100%; 
    border-radius: 5px; 
    background-color: rgb(255, 255, 255,0.5); 
    gap: 15px; 
    margin-top: 2rem; 
    overflow-x: scroll; 
    display: flex; 
    justify-content: left; 
}
.tabela_atendimento-guiche-area-chamada { 
    /* border: 1px solid black;  */
    border-collapse: collapse; 
    background-color: rgba(255, 255, 255, 0.5); 
    width: 95%; 
    margin: 2vw auto; 
    max-height: 230px; 
    position: relative; 
    overflow: hidden;  
    transition: overflow 0.3s ease;  
} 
.tabela_atendimento-guiche-area-chamada:hover { 
    overflow-y: auto;  
} 
.tabela_atendimento-guiche-area-chamada th { 
    background-color: var(--cinza-control); 
    color: var(--cor-fundo); 
} 
th { 
    position: sticky; 
    top: 0; 
    background-color: #f4f4f4; 
    z-index: 2; 
    padding: 10px; 
    text-align: left; 
    border: 1px solid black; 
    min-width: 50px; 

} 
td { 
    border: 1px solid black; 
    padding: 9px; 
    text-align: left; 
    min-width: 50px; 
    color: var(--cinza-control); 
}
thead, tbody tr { 
    display: table; 
    width: 100%; 
    table-layout: fixed; 
} 
tbody { 
    display: block; 
    max-height: 180px; 
    overflow-y: scroll;  
    position: relative; 

} 
.tabela_atendimento-guiche-area-chamada tbody::-webkit-scrollbar { 
    width: 0.1px; 
    opacity: 0;  
    transition: opacity 0.3s ease;  
} 
.tabela_atendimento-guiche-area-chamada:hover tbody::-webkit-scrollbar { 
    opacity: 1;  
    width: 9px; 
} 
.tabela_atendimento-guiche-area-chamada tbody::-webkit-scrollbar-thumb { 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 4px;

} 
.tabela_atendimento-guiche-area-chamada tbody::-webkit-scrollbar-track { 
    background: transparent; 
} 

.tabela_atendimento-guiche-area-chamada tbody::-webkit-scrollbar-thumb:hover { 
    background-color: rgba(0, 0, 0, 0.7); 
    width: 9px; 
} 

.tabela_atendimento-guiche-area-chamada:hover tbody,thead{ 
    margin-right: -9px;
    /* display: flex; */
} 

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; 
    
}




