@import url('./conteudo.css');
@import url('./tabela.css');
@import url('./navegacao.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    /* font-style: bold; */
    font-weight: bold;
}


