.topo-tela-servico{
  width: 100%;
  height: 10%;
  border: 2px solid green;
}
#servicos-cadastrados {
  border: 2px solid blue;
}
.campo-busca {

}
#buscar-servico {

  border: 2px solid red;
}
.linha-divisoria-servico {
  border: 1px solid blueviolet;
}