#divBusca{
    width: 185px;
    height: 30px;
    border-radius:5px;
    border: 2px;
  }
  
  #txtBusca{
    float:left;
    padding: 5px;
    padding-left: 5px;
    font-style:italic;
    font-size:14px;
    outline: 5px;
    border-radius: 5px;
    height: 16px;
    background-image: url(../img/icons/lupa.png);
    background-position: 142px; 
    background-repeat: no-repeat;
    opacity: 0.5;
    border: 2px solid #333;
  }