@import url(style_main.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Area-Util-Projeto{
    align-items: center;
}

.container_titulo{
    width: 90%;
    height: 8%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    margin-top: 2rem;  
}
.container_titulo .titulo_pagina{
    font-family: var(--font-main);
    color: var(--cinza-control);
    font-size: 1.125rem;
    font-size: 24px;
}

.container_linha{
    width: 90%;
    height: auto;
    display: flex;
}
.container_linha .linha{
    /* border: 0; */
    width: 100%;
    height: 5px;
    background: var(--cinza-control);;
    /* margin: 20px 0; */
}

.container_form{
    /* border: 1px dotted red ; */
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5px;
    
    padding: 5px 5%;
    gap: 5%;
    padding: auto;
}

.container_input{
    width: 45%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.input_dados{
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    outline: none;
    background-color: white;
    padding: 8px;


}

.input_dados:focus{
    border: 1px solid black;
}

/* seleção de perfil de acesso */


.labeledit{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
.labeledit button{
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.titulo-permissoes {
    margin-left: 100px; /* ajuste o valor conforme necessário */
    display: flex;
    align-items: center;
    gap: 8px; /* espaço entre o texto e o botão */
}
.icone_add_servico{
    display:flex;
}
.selecao_perfil .opcao{
    padding: 10px;
    font-size: 14px;
}
.opcao{
    color: #555;
}

/* seleção de servicos do usuario */

.servico_container{

}

/* informação de erro */
.erro {
    color: red;
    font-size: 0.85rem;
    margin-top: 4px;
    display: block;
}


/* botao da tela */
.form-actions2{
    margin-top: 15px;
    width: 90%;
    display: flex;
    justify-content: end;
    gap: 16px;
}

.botao_volto, .botao_salvo {
    z-index: 1;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    color: #fff;
    background-color: #33404D;
}

.botao_volto:hover {
    color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.botao_salvo:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}