@import url(navegacao.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.area-info-listar-usuario{
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  /* height: auto;
  width: auto; */
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  font-family: Inter;
  font-style: bold;
}

.header-area-listar-usuario {
  width: 90%;
  height: 8%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: 2rem;
  }

.titulo-area-listar-usuario {
    font-size: 24px;
    color: var(--cinza-control);
    font-style: bold;
    font-weight: bold;
}

.linha-in-listar-usuario {
    width: 90%;
    height: 4px;
    background-color: var(--cinza-control);
}
.div-botao-info-listar-usuario{
  width: 90%;
  /* height: 8%; */
  align-items: end;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: -0.625;
}
.area-info-listar-usuario .div-botao-info-listar-usuario .add-func{
  width: 90px;
  height: 40px;
  background-color: var(--cinza-control);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  font-size: 12px;
}

.area-info-listar-usuario .div-botao-info-listar-usuario .add-func:hover {
  text-decoration: none;
  color: var(--verde-control);
  filter: drop-shadow(4px 4px 2px gray);
}
.input-search-listar-usuario input{
  float: left;
  padding: 5px;
  padding-left: 5px;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-size: 14px;
  outline: 5px;
  border-radius: 5px;
  background-image: url(../img/icons/lupa.png);
  background-position: 142px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  opacity: 0.5;
  border: 2px solid #333
  /* width: 100%;
  height: 100%;
  font-style: italic;
  font-size: 14px;
  border: 2px solid var(--cinza-control)3;
  border-radius: 10px 10px 0 0;
  opacity: 0.5;
  z-index: -1;
  outline: none;
  background-image: url(../../public/img/icons/lupa.png);
  background-size: contain;
  background-position: right 10px center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin-left: 76%; */
}

@media screen and (max-width:1430px) {
  th, td {
    font-size: 0.875rem;
    white-space: nowrap;
  }
  .titulo-area-listar-usuario {
    font-size: 22px;
  }
  /* .input-search-listar-usuario input{
    width: 9.875rem;
  } */
}

@media screen and (max-width:1080px) {
  .table-scroll {
    overflow-x: auto; 
  }
}

@media screen and (max-width:500px) {
  .header-area-listar-usuario {
    flex-direction: column;
    gap: 1rem; 
    height: auto;
    align-items: start;
  }
  /* .titulo-area-listar-usuario {
    font-size: 0.938rem;
  }
  .input-search-listar-usuario input{
    width: 8.2rem;
    font-size: 11px;
    background-position: right 1px center;
  } */
}

@media screen and (max-height: 880px) {
  .tbody-atendimento {
    height: 300px;
  }
  .fundo-area-tabela {
    margin-top: 1rem;
  }
}
@media screen and (max-height: 740px) {
  .tbody-atendimento {
    height: 250px;
  }
  .fundo-area-tabela {
    margin-top: 0.8rem;
  }
}
@media screen and (max-height: 666px) {
  .tbody-atendimento {
    height: 220px;
  }
  .fundo-area-tabela {
    margin-top: 0.6rem;
  }
  .botoesVoltar-Cadastrar{
    margin-bottom: 20px;
  }
}