*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forme{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
}
.quadrado{
    width: 90%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.356);
    position: absolute;
    left: 5%;
    margin-top: 65px;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}
.container-flex{
    flex: 1 1 35%;
}
.titulo h1{
    text-align:  center;
    font-size: 2em;
    margin-bottom: 20px;
}
.titulo .cadastro_title{
   font-family: var(--font-main);
   position: absolute;
   top: 20px;
   left: 5%;
   font-size: 110%;
}
.titulo hr{
    position: absolute;
    border: 0;
    height: 1px;
    background: black ;
    margin: 20px 0;
    width: 90%;
    top: 20px;
    left: 5%;
}
.nome{
    position: relative;
    top: 77px;
    left: 15%;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.email{
    position: relative;
    top: 5px;
    left: 51%;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.cpf{
    position: relative;
    top: 58px;
    left: 15%;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}


input::placeholder{
    padding: 2px;
}
input {
    padding: 10px;
    font-size: 16px;
    transition: padding 0.3s ease;
}

input:focus {
    padding: 10px; 
    outline: none;
    border: 1px solid black;
}
.borda{
    height: 45px;
    border-radius: 5px;
    margin-top: 12px;
}


/* seleção de usuario */
.labeledit{
    font-family: var(--font-main);
    width: 60%;
    height: 15px;
    font-weight: bold;
    display: block;
}
.perfil{
    position: relative;
    top: 40px;
    left: 189px;
    width: 35%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
    border-radius: 5px solid black;
}
.perfild{
    position: absolute;
    width: 16%;
    left: 15%;
    top: 330px
}

.selecao .pi{
    height: 40px;
    border-radius: 5px solid black;
    margin-top: 12px;
}
.selecao{
    display: flex;
    position: absolute;
    top: 15px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin-top: 12px;
    background-color: white;
    font-size: var(--font-main);
}


/* checkbox de serviço */
.checkbox-container{ 
    display: flex;
    position: absolute;
    left: 90%; 
    width: 50%;
    font-size: 100%;
    top: 335px;
    font-size: var(--font-main);
    font-weight: bold;
    display: flex;
    gap: 20px;
}
.servico{
    display: flex;
    position: absolute;
    top: 200px;
    left: 51%;
    font-size: var(--font-main);
    font-weight: bold;
}
.todos{
    display: flex;
    position: absolute;
    left: 71%;
    top: 465px;
}
.column-1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30%;
    left: -73%;
    top: -100px;
    font-size: 105%;
}
.column-2{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30%;
    left: -35%; 
    top: -100px;
    font-size: 105%;
}

.checkbox-container label{ 
    display: flex; 
    align-items: center; 
    margin: 5px 0; 
} 
.checkbox-container input[type="checkbox"]{ 
    margin-left: -11px;
} 
.servico-checkbox input[type="checkbox"]{
    color: var(--verde-control);
}
.checkbox-container input[type="checkbox"]:checked + span{ 
    color: var(--verde-control);
} 
.select-all-container{ 
    margin-bottom: 10px; 
    width: 14%;
    position: absolute;
    left: 822px;
    top: 495px;
    font-size: var(--font-main);
    font-weight: bold;
}

.customizado input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;  
}

.customizado .teste {
    position: relative;
    /* height: 50px; */
    /* width: 200px; */
    /* background-color: #ccc; */
    border-radius: 4px;
    display: flex;
    vertical-align: middle;
    margin-right: 10px;   
} 

/* .customizado input[type="checkbox"]:checked + .teste {
    background-color: #4CAF50;
    border: 1px solid black;
}    */

.customizado .teste:after {
    content: "";
    position: absolute;
    display: none;
} 

.customizado::before {
    content: ''; 
    position: relative;
    left: -10px;
    top: 0px;
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: white;
}

.customizado input[type="checkbox"]:checked + .teste:after {
    display: block;
  
} 

.customizado  .teste::before {
    left: -20px;
    top: 5px;
    width: 0px;
    height: 0px;
    
}
.customizado  .teste:after {
    left: -19px;
    top: 6px;
    width: 0px;
    height: 0px;
    border: solid var(--verde-control);
    border-width: 2 10px 10px 2;
    transform: rotate(1deg);
} 


/* botao da tela */
.form-actions2{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 620px;
    margin-bottom: 40px;
    margin-right: 79px;
}

.botao_volto, .botao_salvo {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.botao_volto {
    background-color: #33404D;
    color: #fff;
}

.botao_volto:hover {
    color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.botao_salvo{
    background-color: #33404D;
    color: #fff;
}

.botao_salvo:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}






/* responsividade hotizontal */
@media screen and (max-width: 1920px){
    .form-actions2{
        margin-top: 690px;
    }
    .column-1{
        width: 41%;
    }
    .column-2{
        width: 41%;
        left: -38%;
    }
    
}
@media screen and (max-width: 1876px){
    .labeledit{
        width: 111%;
    }
    .perfild{
        width: 20%;
    }
}
@media screen and (max-width: 1814px){
    .form-actions2{
        margin-top: 625px;
        
    }  
}
@media screen and (max-width: 1814px){
    .form-actions2{
        margin-right: 5%;
        
    }  
}
@media screen and (max-width: 1520px){
   .column-2{
        left: -35%;
   }  
}
@media screen and (max-width: 1350px){
    .column-1{
        width: 48%;
    }
    .column-2{
        width: 48%;
        left: -73%;
        top: 26px;
    }
}
@media screen and (max-width: 1005px){
    .quadrado{
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    .nome{
        left: 15%;
        width: 70%;
    }
    .email{
        left: 15%;
        width: 70%;
        top: 115px;
    }
    .cpf{
        left: 15%;
        width: 70%;
        top: 155px;
    }
    .perfild{
        left: 15%;
        width: 50%;
        top: 430px; 
    }
    .servico{
        left: 15%;
        top: 555px;
    }
    .checkbox-container{
        left: 55%;
        top: 695px;  
    }
    .column-1{
        width: 49%;
    }
    .column-2{
        width: 49%;
        left: 0%;
    }
}
@media screen and (max-width: 974px){
    .labeledit{
        width: 150%;
    }
}
@media screen and (max-width: 550px) {
    .form-actions2{
        margin-right: 13%;
    }
    .botao_salvo{
        width: 40%;
    }
    .botao_volto{
        width: 40%;
    }
}
@media screen and (max-width: 410px) {
    .column-2{
        top: 22px;
    }
    .titulo .cadastro_title{
        top: 0px;
    }
   
}
@media screen and (max-width: 400px) {
    .column-2{
        top: 10px;
    }
    .customizado::before{
        top: 1px;
    }
    .form-actions2{
        margin-left: 13%;
    }
    .titulo .cadastro_title{
        top: 8px;
    }
}

@media screen and (max-width: 360px){
    .customizado::before{
        top: 1px;
    }
}
@media screen and (max-width: 349px){
    .titulo .cadastro_title{
        top: 0px;
    }
}
@media screen and (max-width: 320px){
    .column-1{
        width: 100%;
    }
    .column-2{
        width: 100%;
    }
}




/* responsividade vertical */
@media screen and (max-height: 1368px){
    .form-actions2{
        margin-top: auto;
    }
    .quadrado{
        height: 75%;
    }
}
@media screen and (max-height: 770px){
    .quadrado{
        height: 70%;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
}
@media screen and (max-height: 600px) {
    .quadrado{
        height: 70%;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
}
