@import url(style_main.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forme{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
}
.quadrado{
    width: 90%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.356);
    position: absolute;
    left: 5%;
    margin-top: 65px;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}
/* :root {
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --cor-nave-botaa: #2d3945;
    --cor-hove-menu: rgba(0, 0, 0, 0.2);
    --cor-active: rgb(219 219 219);
    --font-main: Inter, sans-serif;
    flex: 1 1 35%;
} */
.titulo_cds h1{
    position: absolute;
    display: flex;
    margin-top: 15px;
    margin-left: 77px;  
    font-family: var(--font-main);
}
.titulo_cds hr{
    position: absolute;
    border: 0;
    height: 5px;
    background: var(--cor-nave-botaa);
    margin: 20px 0;
    width: 90%;
    top: 20px;
    left: 5%;
}
.nome{
    position: relative;
    top: 77px;
    left: 15%;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.email{
    position: relative;
    top: -1px;
    left: 51%;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.cpf{
    position: relative;
    top: 58px;
    left: 15%;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}


input::placeholder{
    padding: 2px;
}
input {
    padding: 10px;
    font-size: 16px;
    transition: padding 0.3s ease;
}

input:focus {
    padding: 10px; 
    outline: none;
    border: 1px solid black;
}
.borda{
    height: 45px;
    border-radius: 5px;
    margin-top: 12px;
}


/* seleção de perfil de acesso */

.selecionar{
    position: relative;
    top: 90px;
    left: 15%;
    margin: 20px 0;
    /* padding: 10px; */
    /* border: 1px solid #ff0000; */
    border-radius: 5px;
    width: 50%;
    
}
.perfild{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 15px; */
}
.labeledit{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
.selecao{
    top: 50px;
    left: 20px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    outline: none;
    background-color: white;
}
.selecao option{
    padding: 10px;
    font-size: 14px;
}
.selecao:hover{
    border-color: #3AA867;
    box-shadow: 0 0 5px #3AA867;
}
.pi{
    color: #555;
}



 /* checkbox dos serivocs */
.checkbox-container{ 
    display: flex;
    position: absolute;
    left: 88%; 
    width: 50%;
    font-size: 120%;
    top: 335px;
    font-size: var(--font-main);
    font-weight: bold;
    display: flex;
}
.servico{
    display: flex;
    position: absolute;
    top: 200px;
    left: 51%;
    font-size: var(--font-main);
    font-weight: bold;
}
.todos{
    display: flex;
    position: absolute;
    left: 71%;
    top: 465px;
}
.column-1, .column-2{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30%;
    top: -100px;
}
.column-1 { left: -73%; }
.column-2 { left: -35%; }

.checkbox-container input[type="checkbox"]{ 
  display: none;
}
.checkbox-container label{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}
.checkbox-container label span{
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    transition: background 0.2s, border-color 0.2s;
}
.checkbox-container input[type="checkbox"]:checked + span{
    background-color: var(--verde-control);
    border-color: #000;
}
.checkbox-container input[type="checkbox"]:checked + span::after{
    content: "✔";
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left:  50%;
    transform: translate(-50%, -50%);
    /* font-weight: bold; */
}




/* botao da tela */
.form-actions2{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 620px;
    margin-bottom: 40px;
    margin-right: 79px;
}

.botao_volto, .botao_salvo {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.botao_volto {
    background-color: #33404D;
    color: #fff;
}

.botao_volto:hover {
    color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.botao_salvo{
    background-color: #33404D;
    color: #fff;
}

.botao_salvo:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}






/* responsividade hotizontal */
@media screen and (max-width: 1920px){
    .labeledit{
        width: 111%;
    }
    .form-actions2{
        margin-top: 690px;
    }
    .column-1{
        width: 41%;
    }
    .column-2{
        width: 41%;
        left: -38%;
    }
    .titulo_cds hr{
        top: 33px;
    }
    .perfild{
        width: 50%;
    }
    
}
@media screen and (max-width: 1876px){
    .labeledit{
        width: 111%;
    }
    .perfild{
        width: 50%;
    }
    .titulo_cds hr{
        top: 30px;
    }
    
}
@media screen and (max-width: 1814px){
    .form-actions2{
        margin-top: 625px;
        
    }  
    .titulo_cds hr{
        top: 30px;
    }
}
@media screen and (max-width: 1814px){
    .form-actions2{
        margin-right: 5%;
        
    }  
}
@media screen and (max-width: 1520px){
   .column-2{
        left: -35%;
   }  
   .titulo_cds h1{
    margin-left: 55px;
    }
    .titulo_cds hr{
        top: 30px;
    }
    .titulo_cds h1{
        margin-left: 60px;
    }
    .titulo_cds hr{
        top: 30px;
    }
}
@media screen and (max-width: 1350px){
    .column-1{
        width: 40%;
    }
    .column-2{
        width: 48%;
        left: -30%;
        /* top: 26px; */
    }
    .titulo_cds h1{
        margin-left: 55px;
    }
    .titulo_cds hr{
        top: 30px;
    }
}
@media screen and (max-width: 1005px){
    .quadrado{
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    .titulo_cds h1{
        margin-left: 38px;
    }
    .titulo_cds hr{
        top: 30px;
    }
    .nome{
        left: 15%;
        width: 70%;
    }
    .email{
        left: 15%;
        width: 70%;
        top: 115px;
    }
    .cpf{
        left: 15%;
        width: 70%;
        top: 155px;
    }
    .perfild{
        left: 15%;
        width: 50%;
        top: 430px; 
    }
    .servico{
        left: 15%;
        top: 555px;
    }
    .checkbox-container{
        left: 55%;
        top: 695px;  
    }
    .column-1{
        width: 100%;
    }
    .column-2{
        width: 90%;
        left: 0%;
    }
    .selecionar{
        top: 180px;
    }
}
@media screen and (max-width: 974px){
    .labeledit{
        width: 250%;
    }
    .titulo_cds h1{
        margin-left: 35px;
    }
    .titulo_cds hr{
        top: 30px;
    }
    .selecionar{
        top: 180px;
    }
    .perfild{
        width: 50%;
    }
}
@media screen and (max-width: 900px){
    .labeledit{
        width: 250%;
    }
    .selecionar{
        top: 180px;
    }
    .titulo_cds h1{
        margin-left: 45px;
    }
    .titulo_cds hr{
        top: 30px;
    }
    .perfild{
        width: 60%;
    }
    .label span{
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width: 568px){
    .column-2{
        top: 95px;
        left: -147px;
    }
    .form-actions2{
        margin-right: 13%;
    }
    .botao_salvo{
        width: 40%;
    }
    .botao_volto{
        width: 40%;
    }
    .titulo_cds h1{
        margin-left: 28px;
    }
    .titulo_cds hr{
        top: 30px;
    }
    .selecionar{
        top: 180px;
    }
    .perfild{
        width: 75%;
    }
    .label span{
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 550px){
    .column-2{
        top: 95px;
        left: -147px;
    }
    .form-actions2{
        margin-right: 13%;
    }
    .botao_salvo{
        width: 40%;
    }
    .botao_volto{
        width: 40%;
    }
    .titulo_cds h1{
        margin-left: 28px;
    }
    .titulo_cds hr{
        top: 30px;
    }
    .selecionar{
        top: 180px;
    }
    .perfild{
        width: 75%;
    }
    .label span{
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width: 440px) {
    .column-2{
        top: 95px;
        left: -105px;
    }
    .titulo .cadastro_title{
        top: 0px;
    }
    .titulo_cds hr{
        top: 30px;
    }
    .selecionar{
        top: 180px;
    }
    .perfild{
        width: 80%;
    }
    .label span{
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width: 410px) {
    .column-2{
        top: 22px;

    }
    .titulo .cadastro_title{
        top: 0px;
    }
    .titulo_cds hr{
        top: 30px;
    }
    .selecionar{
        top: 180px;
    }
    .perfild{
        width: 80%;
    }
    .label span{
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width: 400px) {
    .column-2{
        top: 140px;
    }
    .customizado::before{
        top: 1px;
    }
    .form-actions2{
        margin-left: 13%;
    }
    .titulo_cds h1{
        top: 8px;
    }
    .titulo_cds hr{
        top: 30px;
    }
    .selecionar{
        top: 180px;
    }
    .perfild{
        width: 100%;
    }
    .label span{
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 360px){
    .customizado::before{
        top: 1px;
    }
    .titulo_cds hr{
        top: 30px;
    }
    .titulo_cds h1{
        margin-left: 55px;
    }
    .perfild{
        width: 110%;
    }
    .label span{
        width: 15px;
        height: 15px;
    }
    .usu-nome{
        font-size: 0.80rem;
    }
    .logo-control{
        padding-left: 30px;
    }
    .titulo-projeto{
        font-size: 20px;
    }
}
@media screen and (max-width: 349px){
    .titulo .cadastro_title{
        top: 0px;
    }
    .titulo_cds hr{
        top: 30px;
    }
    .titulo_cds h1{
        margin-left: 35px;
    }
    .perfild{
        width: 110%;
    }
    .label span{
        width: 15px;
        height: 15px;
    }
    .usu-nome{
        font-size: 0.60rem;
    }
    .logo-control{
        padding-left: 30px;
    }
    .titulo-projeto{
        font-size: 20px;
    }
    .column-1{
        width: 120%;
    }
    .column-2{
        width: 120%;
        left: -95px;
        top: 135px;
    }
    .label span{
        width: 15px;
        height: 15px;
}
@media screen and (max-width: 320px){
    .usu-nome{
        font-size: 0.60rem;
    }
    .column-1{
        width: 120%;
    }
    .column-2{
        width: 120%;
        left: -95px;
        top: 135px;
    }
    .titulo_cds hr{
        top: 30px;
    }
    .titulo_cds h1{
        margin-left: 35px;
    }
    .perfild{
        width: 110%;
    }
    .label span{
        width: 15px;
        height: 15px;
    }
    .logo-control{
        padding-left: 30px;
    }
    .titulo-projeto{
        font-size: 20px;
    }
}




/* responsividade vertical */
@media screen and (max-height: 1368px){
    .form-actions2{
        margin-top: auto;
    }
    .quadrado{
        height: 75%;
    }
}
@media screen and (max-height: 770px){
    .quadrado{
        height: 70%;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
}
@media screen and (max-height: 600px) {
    .quadrado{
        height: 70%;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
}



/* 

   checkbox de serviço customizado beckup


.checkbox-container label{ 
    display: flex; 
    align-items: center; 
    margin: 5px 0; 
} 
.checkbox-container input[type="checkbox"]{ 
    margin-left: -11px;
} 
.servico-checkbox input[type="checkbox"]{
    color: var(--verde-control);
}
.checkbox-container input[type="checkbox"]:checked + span{ 
    color: var(--verde-control);
} 
.select-all-container{ 
    margin-bottom: 10px; 
    width: 14%;
    position: absolute;
    left: 822px;
    top: 495px;
    font-size: var(--font-main);
    font-weight: bold;
}

.customizado input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;  
}

.customizado .teste {
    position: relative;
     height: 50px; 
     width: 200px; 
     background-color: #ccc; 
    border-radius: 4px;
    display: flex;
    vertical-align: middle;
    margin-right: 10px;   
} 

.customizado input[type="checkbox"]:checked + .teste {
    background-color: #4CAF50;
    border: 1px solid black;
}   

.customizado .teste:after {
    content: "";
    position: absolute;
    display: none;
} 

.customizado::before {
    content: ''; 
    position: relative;
    left: -10px;
    top: 0px;
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: white;
}

.customizado input[type="checkbox"]:checked + .teste:after {
    display: block;
  
} 

.customizado  .teste::before {
    left: -20px;
    top: 5px;
    width: 0px;
    height: 0px;
    
}
.customizado  .teste:after {
    left: -24px;
    top: 4px;
    width: 0px;
    height: 0px;
    border: solid var(--verde-control);
    border-width: 1px 10px 10px 1px;
    transform: rotate(1deg);
}  */
