*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forme{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.quadrado{
    width: 90%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.356);
    position: absolute;
    left: 5%;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}
.container-flex{
    flex: 1 1 35%;
}
.titulo h1{
    text-align:  center;
    font-size: 2em;
    margin-bottom: 20px;
}
.titulo .cadastro_title{
   font-family: var(--font-main);
   position: absolute;
   top: 15px;
   left: 5%;
   font-size: 110%;
}
.titulo hr{
    position: absolute;
    border: 0;
    height: 4px;
    background: black ;
    margin: 20px 0;
    width: 90%;
    top: 20px;
    left: 5%;
}
.nome{
    position: relative;
    top: 40px;
    left: 15%;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.email{
    position: relative;
    top: -25px;
    left: 51%;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.cpf{
    position: relative;
    top: 0px;
    left: 15%;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.senha-cadastro{  
    position: relative;
    top: -66px;
    left: 51%;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
input::placeholder{
    padding: 2px;
}
input {
    padding: 10px;
    font-size: 16px;
    transition: padding 0.3s ease;
}

input:focus {
    padding: 10px; 
    outline: none;
    border: 1px solid black;
}
.confirmar{
    position: relative;
    top: -30px;
    left: 51%;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 90%;  
}
.borda{
    height: 45px;
    border-radius: 5px;
    margin-top: 12px;
}

.labeledit{
    font-family: var(--font-main);
    width: 60%;
    height: 15px;
    font-weight: bold;
    display: block;
}
.perfil{
    position: relative;
    top: 40px;
    left: 189px;
    width: 35%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
    border-radius: 5px solid black;
}
.perfild{
    position: absolute;
    width: 16%;
    left: 51%;
    top: 360px
}

.selecao .pi{
    height: 40px;
    border-radius: 5px solid black;
    margin-top: 12px;
}
.selecao{
    display: flex;
    position: absolute;
    top: 15px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin-top: 12px;
    background-color: white;
    font-size: var(--font-main);
}
.checkbox-container{ 
    display: flex;
    position: absolute;
    left: 53%; 
    width: 50%;
    font-size: 100%;
    top: 390px;
    font-size: var(--font-main);
    font-weight: bold;
    display: flex;
    gap: 20px;
}
.servico{
    display: flex;
    position: absolute;
    top: 255px;
    left: 15%;
    font-size: var(--font-main);
    font-weight: bold;
}
.todos{
    display: flex;
    position: absolute;
    left: 71%;
    top: 465px;
}
.column-1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    left: -73%;
    top: -100px;
    font-size: 115%;
}
.column-2{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    left: -40%; 
    top: -100px;
    font-size: 115%;
}

.checkbox-container label{ 
    display: flex; 
    align-items: center; 
    margin: 5px 0; 
} 
.checkbox-container input[type="checkbox"]{ 
    margin-right: 10px;
} 
.servico-checkbox input[type="checkbox"]{
    color: var(--verde-control);
}
.checkbox-container input[type="checkbox"]:checked + span{ 
    color: var(--verde-control);
} 
.select-all-container{ 
    margin-bottom: 10px; 
    width: 14%;
    position: absolute;
    left: 822px;
    top: 495px;
    font-size: var(--font-main);
    font-weight: bold;
}

.customizado input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;  
}


.customizado .teste {
    position: relative;
    /* height: 50px; */
    /* width: 200px; */
    /* background-color: #ccc; */
    border-radius: 4px;
    display: flex;
    vertical-align: middle;
    margin-right: 10px;
    
    
} 

/* .customizado input[type="checkbox"]:checked + .teste {
    background-color: #4CAF50;
    border: 1px solid black;
}    */

.customizado .teste:after {
    content: "";
    position: absolute;
    display: none;

} 

.customizado::before {
    content: ''; 
    position: relative;
    left: -10px;
    top: -2px;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: white;
}

.customizado input[type="checkbox"]:checked + .teste:after {
    display: block;
  
} 

.customizado  .teste::before {
    left: -20px;
    top: 5px;
    width: 0px;
    height: 0px;
    
}
.customizado  .teste:after {
    left: -19px;
    top: 6px;
    width: 0px;
    height: 0px;
    border: solid var(--verde-control);
    border-width: 2 10px 10px 2;
    transform: rotate(1deg);
    
} 

.form-actions2{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 620px;
    margin-bottom: 40px;
    margin-right: 79px;
}

.botao_volto, .botao_salvo {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.botao_volto {
    background-color: #33404D;
    color: #fff;
}

.botao_volto:hover {
    color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.botao_salvo{
    background-color: #33404D;
    color: #fff;
}

.botao_salvo:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 1920px){
    .form-actions2{
        margin-top: 690px;
    }
}
@media screen and (max-width: 1732px){
    .labeledit{
        width: auto;
    }
}
@media screen and (max-width: 1605px){
    .column-2{
        left: -73%;
        top: 22px;  
    }
}
@media screen and (max-width: 974px){
    .labeledit{
        width: 150%;
    }
}
@media screen and (max-width: 950px){
    .quadrado{
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    .nome{
        left: 15%;
        width: 70%;
    }
    .email{
        left: 15%;
        width: 70%;
        top: 60px;
    }
    .cpf{
        left: 15%;
        width: 70%;
        top: 82px;
    }
    .senha-cadastro{
        left: 15%;
        width: 70%;
        top: 105px;
    }
    .confirmar{
        left: 15%;
        width: 70%;
        top: 130px;
    }
    .perfild{
        left: 15%;
        width: 50%;
        top: 510px; 
    }
    .servico{
        left: 15%;
        top: 607px;
    }
    .checkbox-container{
        left: 55%;
        top: 745px;  
    }
    .form-actions2{
        margin-right: 5%;
    }
}
@media screen and (max-width: 410px) {
    .titulo .cadastro_title{
        top: 0px;
    }
    
}
@media screen and (max-width: 410px) {
    .column-2{
        top: 6px;
    }
    .form-actions2{
        width: 55%;
        margin-left: 40%;
    }
    .titulo .cadastro_title{
        top: 8px;
    }
}
@media screen and (max-width: 320px) {
    .titulo .cadastro_title{
        top: 0px;
    }
}
