@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(navegacao.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
    font-style: bold;
}
body{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    
}
.login{
    min-height: 100vh;
    background-image: url(../img/Background-logo\ 2.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
}

.containerLogin{
    width: 1400px;
    height: 100%;
    display: flex;
}
.animBox{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    background-color: rgba(198, 196, 196, 0.2);
}
.titlePass{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.titlePass h1{
    font-size: 50px;
    font-weight: 600;
    color: #33404D;
}

.cardLogin{
    width: 50%;
    backdrop-filter: blur(5px);
    background-color: rgba(198, 196, 196, 0.2);
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.containerBemVindoLogin{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 30px; */
}
.titleBemVindo{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    /* margin-bottom: 30px; */
    color: #33404D;
}
.formBoxLogin{
    width: 75%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* border: 1px solid red; */
}
.formBoxLogin .group{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.senha-telaLogin{
    margin-top: 30px;
    position: relative;
}
#togglePassword{
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    cursor: pointer;
    color: #666;
}
.formBoxLogin .group label{
    color: #33404D;
    font-weight: bold;
    font-size: 23px;
    display: block;
    /* margin-bottom: 3px; */
}

.formBoxLogin .group input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #33404D;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    outline: none;    
}
.visualizaSenha{
    width: 1.3rem;
    cursor: pointer;
}
.formBoxLogin .group input:hover{
    border: 3px solid #3aa867;
}
.formBoxLogin .group input:focus{
    border: 3px solid #3aa867;
}
.btnEntrar{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20%;
}
.btn{
    width: 100px;
    height: 40px;
    background-color: #33404D;
    color: white;
    border-radius: 12px;
    margin-right: 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn:hover{
    background-color: #181f26;
    color: var(--verde-control);
    transition: linear 0.04s;
}

.navEsqueciSenha{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
}
.navEsqueciSenha li{
    font-size: 20px;
    list-style: none;
}
.navEsqueciSenha li a{
    text-decoration: none;   
    color: #33404F;
}

.GroupLine{
    width: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(198, 196, 196, 0.2);
}
.line1{
    width: 2px;
    height: 40%;
    background-color: #3aa867;
    border-radius: 0 0 5px 5px;
}
.line2{
    width: 2px;
    height: 40%;
    background-color: #3aa867;
    border-radius: 5px 5px 0 0 ;
}

.arrow{
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-evenly;
}
.setas{
    color: green;
    font-size: 20px;
    font-weight: 800;
    /* transform: rotate(90deg); */
}

/* animation Logo */

.containerImagens {
    position: relative;
    width: 30%; 
    height: 200px; 
    /* margin-top: 2;0%; */
}

.imagem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: auto;
    pointer-events: none; 
}

.imagemTop {
    z-index: 3;
    top: 0px; 
    animation: animationTop 6s infinite linear;
}

.imagemMid {
    z-index: 2;
    top: 25px; 
    animation: animationMid 6s infinite linear;
}

.imagemBot {
    z-index: 1;
    top: 50px; 
    animation: animationBot 6s infinite linear;
}

@keyframes animationTop {
    0%{
        top: 0px;
        left: 0px;
    }
    25%{
        top: -50px;
        left: 0px;
    }
    50%{
        top: -50px;
        left: -50px;
    }
    75%{
        top: -50px;
        left: 50px;
    }
    100%{
        top: 0px;
        left: 0px;
    }
}
@keyframes animationMid {
    0%{
        /* top: 100px; */
        left: 0px;
    }
    25%{
        /* top: 60px; */
        left: 0px;
    }
    50%{
        /* top: 60px; */
        left: 50px;
    }
    75%{
        /* top: 60px; */
        left: -50px;
    }
    100%{
        /* top: 100px; */
        left: 0px;
    }
}
@keyframes animationBot {
    0%{
        top: 50px;
        left: 0px;
    }
    25%{
        top: 100px;
        left: 0px;
    }
    50%{
        top: 100px;
        left: -50px;
    }
    75%{
        top: 100px;
        left: 50px;
    }
    100%{
        top: 50px;
        left: 0px;
    }
}

.GroupLineResponsive{
    display: none;
}

.spnEsqueciSenha{
    cursor: pointer;
    position: relative;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.spnEsqueciSenha::after{
    content: " ";
    width: 0;
    height: 2px;
    background-color: #3aa867;
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 0;
    transition: 0.6s ease-in-out;

}

.spnEsqueciSenha:hover::after{
    width: 100%;
}


 /* ---------Media----------- */


@media (min-width: 0px) and (max-width: 320px){
    .login{
        background-size: 60%;
        /* align-items: normal; */
    }
    .GroupLineResponsive{
        display: flex;
    }
    .GroupLineResponsive{
        width: 20px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .lineResponsive{
        width: 2px;
        height: 90%;
        background-color: #3aa867;
        border-radius: 0 0 5px 5px;
    }
    .setaRight{
        transform: rotate(180deg);
    }
    /* box da animação  */
    .containerLogin{
        flex-direction: column;
    }
    .animBox{
        width: 100%;
        height: 150px;
        border-radius: 10px 10px 0 0;
        flex-direction: row;
    }
    .titlePass{
        margin-top: 0px;
        width: 50%;
        height: 100%;
        margin-left: 20px;
        /* display: inline; */
    }
    .titlePass h1{
        font-size: 20px;
        margin-top: 20px;
        /* margin-left: 30px; */
    }

    /* linha mid */
    .GroupLine{
        display: none;
    }

    /* fomulario */
    .cardLogin{
        width: 100%;
        height: 100%;
        border-radius: 0 0 10px 10px;
        /* padding: 20px; */
    }
    .containerBemVindoLogin{
        width: 100%;
        height: auto;
    }
    .titleBemVindo{
        font-size: 20px;
    }
    .formBoxLogin{
        width: 100%;
        justify-content: normal;
    }
    .formBoxLogin .group{
        width: 95%;
    }
    .user{
        width: 100%;
        margin-top: 0px;
    }
    .senha-telaLogin{
        margin-top: 30px;
    }
    .navEsqueciSenha{
        width: 100%;
    }
    .navEsqueciSenha li{
        font-size: 17px;
    }


    /* animacao logo */
    .containerImagens{
        width: 30%;
        height: 40%;
    }
    .imagemTop {
        z-index: 3;
        top: 10px; 
        animation: animationTop 6s infinite linear;
    }
    
    .imagemMid {
        z-index: 2;
        top: 12px; 
        animation: animationMid 6s infinite linear;
    }
    
    .imagemBot {
        z-index: 1;
        top: 24px; 
        animation: animationBot 6s infinite linear;
    }
    
    @keyframes animationTop {
        0%{
            top: 0px;
            left: 0px;
        }
        25%{
            top: -8px;
            left: 0px;
        }
        50%{
            top: -8px;
            left: -25px;
        }
        75%{
            top: -8px;
            left: 25px;
        }
        100%{
            top: 0px;
            left: 0px;
        }
    }
    
    @keyframes animationMid {
        0%{
            /* top: 100px; */
            left: 0px;
        }
        25%{
            /* top: 60px; */
            left: 0px;
        }
        50%{
            /* top: 60px; */
            left: 25px;
        }
        75%{
            /* top: 60px; */
            left: -25px;
        }
        100%{
            /* top: 100px; */
            left: 0px;
        }
    }
    
    @keyframes animationBot {
        0%{
            top: 24px;
            left: 0px;
        }
        25%{
            top: 35px;
            left: 0px;
        }
        50%{
            top: 35px;
            left: -25px;
        }
        75%{
            top: 35px;
            left: 25px;
        }
        100%{
            top: 24px;
            left: 0px;
        }
    }
}

@media (min-width: 321px) and (max-width: 421px){
    .login{
        background-size: 60%;
        /* align-items: normal; */
    }
    .containerLogin{
        height: 100%;
    }
    .btnEntrar{
        margin-top: 10%;
    }
    .GroupLineResponsive{
        display: flex;
    }
    .GroupLineResponsive{
        width: 20px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .lineResponsive{
        width: 2px;
        height: 90%;
        background-color: #3aa867;
        border-radius: 0 0 5px 5px;
    }
    .setaRight{
        transform: rotate(180deg);
    }
    /* box da animação  */
    .containerLogin{
        flex-direction: column;
    }
    .animBox{
        width: 100%;
        height: 150px;
        border-radius: 10px 10px 0 0;
        flex-direction: row;
    }
    .titlePass{
        margin-top: 0px;
        width: 50%;
        height: 100%;
        margin-left: 20px;
        /* display: inline; */
    }
    .titlePass h1{
        font-size: 20px;
        margin-top: 40px;
        /* margin-left: 30px; */
    }

    /* linha mid */
    .GroupLine{
        display: none;
    }

    /* fomulario */
    .cardLogin{
        width: 100%;
        height: 70%;
        border-radius: 0 0 10px 10px;
        /* padding: 20px; */
    }
    .containerBemVindoLogin{
        width: 100%;
        height: auto;
    }
    .titleBemVindo{
        font-size: 25px;
    }
    .formBoxLogin{
        width: 100%;
        justify-content: normal;
    }
    .formBoxLogin .group{
        width: 95%;
    }
    .user{
        width: 100%;
        margin-top: 0px;
    }
    .senha-telaLogin{
        margin-top: 30px;
    }
    .navEsqueciSenha{
        width: 100%;
    }
    .navEsqueciSenha li{
        font-size: 17px;
    }


    /* animacao logo */
    .containerImagens{
        width: 30%;
        height: 40%;
    }
    .imagemTop {
        z-index: 3;
        top: 10px; 
        animation: animationTop 6s infinite linear;
    }
    
    .imagemMid {
        z-index: 2;
        top: 12px; 
        animation: animationMid 6s infinite linear;
    }
    
    .imagemBot {
        z-index: 1;
        top: 24px; 
        animation: animationBot 6s infinite linear;
    }
    
    @keyframes animationTop {
        0%{
            top: 0px;
            left: 0px;
        }
        25%{
            top: -8px;
            left: 0px;
        }
        50%{
            top: -8px;
            left: -25px;
        }
        75%{
            top: -8px;
            left: 25px;
        }
        100%{
            top: 0px;
            left: 0px;
        }
    }
    
    @keyframes animationMid {
        0%{
            /* top: 100px; */
            left: 0px;
        }
        25%{
            /* top: 60px; */
            left: 0px;
        }
        50%{
            /* top: 60px; */
            left: 25px;
        }
        75%{
            /* top: 60px; */
            left: -25px;
        }
        100%{
            /* top: 100px; */
            left: 0px;
        }
    }
    
    @keyframes animationBot {
        0%{
            top: 24px;
            left: 0px;
        }
        25%{
            top: 35px;
            left: 0px;
        }
        50%{
            top: 35px;
            left: -25px;
        }
        75%{
            top: 35px;
            left: 25px;
        }
        100%{
            top: 24px;
            left: 0px;
        }
    }
}
@media (min-width: 422px) and (max-width: 600px){
    .login{
        background-size: 60%;
        /* align-items: normal; */
    }
    .GroupLineResponsive{
        display: flex;
    }
    .GroupLineResponsive{
        width: 20px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .lineResponsive{
        width: 2px;
        height: 90%;
        background-color: #3aa867;
        border-radius: 0 0 5px 5px;
    }
    .setaRight{
        transform: rotate(180deg);
    }
    /* box da animação  */
    .containerLogin{
        flex-direction: column;
    }
    .animBox{
        width: 100%;
        height: 150px;
        border-radius: 10px 10px 0 0;
        flex-direction: row;
    }
    .titlePass{
        margin-top: 0px;
        width: 50%;
        height: 100%;
        margin-left: 20px;

    }
    .titlePass h1{
        font-size: 30px;
        margin-left: 30px;
    }

    /* linha mid */
    .GroupLine{
        display: none;
    }

    /* fomulario */
    .cardLogin{
        width: 100%;
        height: 100%;
        border-radius: 0 0 10px 10px;
        padding: 20px;
    }
    .containerBemVindoLogin{
        width: 100%;
        height: auto;
    }
    .titleBemVindo{
        font-size: 30px;
    }
    .formBoxLogin{
        width: 100%;
        justify-content: normal;
    }
    .user{
        margin-top: 0px;
    }
    .senha-telaLogin{
        margin-top: 30px;
    }



    /* animacao logo */
    .containerImagens{
        width: 30%;
        height: 40%;
    }
    .imagemTop {
        z-index: 3;
        top: 10px; 
        animation: animationTop 6s infinite linear;
    }
    
    .imagemMid {
        z-index: 2;
        top: 12px; 
        animation: animationMid 6s infinite linear;
    }
    
    .imagemBot {
        z-index: 1;
        top: 24px; 
        animation: animationBot 6s infinite linear;
    }
    
    @keyframes animationTop {
        0%{
            top: 0px;
            left: 0px;
        }
        25%{
            top: -8px;
            left: 0px;
        }
        50%{
            top: -8px;
            left: -25px;
        }
        75%{
            top: -8px;
            left: 25px;
        }
        100%{
            top: 0px;
            left: 0px;
        }
    }
    
    @keyframes animationMid {
        0%{
            /* top: 100px; */
            left: 0px;
        }
        25%{
            /* top: 60px; */
            left: 0px;
        }
        50%{
            /* top: 60px; */
            left: 25px;
        }
        75%{
            /* top: 60px; */
            left: -25px;
        }
        100%{
            /* top: 100px; */
            left: 0px;
        }
    }
    
    @keyframes animationBot {
        0%{
            top: 24px;
            left: 0px;
        }
        25%{
            top: 35px;
            left: 0px;
        }
        50%{
            top: 35px;
            left: -25px;
        }
        75%{
            top: 35px;
            left: 25px;
        }
        100%{
            top: 24px;
            left: 0px;
        }
    }
}


@media (min-width: 601px) and (max-width: 970px){


    .login{
        background-size: 40%;
    }

    .titlePass h1{
        font-size: 20px;
    }
    .containerBemVindoLogin{
        width: 100%;
        height: auto;
    }
    .titleBemVindo{
        font-size: 20px;
    }


       /* animacao logo */

    .containerImagens{
        width: 50%;
    }
       .imagemTop {
        z-index: 3;
        top: 10px; 
        animation: animationTop 6s infinite linear;
    }
    
    .imagemMid {
        z-index: 2;
        top: 12px; 
        animation: animationMid 6s infinite linear;
    }
    
    .imagemBot {
        z-index: 1;
        top: 24px; 
        animation: animationBot 6s infinite linear;
    }
    
    @keyframes animationTop {
        0%{
            top: 0px;
            left: 0px;
        }
        25%{
            top: -8px;
            left: 0px;
        }
        50%{
            top: -8px;
            left: -25px;
        }
        75%{
            top: -8px;
            left: 25px;
        }
        100%{
            top: 0px;
            left: 0px;
        }
    }
    
    @keyframes animationMid {
        0%{
            /* top: 100px; */
            left: 0px;
        }
        25%{
            /* top: 60px; */
            left: 0px;
        }
        50%{
            /* top: 60px; */
            left: 25px;
        }
        75%{
            /* top: 60px; */
            left: -25px;
        }
        100%{
            /* top: 100px; */
            left: 0px;
        }
    }
    
    @keyframes animationBot {
        0%{
            top: 24px;
            left: 0px;
        }
        25%{
            top: 35px;
            left: 0px;
        }
        50%{
            top: 35px;
            left: -25px;
        }
        75%{
            top: 35px;
            left: 25px;
        }
        100%{
            top: 24px;
            left: 0px;
        }
    }
}