@import url(root.css);

.card_left_login, .card_right_login {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_animation {
    position: relative;
    width: 90px;
    height: 60%;
}

.image_animation {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.image_animation_top {
    z-index: 3;
    top: 10px;
    animation: image_animation_top 6s infinite linear;
}

.image_animation_mid {
    z-index: 2;
    top: 15px;
    animation: image_animation_mid 6s infinite linear;
}

.image_animation_bot {
    z-index: 1;
    top: 25px;
    animation: image_animation_bot 6s infinite linear;
}

@keyframes image_animation_top {
    0% { top: 0px; left: 0px; }
    25% { top: -10px; left: 0px; }
    50% { top: -10px; left: -15px; }
    75% { top: -10px; left: 15px; }
    100% { top: 0px; left: 0px; }
}

@keyframes image_animation_mid {
    0%, 25% { left: 0px; }
    50% { left: 15px; }
    75% { left: -15px; }
    100% { left: 0px; }
}

@keyframes image_animation_bot {
    0% { top: 25px; left: 0px; }
    25%, 50%, 75% { top: 35px; }
    25% { left: 0px; }
    50% { left: -15px; }
    75% { left: 15px; }
    100% { top: 25px; left: 0px; }
}

.container_lines {
    width: 100%;
    height: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line_top, .line_bot {
    width: 50%;
    height: 15%;
    background-color: var(--main_green_color);
}

.container_arrow {
    height: 20%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

.card_right_login {
    height: 85%;
    display: flex;
    flex-direction: column;
}

.form_login {
    width: 80%;
}

.input_group_login {
    margin-top: 10%;
}

.container_link, .container_button {
    text-align: right;
}

.container_link {
    margin-top: 2%;
}

.link {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--main_black_color);
}

.link::after {
    position: absolute;
    content: " ";
    width: 0;
    height: 2px;
    background-color: var(--main_green_color);
    bottom: 0;
    left: 0;
    transition: 0.6s ease-in-out;
}

.link:hover::after {
    width: 100%;
}

.container_button {
    margin-top: 20%;
}

@media (min-width: 28rem) {
    .card_left_login {
        justify-content: space-around;
    }
}

@media (min-width: 40rem) {
    .card_left_login {
        justify-content: space-around;
        margin-bottom: 2%;
    }

    .container_animation {
        width: 120px;
    }

    .line_top, .line_bot {
        width: 40%;
    }

    .form_login {
        width: 60%;
    }
}

@media (min-width: 48rem) {
    .form_login {
        width: 60%;
    }

    .link {
        font-size: 1rem;
    }
}

@media (min-width: 64rem) {
    .card_left_login, .card_right_login {
        width: 50%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .container_animation {
        width: 200px;
        height: 15%;
        margin-bottom: 40%;
    }

    .image_animation_top {
        top: 0px;
    }

    .image_animation_mid {
        top: 25px;
    }

    .image_animation_bot {
        top: 50px;
    }

    @keyframes image_animation_top {
        0% { top: 0px; left: 0px; }
        25% { top: -50px; left: 0px; }
        50% { top: -50px; left: -50px; }
        75% { top: -50px; left: 50px; }
        100% { top: 0px; left: 0px; }
    }
    
    @keyframes image_animation_mid {
        0%, 25% { left: 0px; }
        50% { left: 50px; }
        75% { left: -50px; }
        100% { left: 0px; }
    }
    
    @keyframes image_animation_bot {
        0% { top: 50px; left: 0px; }
        25%, 50%, 75% { top: 100px; }
        25% { left: 0px; }
        50% { left: -50px; }
        75% { left: 50px; }
        100% { top: 50px; left: 0px; }
    }

    .container_lines {
        width: 2%;
        height: 100%;
        flex-direction: column;
    }

    .line_top, .line_bot {
        width: 10%;
        height: 40%;
    }

    .container_arrow {
        display: flex;
    }

    .form_login {
        width: 85%;
    }
}

@media (min-width: 80rem) {
    .form_login {
        width: 75%;
    }
}

@media (min-width: 96rem) {
    .container_animation {
        margin-bottom: 25%;
    }

    .form_login {
        width: 60%;
    }
}