@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --verde-control: #3AA867;
  --cinza-control: #33404D;
  --cor-fundo: #f9f9f9;
  --cor-nave-botaa: #2d3945;
  --cor-hove-menu: rgba(0, 0, 0, 0.2);
  --cor-active: rgb(219 219 219);
  --font-main: Inter, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-main);
  background: var(--cor-fundo);
}
.menu-container {
  background-color: var(--cinza-control);
  padding: 0 15px;
  position: absolute;
  z-index: 5;
  width: 100%;
}
.menu {
  padding-top: 15px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.menu a {
  color: var(--cor-fundo);
  text-decoration: none;
  padding: 14px;
  border-radius: 5px 5px 0px 0px;
}
.menu a:hover {
  background-color: var(--cor-hove-menu);
  color: var(--verde-control);
}
.menu a.active {
  background-color: var(--cor-active);
  color: var(--font-main);
}
/* .menu a.active:hover {
  color: var(--font-main); */
/* } */
.menu-mobile {
  display: none;
  flex-direction: column;
  background-color: var(--cinza-control);
}
.menu-mobile a {
  color: var(--cor-fundo);
  padding: 14px;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid var(--cor-nave-botaa);
}
.menu-mobile a:hover {
  background-color: var(--cor-hove-menu);
  color: var(--verde-control);
}
.menu-mobile a.active {
  background-color: var(--cor-active);
  color: var(--verde-control);
}
.menu-mobile  a.active:hover {
  color: var(--font-main);
}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--cor-fundo);
  background: none;
  border: none;
}
@media (max-width: 768px) {
  .menu a {
      display: none;
      position: absolute;
  }
  .hamburger {
      display: block;
      padding: 0 0 15px;
  }
  .menu-mobile {
      display: none;
  }
  .menu-mobile.active {
      display: flex;
  }
  .menu-mobile a.active:hover {
    color: var(--verde-control);
  }
}

@media (min-width: 0px) and (max-width: 625px){
  .container{
    width: 150px;
  }
  .banner-img{
    width: 100%;
  }
  .banner-img img{
    width: 100%;
  }
}