/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Botões gerais */
.botao-modal-confirmacao-dados {
    background-color: #33404D;
    color: #FFFFFF;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.fundo-container-confirmacao-dados {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.show {
    opacity: 1;
    display: flex;
    pointer-events: auto;
}

/* Estilo do modal */
.modal-confirmacao-dados {
    background-color: #ddd;
    width: 80%;
    max-width: 600px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.modal-divider-confirmacao-dados {
    border: none;
    border-top: 2px solid #000;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-confirmacao-dados {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 80px;
    max-width: 200px;
    height: auto;
}

/* Tipografia */
.modal-title-confirmacao-dados {
    font-size: 28px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: left;
}

.modal-message-confirmacao-dados {
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

/* Grupo de botões */
.button-group-confirmacao-dados {
    display: flex;
    justify-content: flex-end   ;
    margin-top: 20px;
}

.Okay_ConfDados {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
    margin-bottom: 10px;
}

.Okay_ConfDados:hover {
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Responsividade */
@media (max-width: 400px){
    .modal-message-confirmacao-dados{
        font-size: 18px;
    }
    .botao-modal-confirmacao-dados.Okay{
        margin-top: 20px;
    }
    .button-group-confirmacao-dados{
        justify-content: center;
    }
}
/* Responsividade */
@media (max-width: 400px) {
    .logo-confirmacao-dados{
        width: 60px;
    }
    .modal-title-confirmacao-dados{
        font-size: 20px;
    }
    .modal-message-confirmacao-dados{
        font-size: 16px;
    }

}
