/* Estilo dos botões */
.botao-modal-alterar-dados {
    background-color: #33404D;
    color: #FFFFFF;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.edit_dados {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.show {
    opacity: 1;
    display: flex;
    pointer-events: auto;
}

/* Estilo do modal */
.edit-dados-login {
    background-color: #e0e0e0;
    width: 80%;
    max-width: 600px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
    border-radius: 5px;
}

/* Estilo da linha horizontal */
.line-alterar-dados-login {
    border: none;
    border-top: 2px solid #000;
    width: 100%; 
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo do logo */
.logo-dados-login {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 10%;
}

/* Estilo do container do nome */
.dados-nome-login {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 20px;
}

.container-dados-login {
    flex: 1;
    margin-right: 20px;
}

.container:last-child {
    margin-right: 0;
}

/* Estilo do container de email */
.dados-email-login {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Estilo dos inputs e labels */
.label-nome-login, .label-email-login, label-file-login {
    font-size: 16px;
    margin-bottom: 5px;
}

.input-dados-login, .input-email-login, .input-file-login {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

/* Estilização do container do input file */
.file-container-alterar-dados {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Grupo de botões */
.button-alterar-dados-login {
    display: flex;
    justify-content: right;
    gap: 0px;
    margin-top: 20px;
}

/* Estilo do botão cancelar */
.cancel_AltDadosPessoais {
    background-color: #33404D;
    color: white;
    margin-right: 30px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.cancel_AltDadosPessoais:hover {
    color: #ff0000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo do botão salvar */
.save_AltDadosPessoais {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.save_AltDadosPessoais:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Responsividade */
@media (max-width: 1200px) {
    .modal-editar-dados {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    .modal-editar-dados {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .modal-editar-dados {
        width: 90%;
    }
    .title{
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .button-group {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-dados {
        width: auto;
    }
}

@media (min-width: 401px) and (max-width: 550px){
    .modal-editar-dados {
        width: 95%;
        padding: 20px;
    }
    .title{
        margin-top: 7px;
        font-size: 20px;
    }
    .logo-alterar-dados{
        top: 10px;
        width: 50px;
    }
    .button-group {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-dados {
        width: auto;
    }
}

@media (max-width: 400px) {
    .modal-editar-dados {
        width: 95%;
        padding: 15px;
    }
    .title{
        margin-top: 7px;
        font-size: 20px;
    }
    .logo-alterar-dados{
        top: 10px;
        width: 50px;
    }
    .button-group {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-dados {
        width: auto;
    }
}

@media (min-width: 320px) and (max-width: 340px) {
    .modal-editar-dados {
        width: 90%;
        padding: 15px;
    }
    .title{
        font-size: 16px;
    }
    .logo-alterar-dados{
        top: 15px;
        width: 40px;
    }
    .button-group {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-dados {
        width: auto;
    }
}