/* Estilo dos botões */
.botao-modal-alterar-dados {
    background-color: #33404D;
    color: #FFFFFF;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.fundo_editar_dados_usuario {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.show {
    opacity: 1;
    display: flex;
    pointer-events: auto;
}

/* Estilo do modal */
.modal-editar-dados {
    background-color: #e0e0e0;
    width: 80%;
    max-width: 600px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
    border-radius: 4px;
}

/* Estilo do logo */
.logo-alterar-dados {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 10%;
}

/* Estilo da linha horizontal */
.linha-alterar-dados {
    border: none;
    border-top: 2px solid #000;
    width: 100%; 
    margin-top: 20px;
    margin-bottom: 20px;
}


.form_editar_dados_usuario{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_edit_usuario {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

/* labels e inputs */
.label_input{
    font-size: 16px;
}
.input_dados_edit {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.font_input{
    font-size: 13px;
}

/* container especial para imagem */
.sub_container_foto{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;

    align-items: center;
    justify-content: center;

    .foto_usuario{
        border-radius: 5px;
        max-height: 50px;
    }
}

/* SELECAO SERVICO*/

.selecao_servico {
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.seta_dropdown{
  display: flex;
  transform: rotate(90deg);
  font-size: 12px;
  font-family: 'Arial Narrow';
}
.linha_select{
  margin: 1.5px 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 1px;
}
.dropdown_select{
  display: none;
  flex-direction: column;
  position: absolute;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 85%;
  z-index: 3;
  cursor: auto;
}
.select_show{
  display: flex;
}
.label_option_servico{
  display: flex;
  flex-direction: row;
  padding: 7px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  gap: 10px;
}

.label_option_servico:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

/* Grupo de botões */
.container_botao_form {
  margin-top: 15px;
  width: 90%;
  display: flex;
  justify-content: end;
  gap: 16px;
}

/* Estilo do botão cancelar */
.cancel_edit_dados_usu {
    background-color: #33404D;
    color: white;
    margin-right: 30px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.cancel_edit_dados_usu:hover {
    color: #ff0000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo do botão salvar */
.save_edit_dados_usu {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.save_edit_dados_usu:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Responsividade */
@media (max-width: 1200px) {
    .modal-editar-dados {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    .modal-editar-dados {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .modal-editar-dados {
        width: 90%;
    }
    .titulo{
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .button-group {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-dados {
        width: auto;
    }
}

@media (min-width: 401px) and (max-width: 550px){
    .modal-editar-dados {
        width: 95%;
        padding: 20px;
    }
    .titulo{
        margin-top: 7px;
        font-size: 20px;
    }
    .logo-alterar-dados{
        top: 10px;
        width: 50px;
    }
    .button-group {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-dados {
        width: auto;
    }
}

@media (max-width: 400px) {
    .modal-editar-dados {
        width: 95%;
        padding: 15px;
    }
    .titulo{
        margin-top: 7px;
        font-size: 20px;
    }
    .logo-alterar-dados{
        top: 10px;
        width: 50px;
    }
    .button-group {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-dados {
        width: auto;
    }
}

@media (min-width: 320px) and (max-width: 340px) {
    .modal-editar-dados {
        width: 90%;
        padding: 15px;
    }
    .titulo{
        font-size: 16px;
    }
    .logo-alterar-dados{
        top: 15px;
        width: 40px;
    }
    .button-group {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-dados {
        width: auto;
    }
}