.botao-modal {
    background-color: #33404D;
    color: #FFFFFF;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.fundo-editar-ponto-atendimento {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 10;
}

.show {
    opacity: 1;
    display: flex;
    pointer-events: auto;
}

/* Estilo do modal */
.modal-editar-ponto-atendimento {
    background-color: #e0e0e0;
    width: 80%;
    max-width: 600px;
    min-width: 300px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
    border-radius: 5px;
}

/* Estilo da linha horizontal */
.modal-editar-ponto-atendimento .linha-horizontal {
    border: none;
    border-top: 2px solid #000;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo do logo */
.modal-editar-ponto-atendimento .logo {
    position: absolute;
    width: 60px;
    top: 25px;
    right: 40px;
}
/* Estilo do titulo */
.modal-editar-ponto-atendimento .titulo-modal {
    font-size: 27px;
    margin-bottom: 30px;
    font-weight: bold;
    max-width: 80%;
}

/* Estilo dos labels */
.modal-editar-ponto-atendimento .servico .label {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Estilo dos inputs */
.input-text-editar-ponto-atendimento {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

/* Grupo de botões */
.button-group-ponto-atendimento-edicao {
    display: flex;
    justify-content: end;
    gap: 30px;
    margin-top: 20px;
}

/* Estilo do botão cancelar */
.cancel_EdicaoPontoAtendimento {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.cancel_EdicaoPontoAtendimento:hover {
    color: #ff0000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo do botão salvar */
.save_EdicaoPontoAtendimento {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.save_EdicaoPontoAtendimento:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Responsividade */

@media (max-width: 500px){
    .modal-editar-ponto-atendimento .titulo-modal {
        font-size: 20px;
    }
}

@media (max-width: 480px){
    .modal-editar-ponto-atendimento .titulo-modal {
        font-size: 20px;
    }
    .button-group-ponto-atendimento-edicao {
        display: flex;
        justify-content: center;
        /* background-color: #ff0000; */
    }
}