/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo dos botões */
.botao-modal-alterar-senha {
    background-color: #33404D;
    color: #FFFFFF;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.fundo-container-alterar-senha {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 10;
}

.fundo-container-alterar-senha.show {
    opacity: 1;
    display: flex;
    pointer-events: auto;
}

/* Estilo do modal */
.modal-alterar-senha {
    background-color: #e0e0e0;
    width: 80%;
    max-width: 600px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
    border-radius: 5px;
}

/* Estilo da linha horizontal */
.linha-alterar-senha {
    border: none;
    border-top: 2px solid #000;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo do logo */
.logo-alterar-senha {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 60px;
}

/* Estilo do container do nome */
.senha-atual-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
}

.container-alterar-senha {
    flex: 1;
    margin-right: 20px;
}

.container-alterar-senha:last-child {
    margin-right: 0;
}

/* Estilo do container de email */
.nova-senha-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Estilo do container de CPF */
.conf-nova-senha-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Estilo dos inputs e labels */
.label-senha-atual, .nova-senha-container, .conf-nova-senha-container {
    font-size: 16px;
    margin-bottom: 5px;
}

.input-senha-atual, .input-nova-senha, .input-conf-nova-senha {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

/* Grupo de botões */
.button-group-alterar-senha {
    display: flex;
    justify-content: right;
    gap: 0px;
    margin-top: 20px;
}

/* Estilo do botão cancelar */
.cancel_AltSenha {
    background-color: #33404D;
    color: white;
    margin-right: 30px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.cancel_AltSenha:hover {
    color: #ff0000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo do botão salvar */
.save_AltSenha {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.save_AltSenha:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Responsividade */
@media (max-width: 1200px) {
    .modal-alterar-senha {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    .modal-alterar-senha {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .modal-alterar-senha {
        width: 90%;
    }
    .titulo-alterar-senha{
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .button-group-alterar-senha {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-senha {
        width: auto;
    }
}

@media (min-width: 401px) and (max-width: 550px){
    .modal-alterar-senha {
        width: 95%;
        padding: 20px;
    }
    .titulo-alterar-senha{
        margin-top: 7px;
        font-size: 20px;
    }
    .logo-alterar-senha{
        top: 10px;
        width: 50px;
    }
    .button-group-alterar-senha {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-senha {
        width: auto;
    }
}

@media (max-width: 400px) {
    .modal-alterar-senha {
        width: 95%;
        padding: 15px;
    }
    .titulo-alterar-senha{
        margin-top: 7px;
        font-size: 20px;
    }
    .logo-alterar-senha{
        top: 10px;
        width: 50px;
    }
    .button-group-alterar-senha {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-senha {
        width: auto;
    }

}

@media (min-width: 320px) and (max-width: 340px) {
    .modal-alterar-senha {
        width: 90%;
        padding: 15px;
    }
    .titulo-alterar-senha{
        font-size: 16px;
    }
    .logo-alterar-senha{
        top: 15px;
        width: 40px;
    }
    .button-group-alterar-senha {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-senha {
        width: auto;
    }
}