* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Botões gerais */
.botao-modal {
    background-color: #33404D;
    color: #FFFFFF;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do background do modal */
.fundo-selecao-guiche {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.show {
    opacity: 1;
    display: flex;
    pointer-events: auto;
}

/* Estilo do modal */
.modal-selecao-guiche {
    background-color: #ddd;
    width: 60%;
    max-width: 550px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.modal-selecao-guiche .modal-divider {
    border: none;
    border-top: 2px solid #000;
    width: 100%;  /* Adiciona o padding do modal */
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-selecao-guiche .logo {
    position: absolute;
    width: 60px;
    top: 15px;
    right: 30px;
}

/* Tipografia */
.modal-selecao-guiche .modal-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.modal-selecao-guiche .modal-message {
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.modal-selecao-guiche .select-container{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.modal-selecao-guiche .select-container .menu{
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
}

/* Grupo de botões */
.modal-selecao-guiche .button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.modal-selecao-guiche .button-group .confirm_SelecaoGuiche{
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 15px;
}

.modal-selecao-guiche .button-group .confirm_SelecaoGuiche:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Responsividade */
@media (max-width: 1300px) {
    .modal-selecao-guiche .select-container .menu{
        width: 200px;
    }
}

@media (max-width: 1200px) {
    .modal-selecao-guiche {
        width: 100%;
    }
    .modal-selecao-guiche .modal-title {
        font-size: 25px;
    }
    .modal-selecao-guiche .modal-message {
        font-size: 22px;
    }
    .modal-selecao-guiche .logo {
        width: 70px;
        top: 10px;
    }
    .modal-selecao-guiche .select-container .menu{
        width: 200px;
    }
}

@media (max-width: 1024px) {
    .modal-selecao-guiche {
        width: 100%;
    }
    .modal-selecao-guiche .modal-title {
        font-size: 25px;
    }
    .modal-selecao-guiche .modal-message {
        font-size: 22px;
    }
    .modal-selecao-guiche .logo {
        width: 70px;
        top: 10px;
    }
    .modal-selecao-guiche .select-container .menu{
        width: 180px;
    }
}

@media (max-width: 768px) {
    .modal-selecao-guiche {
        width: 95%;
    }
    .modal-selecao-guiche .modal-title {
        font-size: 25px;
    }
    .modal-selecao-guiche .modal-message {
        font-size: 20px;
    }
    .modal-selecao-guiche .logo {
        width: 70px;
        top: 10px;
    }
    .modal-selecao-guiche .select-container .menu{
        width: 180px;
    }
}

@media (max-width: 480px) {
    .modal-selecao-guiche {
        width: 90%;
    }
    .modal-selecao-guiche .modal-title {
        font-size: 18px;
    }
    .modal-selecao-guiche .modal-message {
        font-size: 18px;
    }
    .modal-selecao-guiche .logo {
        margin-top: 5px;
        width: 60px;
    }
    .modal-selecao-guiche .select-container .menu{
        width: 160px;
    }
}

@media (max-width: 400px) {
    .modal-selecao-guiche {
        width: 90%;
    }
    .modal-selecao-guiche .modal-title {
        font-size: 16px;
        width: 120px;
    }
    .modal-selecao-guiche .modal-message {
        font-size: 18px;
    }
    .modal-selecao-guiche .logo {
        margin-top: 5px;
        width: 50px;
    }
    .modal-selecao-guiche .select-container .menu{
        width: 150px;
    }
}

@media (max-width: 320px) {
    .modal-selecao-guiche {
        width: 90%;
    }
    .modal-selecao-guiche .modal-title {
        font-size: 15px;
    }
    .modal-selecao-guiche .modal-message {
        font-size: 16px;
    }
    .modal-selecao-guiche .logo {
        margin-top: 10px;
        width: 40px;
    }
    .modal-selecao-guiche .select-container .menu{
        width: 150px;
    }
}