/* Botões gerais */
.botao-modal-intervelo-retornar {
    background-color: #33404D;
    color: #FFFFFF;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.fundo-intervalo-retornar {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 10;
}

.fundo-intervalo-retornar .show {
    opacity: 1;
    display: flex;
    pointer-events: auto;
}

/* Estilo do modal */
.modal-intervalo-retornar {
    background-color: #ddd;
    width: 60%;
    max-width: 550px;
    min-width: 290px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.modal-intervalo-retornar .modal-divider {
    border: none;
    border-top: 2px solid #000;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-intervalo-retornar .logo {
    width: 60px;
    position: absolute;
    top: 15px;
    right: 30px;
}

/* Tipografia */
.modal-intervalo-retornar .modal-title-retornar-retornar {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.modal-intervalo-retornar .modal-message-retornar {
    font-size: 18px;
    font-weight: bold;
    text-align: center;    
}

.modal-intervalo-retornar .timer-intervalo-retornar{
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
    margin: 30px;
}

/* Grupo de botões */
.modal-intervalo-retornar .button-group-intervelo-retornar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.return_Intervalo {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 15px;
}

.return_Intervalo:hover {
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
