/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
.pagina {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

/* Estilo do container do modal */
.modal-container-servico {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}
.show {
    opacity: 1;
    display: flex;
    pointer-events: auto;
}

/* Estilo do modal */
.modal-serv {
    background-color: #e0e0e0;
    width: 80%;
    max-width: 600px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
    border-radius: 5px;
}

/* Estilo da linha horizontal */
.linha-horizontal-servico {
    border: none;
    border-top: 2px solid #000;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* Estilo do logo */
.logo-servico {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 10%;
}

/* Estilo dos botões */
.botao-modal-edit-serv {
    padding: 10px 20px;
    background-color: var(--cinza-control);
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo dos labels */
.label-serv {
    font-size: 16px;
    margin-bottom: 5px;
    float: inline-start;
}

/* Estilo dos inputs */
.input-text-edit {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

/* Grupo de botões */
.button-grup-edit-servico {
    display: flex;
    justify-content: right;
    gap: 0px;
    margin-top: 20px;
}

/* Estilo do botão cancelar */
.cancelEditServ {
    background-color: #33404D;
    color: white;
    margin-right: 30px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.cancelEditServ:hover {
    color: #FFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo do botão salvar */
.saveEditServ {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.saveEditServ:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

@media (max-width: 400px) {

}