/* Estilo dos botões */
.botao-modal_AltStatusUsu {
    background-color: #33404D;
    color: #FFFFFF;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.fundo_AltStatusUsu {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.show {
    opacity: 1;
    display: flex;
    pointer-events: auto;
}

/* Estilo do modal */
.modal_AltStatusUsu {
    background-color: #e0e0e0;
    width: 80%;
    max-width: 600px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
    border-radius: 5px;
}

/* Estilo da linha horizontal */
.linha_AltStatusUsu {
    border: none;
    border-top: 2px solid #000;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo do logo */
.logo_AltStatusUsu {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 80px;
    max-width: 200px;
    height: auto;
}

/* Estilo do título */
.titulo_AltStatusUsu {
    font-size: 28px;
    margin-bottom: 40px;
    font-weight: bold;
}

/* Estilo do parágrafo */
.texto_AltStatusUsu {
    font-size: 20px;
    margin: 40px 0px;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

/* Grupo de botões */
.button-group_AltStatusUsu {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    gap: 30px;
}

/* Estilo do botão cancelar */
.cancel-atv-inatv {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.cancel-atv-inatv:hover {
    color: #FF0000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo do botão salvar */
.save-atv-inatv {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.save-atv-inatv:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


/* Responsividade */
@media (max-width: 400px) {
    .logo_AltStatusUsu{
        width: 60px;
    }
    .titulo_AltStatusUsu{
        font-size: 20px;
    }
    .texto_AltStatusUsu{
        font-size: 16px;
    }
    .button-group_AltStatusUsu{
        gap: 10px;
    }
}
