:root{
    --cor-azul-escuro--1: rgba(51, 64, 77, 1);
    --cor-azul-escuro--0_10: rgba(51, 64, 77, 0.10);
    --cor-azul-acinzentado: rgb(69, 84, 99);
    --cor-cinza--1: rgb(240, 240, 240,1);
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    font-family: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;
    overflow: hidden;
}

.fundo-de-tudo{
    align-items: center;
    background-color: var(--cor-cinza--1);
    background-image: url(../../public/img/background_logo.svg);
    background-size: 35vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.fundo-azul-lateral{
    background-color: var(--cor-azul-escuro--1);
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.titulo-azul-lateral{
    width: 95%;
    height: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 3vw;
    font-weight: 700;
}

.area-das-senhas{
    width: 95%;
    height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: var(--cor-cinza--1);
}

.caixa-das-senhas{
    width: 90%;
    height: 25%;
    border-radius: 5px;
    padding: 1.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-azul-escuro--0_10);
}

.nome-senha-secundaria{
    height: 80%;
    display: flex;
    align-items: center;
    padding: auto;
    font-size: 4.5vh;
    font-weight: 800;
    text-wrap:wrap;
    text-align: center;
    color: var(--cor-azul-escuro--1);
}

.conjunto-senhas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.senha{
    display: flex;
    color: var(--cor-azul-escuro--1);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.info-senha-secundaria, .info-senha-secundaria{
    display: flex;
    font-size: 3vh;
    padding: 5px;
    font-weight: 800;
    color: var(--cor-azul-acinzentado);
}

.dados-senha-secundaria{
    display: flex;
    font-size: 4vh;
    text-wrap: nowrap;
    font-weight: 800;
}

.guiche{
    display: flex;
    color: var(--cor-azul-escuro--1);
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.fundo-senha-principal {
    position: absolute;
    background-color: var(--cor-azul-escuro--0_10);
    height: auto;
    width: auto;
    border-radius: 5px;
    top: 2vw;
    right: 2vw;
    left: 32vw;
    bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fundo-senha-principal-wrap{
    height: 100%;
    width: 100%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    #nome_senha_principal, .dados-senha-principal{
        overflow-wrap: anywhere;
    }
}

#nome_senha_principal{
    width: 100%;
    padding-bottom: 7%;
    font-size: 8vh;
    text-align: center;
    color: var(--cor-azul-escuro--1);
    font-weight: 800;
}

.infos-senha-principal{
    width: 100%;
    display: block;
    flex-direction: row;
    text-wrap: nowrap;
    justify-content: center;
    justify-content: space-around;
    color: var(--cor-azul-escuro--1);
    font-size: 3.5vw;
}

.infos-senha-principal li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}

.info-senha-principal {
    width: auto;
    display: flex;
    justify-content: space-between;
    color: var(--cor-azul-acinzentado);
    font-size: 5vh;
}

.dados-senha-principal{
    min-width: 200px;
    text-align: center;
    font-weight: 800;
    font-size: 10vh;
}

.nome-servico{
    display: flex;
    width: 90%;    
    align-items: end;
    justify-content: space-around;
}

.nome-servico li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
    list-style: none;
}

.nome-servico li h2{
    font-size: 4vh;
    font-weight: 600;
    color: var(--cor-azul-acinzentado);
}   

.nome-servico li span{
    font-size: 5vh;
    font-weight: 600;
    color: var(--cor-azul-escuro--1);
}   

/* ------------------ MEDIA ------------------ */

@media screen and (max-width: 1070px){
    .nome-senha-secundaria{
        font-size: 3.3vh;
    }
    .info-senha-secundaria, .dados-senha-secundaria{
        font-size: 3vh;
    }
}

@media screen and (max-width: 900px){
    .nome-senha-secundaria{
        font-size: 3.2vh;

        max-height: 3.6em;
        line-height: 1.3em;
        overflow-wrap: anywhere;
    }
    .info-senha-secundaria, .dados-senha-secundaria{
        font-size: 2.2vh;
        text-wrap: wrap;
        text-align: center;
    }
}

@media screen and (max-width: 840px){
    .fundo-de-tudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .fundo-azul-lateral{
        top: 70vh;
        right: 0vw;
        left: 0vw;
        bottom: 0px;
        flex-direction: column;
        width: 100%;
        height: 30%;

        align-items: center;
        justify-content: start;
    }
    .area-das-senhas{
        width: 99%;
        flex-direction: row;
        justify-content: space-evenly;

    }
    .caixa-das-senhas{
        height: 85%;
        width: 27%;
        border: 1px solid white;
    }
    .nome-senha-secundaria{
        align-items: start;
        height: 70%;
    }
    .conjunto-senhas{
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
    }
    .senha{
        flex-direction: column;
    }
    .info-senha-secundaria{
        display: none;
    }
    .guiche{
        flex-direction: column;
    }
    .fundo-senha-principal{
        top: 1vh;
        right: 1vh;
        left: 1vh;
        bottom: 31vh;
    }
    #nome_senha_principal{
        font-size: 5vh;
    }
    .info-senha-principal{
        font-size: 3vh;
        text-size-adjust: auto;
    }
    .dados-senha-principal{
        font-size: 5vh;
    }
}
@media screen and (max-height: 700px) {
    .titulo-azul-lateral{
        font-size: 4vh;
    }
}