@import url(base_area_util.css);

.area-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 10;
}
.modal-fundo {
    display: flex;
    width: 65%;
    height: 75%;
    border-radius: 5px;
    background-color: var(--cor-fundo);
    background-image: url(../../public/img/Background-logo\ 2.svg);
    background-size: 20vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    text-align: center;
    z-index: 4;
}
.fundo-lateral{
    display: flex;
    width: 310px;
    height: 100%;
    background-color: var(--cinza-control);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px 0px 0px 5px ;
}
.fundo-lateral h1 {
    width: 70%;
    text-align: center;
    color: white;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
}
.area-das-senhas{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--cor-fundo);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 85px;
}
.caixa-das-senhas {
    display: flex;
    width: 95%;
    height: 105px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(0, 0, 0, 0.08) ;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.caixa-das-senhas h2 {
    display: flex;
    font-size: 22px;
    margin-top: 5px;
    color: var(--cinza-control);
    font-weight: 800;
}
.conjunto-senhas {
    display: flex;
    width: 100%;
    gap: 50px;
    justify-content: center;
}
.senha {
    display: flex;
    color: var(--cinza-control);
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
}
.senha h3 {
    display: flex;
    font-size: 18px;
    padding: 5px;
    font-weight: 800;
}
.senha h4 {
    display: flex;
    font-size: 20px;
    font-weight: 800;
}
.guiche {
    display: flex;
    color: var(--cinza-control);
    align-items: center;
    flex-direction: column;
    margin-right: 15px;
}
.guiche h5 {
    display: flex;
    font-size: 18px;
    padding: 5px;
    font-weight: 800;
}
.guiche h6 {
    display: flex;
    font-size: 20px;
    font-weight: 800;
}
.fundo-principal {
    display: flex;
    width: 75%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.area-botao-fechar-monitor {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: right;
}
.botao-fechar-monitor {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    background-color: rgba(123, 0, 0, 1);
    border: 3px solid;
    border-color: black;
    margin: 10px;
}
.botao-fechar-monitor:hover {
    background-color: rgb(187, 0, 0);
}
.botao-fechar-monitor h2 {
    font-size: 20px;
    color: white;
    font-weight: 700;
}
.fundo-senha-principal {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caixa-senha-principal {
    display: flex;
    width: 90%;
    height: 90%;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
}
.conjunto-senha-principal {
    display: flex;
    width: 95%;
    height: 75%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
}
.nome-pessoa {
    width: 100%;
}
.nome-pessoa h1 {
    display: flex;
    font-size: 45px;
    justify-content: center;
    text-align: center;
    color: var(--cinza-control);
    font-weight: 800;
    margin-bottom: 10px;
}
.infos-senha-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.infos-senha-principal h2 {
    display: flex;
    font-size: 55px;
    gap: 100px;
    justify-content: space-around;
    margin: 20px 100px 20px 100px;
    color: var(--cinza-control);
    font-weight: 800;
    
    
}
.infos-senha-principal span {
    width: 250px;
    text-align: center;
    font-weight: 800;
}
@media (min-width: 1500px) and (max-width: 1878px) {
    .modal-fundo {
        width: 70%;
        height: 95%;
        background-size: 17vh;
    }
    .fundo-lateral {
        width: 350px;
        overflow: hidden;
    }
    .fundo-lateral h1 {
        width: 70%;
        font-size: 30px;
        font-weight: 700;
    }
    .area-das-senhas {
        width: 100%;
        margin-bottom: 40px;
    }
    .caixa-das-senhas {
        width: 95%;
        height: 20%;
    }
    .caixa-das-senhas h2 {
        font-size: 14px;
        font-weight: 800;
    }
    .conjunto-senhas {
        width: 100%;
    }
    .senha {
        margin-left: 30px;
    }
    .senha h3 {
        font-size: 14px;
        font-weight: 800;
    }
    .senha h4 {
        font-size: 14px;
        font-weight: 800;
    }
    .guiche {
        margin-right: 30px;
    }
    .guiche h5 {
        font-size: 14px;
        font-weight: 800;
    }
    .guiche h6 {
        font-size: 14px;
        font-weight: 800;
    }
    .botao-fechar-monitor {
        width: 45px;
        height: 45px;
        font-size: 15px;
    }
    .caixa-senha-principal {
        height: 75%;
    }
    .conjunto-senha-principal {
        width: 450px;
        height: 85%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nome-pessoa h1 {
        font-size: 30px;
    }
    .infos-senha-principal {
        width: 80%;
    }
    .infos-senha-principal h2 {
        font-size: 30px;
        margin: 5px 10px;
    }
    .infos-senha-principal span {
        width: 145px;
        font-size: 30px;
    }
}
@media (min-width: 1200px) and (max-width: 1500px) {
    .modal-fundo{
        width: 70%;
        height: 95%;
        background-size: 17vh;
    }
    .fundo-lateral{
        width: 350px;
        overflow: hidden;
    }
    .fundo-lateral h1{
        width: 90%;
        font-size: 30px;
        font-weight: 700;
    }
    .area-das-senhas{
        width: 100%;
        margin-bottom: 60px;
    }
    .caixa-das-senhas{
        width: 95%;
        height: 20%;
    }
    .caixa-das-senhas h2{
        font-size: 12px;
        font-weight: 800;
    }
    .conjunto-senhas {
        width: 100%;
        gap: 20px;
    }
    .senha {
        margin-left: 30px;
    }
    .senha h3 {
        font-size: 12px;
        font-weight: 800;
    }
    .senha h4 {
        font-size: 12px;
        font-weight: 800;
    }
    .guiche {
        margin-right: 30px;
    }
    .guiche h5 {
        font-size: 12px;
        font-weight: 800;
    }
    .guiche h6 {
        font-size: 12px;
        font-weight: 800;
    }
    .botao-fechar-monitor {
        width: 45px;
        height: 45px;
        font-size: 15px;
    }
    .caixa-senha-principal {
        width: 75%;
        height: 80%;
    }
    .conjunto-senha-principal {
        width: 90%;
        height: 75%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .nome-pessoa h1 {
        font-size: 30px;
    }
    .infos-senha-principal {
        width: 80%;
    }
    .infos-senha-principal h2 {
        font-size: 30px;
        gap: 50px;
        margin: 5px 10px;
    }
    .infos-senha-principal span {
        width: 145px;
        font-size: 30px;
    }
}
@media (min-width: 1023px) and (max-width: 1200px) {
    .modal-fundo{
        width: 90%;
        height: 85%;
        background-size: 17vh;
    }
    .fundo-lateral{
        width: 330px;
        overflow: hidden;
    }
    .fundo-lateral h1{
        width: 70%;
        font-size: 25px;
        font-weight: 700;
    }
    .area-das-senhas{
        width: 100%;
        margin-bottom: 15px;
    }
    .caixa-das-senhas{
        width: 95%;
        height: 20%;
    }
    .caixa-das-senhas h2{
        font-size: 15px;
        font-weight: 800;
    }
    .conjunto-senhas {
        width: 100%;
    }
    .senha {
        margin-left: 30px;
    }
    .senha h3 {
        font-size: 15px;
        font-weight: 800;
    }
    .senha h4 {
        font-size: 15px;
        font-weight: 800;
    }
    .guiche {
        margin-right: 30px;
    }
    .guiche h5 {
        font-size: 15px;
        font-weight: 800;
    }
    .guiche h6 {
        font-size: 15px;
        font-weight: 800;
    }
    .botao-fechar-monitor {
        width: 45px;
        height: 45px;
        font-size: 15px;
    }
    .caixa-senha-principal {
        width: 80%;
        height: 80%;
    }
    .conjunto-senha-principal {
        width: 85%;
        height: 75%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .nome-pessoa h1 {
        font-size: 30px;
    }
    .infos-senha-principal {
        width: 80%;
        
    }
    .infos-senha-principal h2 {
        font-size: 30px;
        gap: 50px;
        margin: 5px 10px;
    }
    .infos-senha-principal span {
        width: 145px;
        font-size: 30px;
    }
}
@media (min-width: 770px) and (max-width: 1022px) {
    .modal-fundo{
        width: 90%;
        height: 75%;
        background-size: 17vh;
    }
    .fundo-lateral{
        width: 300px;
        overflow: hidden;
    }
    .fundo-lateral h1{
        width: 90%;
        font-size: 30px;
        font-weight: 700;
    }
    .area-das-senhas{
        width: 100%;
        height: 100%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
    }
    .caixa-das-senhas{
        width: 95%;
        height: 20%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .caixa-das-senhas h2{
        font-size: 10px;
        font-weight: 800;
    }
    .conjunto-senhas {
        width: 100%;
        gap: 30px;
    }
    .senha {
        margin-left: 5px;
    }
    .senha h3 {
        font-size: 10px;
        font-weight: 800;
    }
    .senha h4 {
        font-size: 10px;
        font-weight: 800;
    }
    .guiche {
        margin-right: 5px;
    }
    .guiche h5 {
        font-size: 10px;
        font-weight: 800;
    }
    .guiche h6 {
        font-size: 10px;
        font-weight: 800;
    }
    .botao-fechar-monitor {
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
    .caixa-senha-principal {
        width: 90%;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .conjunto-senha-principal {
        width: 90%;
        height: 80%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .nome-pessoa h1 {
        font-size: 25px;
    }
    .infos-senha-principal {
        width: 70%;
    }
    .infos-senha-principal h2 {
        font-size: 25px;
        gap: 30px;
        margin: 5px 25px;
    }
    .infos-senha-principal span {
        width: 145px;
        font-size: 25px;
    }
}
@media (min-width: 645px) and (max-width: 769px){
    .modal-fundo{
        width: 90%;
        height: 65%;
        background-size: 17vh;
    }
    .fundo-lateral{
        width: 300px;
        overflow: hidden;
    }
    .fundo-lateral h1{
        width: 100%;
        font-size: 20px;
        font-weight: 700;
    }
    .area-das-senhas{
        width: 100%;
        height: 100%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
    }
    .caixa-das-senhas{
        width: 95%;
        height: 20%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .caixa-das-senhas h2{
        font-size: 10px;
        font-weight: 800;
    }
    .conjunto-senhas {
        width: 100%;
        gap: 30px;
        
    }
    .senha {
        margin-left: 5px;
    }
    .senha h3 {
        font-size: 10px;
        font-weight: 800;
    }
    .senha h4 {
        font-size: 10px;
        font-weight: 800;
    }
    .guiche {
        margin-right: 5px;
    }
    .guiche h5 {
        font-size: 10px;
        font-weight: 800;
    }
    .guiche h6 {
        font-size: 10px;
        font-weight: 800;
    }
    .fundo-principal{
        width: 100%;
    }
    .botao-fechar-monitor {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }
    .caixa-senha-principal {
        width: 90%;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .conjunto-senha-principal {
        width: 85%;
        height: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nome-pessoa h1 {
        font-size: 11px;
    }
    .infos-senha-principal {
        width: 50%;
    }
    .infos-senha-principal h2 {
        font-size: 11px;
        gap: 20px;
        margin: 5px;
    }
    .infos-senha-principal span {
        width: 145px;
        font-size: 11px; 
    }
}
@media (min-width: 480px) and (max-width: 645px){
    .modal-fundo{
        width: 90%;
        height: 65%;
        background-size: 17vh;
    }
    .fundo-lateral{
        width: 250px;
        overflow: hidden;
    }
    .fundo-lateral h1{
        width: 80%;
        font-size: 20px;
        font-weight: 700;
    }
    .area-das-senhas{
        width: 100%;
        height: 100%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
    }
    .caixa-das-senhas{
        width: 95%;
        height: 20%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .caixa-das-senhas h2{
        font-size: 10px;
        font-weight: 800;
    }
    .conjunto-senhas {
        width: 100%;
        gap: 30px;  
    }
    .senha {
        margin-left: 5px;
    }
    .senha h3 {
        font-size: 10px;
        font-weight: 800;
    }
    .senha h4 {
        font-size: 10px;
        font-weight: 800;
    }
    .guiche {
        margin-right: 5px;
    }
    .guiche h5 {
        font-size: 10px;
        font-weight: 800;
    }
    .guiche h6 {
        font-size: 10px;
        font-weight: 800;
    }
    .fundo-principal{
        width: 60%;
    }
    .botao-fechar-monitor {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }
    .caixa-senha-principal {
        width: 90%;
        margin-left: 15px;
        margin-right: 15px;
    }
    .conjunto-senha-principal {
        width: 85%;
        height: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nome-pessoa h1 {
        font-size: 11px;
    }
    .infos-senha-principal {
        width: 70%;
    }
    .infos-senha-principal h2 {
        font-size: 11px;
        gap: 20px;
        margin: 5px;
    }
    .infos-senha-principal span {
        width: 145px;
        font-size: 11px;
    }
}
@media (min-width: 345px) and (max-width: 480px){
    .modal-fundo{
        width: 90%;
        height: 55%;
        background-size: 17vh;
    }
    .fundo-lateral{
        width: 130px;
        padding: 5px;
    }
    .fundo-lateral h1{
        width: 70%;
        font-size: 14px;
    }
    .area-das-senhas{
        width: 90%;
        height: 70%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .caixa-das-senhas{
        width: 95%;
        height: 20%;
        margin-top: 5px;
        margin-bottom: 5px;  
    }
    .caixa-das-senhas h2{
        font-size: 9px;
        font-weight: 800;
    }
    .conjunto-senhas {
        width: 100%;
        gap: 5px;
    }
    .senha {
        margin-left: 5px;
    }
    .senha h3 {
        font-size: 9px;
        font-weight: 800;
    }
    .senha h4 {
        font-size: 9px;
        font-weight: 800;
    }
    .guiche {
       margin-right: 5px;
    }
    .guiche h5 {
        font-size: 9px;
        font-weight: 800;
    }
    .guiche h6 {
        font-size: 9px;
        font-weight: 800;
    }
    .fundo-principal{
        width: 70%;
    }
    .botao-fechar-monitor {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    .caixa-senha-principal {
        width: 90%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .conjunto-senha-principal {
        width: 85%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .nome-pessoa{
        width: 100%;
    }
    .nome-pessoa h1 {
        font-size: 9px;
    }
    .infos-senha-principal {
        width: 80%;
    }
    .infos-senha-principal h2{
        font-size: 9px;
        gap: 0px;
        margin: 10px 5px 10px 5px;
        font-weight: 800;
    }
    .infos-senha-principal span{
        width: 50px;
        font-size: 9px;
    }
}
@media (min-width: 300px) and (max-width: 345px){
    .modal-fundo{
        width: 90%;
        height: 55%;
        background-size: 15vh;
    }
    .fundo-lateral{
        width: 130px;
        padding: 5px;
    }
    .fundo-lateral h1{
        width: 70%;
        font-size: 14px;
    }
    .area-das-senhas{
        width: 90%;
        height: 70%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .caixa-das-senhas{
        width: 95%;
        height: 20%;
        margin-top: 5px;
        margin-bottom: 5px;  
    }
    .caixa-das-senhas h2{
        font-size: 9px;
        font-weight: 800;
    }
    .conjunto-senhas {
        width: 100%;
        gap: 5px;
    }
    .senha {
        margin-left: 5px;
    }
    .senha h3 {
        font-size: 9px;
        font-weight: 800;
    }
    .senha h4 {
        font-size: 9px;
        font-weight: 800;
    }
    .guiche {
       margin-right: 5px;
    }
    .guiche h5 {
        font-size: 9px;
        font-weight: 800;
    }
    .guiche h6 {
        font-size: 9px;
        font-weight: 800;
    }
    .fundo-principal{
        width: 50%;
    }
    .botao-fechar-monitor {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    .fundo-principal {
        width: 58%;
    }
    .caixa-senha-principal {
        width: 90%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .conjunto-senha-principal {
        width: 85%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .nome-pessoa{
        width: 100%;
    }
    .nome-pessoa h1 {
        font-size: 9px;
    }
    .infos-senha-principal{
        width:80%;
    }
    .infos-senha-principal h2{
        font-size: 9px;
        gap: 0px;
        margin: 10px 5px 10px 5px;
        font-weight: 800;
    }
    .infos-senha-principal span{
        width: 50px;
        font-size: 9px;
    }
}
@media (min-height: 450px) and (max-height: 700px){
    .modal-fundo {
        height: 85%;
    }
}
@media (min-height: 700px) and (max-height: 800px){
    .modal-fundo {
        height: 80%;
    }
}
@media (min-height: 800px) and (max-height: 900px){
    .modal-fundo {
        height: 75%;
    }
}
@media (min-height: 900px) and (max-height: 1080px){
    .modal-fundo {
        height: 75%;
    }
}