@import url(base_area_util.css);

.area-modal {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 10;
}
.modal-fundo {
    display: flex;
    width: 85%;
    height: 75%;
    border-radius: 5px;
    background-color: var(--cor-fundo);
    background-image: url(../../public/img/Background-logo\ 2.svg);
    background-size: 20vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    text-align: center;
    z-index: 4;
}
.fundo-lateral{
    display: flex;
    width: 310px;
    height: 100%;
    background-color: var(--cinza-control);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
    border-radius: 5px 0px 0px 5px ;
}
.fundo-lateral h1 {
    width: 70%;
    text-align: center;
    color: white;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
}
.area-das-senhas{
    display: flex;
    width: 100%;
    height: 75%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--cor-fundo);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
}
.caixa-das-senhas {
    display: flex;
    width: 95%;
    height: 145px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(0, 0, 0, 0.08) ;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.caixa-das-senhas h2 {
    display: flex;
    font-size: 22px;
    /* margin-top: 5px; */
    color: var(--cinza-control);
    font-weight: 800;
}
.conjunto-senhas {
    display: flex;
    width: 80%;
    gap: 30px;
    justify-content: center;
}
.senha {
    display: flex;
    color: var(--cinza-control);
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
}
.senha h3 {
    display: flex;
    font-size: 18px;
    padding: 5px;
    font-weight: 800;
}
.senha h4 {
    display: flex;
    font-size: 20px;
    font-weight: 800;
}
.guiche {
    display: flex;
    color: var(--cinza-control);
    align-items: center;
    flex-direction: column;
    margin-right: 15px;
}
.guiche h5 {
    display: flex;
    font-size: 18px;
    padding: 5px;
    font-weight: 800;
}
.guiche h6 {
    display: flex;
    font-size: 20px;
    font-weight: 800;
}
.fundo-principal {
    display: flex;
    width: 75%;
    height: 100%;justify-content: end;
    flex-direction: column;
    align-items: center;
}
.area-botao-fechar-monitor {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: right;
}
.botao-fechar-monitor {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    background-color: rgba(123, 0, 0, 1);
    border: 3px solid;
    border-color: black;
    margin: 10px;
}
.botao-fechar-monitor:hover {
    background-color: rgb(187, 0, 0);
}
.botao-fechar-monitor h2 {
    font-size: 20px;
    color: white;
    font-weight: 700;
}
.fundo-senha-principal {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caixa-senha-principal {
    display: flex;
    width: 90%;
    height: 90%;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
}
.conjunto-senha-principal {
    display: flex;
    width: 105%;
    height: 75%;
    /* margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
    margin-bottom: 80px; */
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.05); */
}
.nome-pessoa {
    width: 100%;
    display: flex;
    justify-content: center;
}
.nome-pessoa h1 {
    display: flex;
    font-size: 45px;
    text-align: center;
    color: var(--cinza-control);
    font-weight: 800;
    margin-bottom: 10px;
}
.infos-senha-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.infos-detalhes-esquerda{
    width: 30%;
}
.infos-detalhes-esquerda h2 {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 800;
    font-size: 38px;
    margin: 20px;
    color: var(--cinza-control);
}
.infos-detalhes-direita{
    width: 35%;
}
.infos-detalhes-direita h2 {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 800;
    font-size: 38px;
    margin: 20px;
    color: var(--cinza-control);
}
.visualizar{
    display: flex;
    opacity: 1;
}

@media screen and (max-width: 1455px) {
    .infos-detalhes-esquerda h2, .infos-detalhes-direita h2 {
        font-size: 35px;
    }
}
@media screen and (max-width: 1338px) {
    .infos-detalhes-esquerda h2, .infos-detalhes-direita h2 {
        font-size: 34px;
    }
    .infos-senha-principal {
        gap: 40px;
    }
    .conjunto-senhas {
        gap: 22px;
    }
}
@media screen and (max-width: 1228px) {
    .infos-senha-principal {
        gap: 30px;
    }
    .nome-pessoa h1{
        font-size: 40px;
    }
}
@media screen and (max-width: 1198px) {
    .infos-senha-principal {
        gap: 20px;
    }
    .nome-pessoa h1{
        font-size: 35px;
    }
}
@media screen and (max-width: 1150px) {
    .infos-detalhes-esquerda h2, .infos-detalhes-direita h2 {
        font-size: 26px;
    }
    .infos-senha-principal {
        gap: 0;
    }
    .conjunto-senhas {
        gap: 20px;
    }
}
@media screen and (max-width: 1100px) {
    .infos-detalhes-esquerda h2, .infos-detalhes-direita h2 {
        font-size: 26px;
    }
    .conjunto-senhas {
        flex-direction: column;
    }
    .guiche h5{
        display: none;
    }
    .senha h3{
        display: none;
    }
    .senha{
        margin-left: 0;
    }
    .conjunto-senhas {
        gap: 5px;
    }
}
@media screen and (max-width: 936px) {
    .infos-detalhes-esquerda h2, .infos-detalhes-direita h2 {
        font-size: 22px;
    }
    .infos-senha-principal {
        gap: 0;
    }
    .conjunto-senhas {
        flex-direction: column;
    }
    .guiche h5{
        display: none;
    }
    .senha h3{
        display: none;
    }
    .senha{
        margin-left: 0;
    }
    .conjunto-senhas {
        gap: 5px;
    }
    .caixa-das-senhas {
        width: 90%;
    }
    .modal-fundo{
        width: 90%;
    }
}
@media screen and (max-width: 894px) {
    .infos-detalhes-esquerda h2, .infos-detalhes-direita h2 {
        font-size: 20px;
    }
    .infos-detalhes-esquerda {
        width: 24%;
    }
    .fundo-lateral{
        width: 250px;
    }
    .caixa-senha-principal{
        width: 95%;
    }
}
@media screen and (max-width: 760px) {
    .infos-detalhes-esquerda h2, .infos-detalhes-direita h2 {
        font-size: 20px;
    }
    .infos-detalhes-esquerda {
        width: 24%;
    }
    .fundo-lateral{
        width: 230px;
    }
    .caixa-senha-principal{
        width: 95%;
    }
    .caixa-das-senhas{
        font-size: 18px;
    }
    .fundo-lateral h1{
        font-size: 30px;
        width: 90%;
    }
    .area-das-senhas{
        height: 80%;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 642px) {
    .infos-detalhes-esquerda h2, .infos-detalhes-direita h2 {
        font-size: 18px;
    }
    .infos-detalhes-esquerda {
        width: 24%;
    }
    .fundo-lateral{
        width: 165px;
    }
    .caixa-senha-principal{
        width: 95%;
    }
    .caixa-das-senhas{
        font-size: 18px;
    }
    .fundo-lateral h1{
        font-size: 26px;
        width: 100%;
    }
    .area-das-senhas{
        height: 80%;
        margin-bottom: 0;
        width: 108%;
    }
    .caixa-das-senhas h2{
        font-size: 16px;
    }
    .senha h4{
        font-size: 16px;
    }
    .guiche h6{
        font-size: 16px;
    }
}
@media screen and (max-width: 550px) {
    .infos-detalhes-esquerda h2, .infos-detalhes-direita h2 {
        font-size: 15px;
    }
    .infos-detalhes-esquerda {
        width: 24%;
    }
    .fundo-lateral{
        width: 130px;
    }
    .caixa-senha-principal{
        width: 95%;
    }
    .caixa-das-senhas{
        font-size: 18px;
    }
    .fundo-lateral h1{
        font-size: 26px;
        width: 100%;
    }
    .area-das-senhas{
        height: 80%;
        margin-bottom: 0;
        width: 108%;
    }
    .caixa-das-senhas h2{
        font-size: 14px;
    }
    .senha h4{
        font-size: 16px;
    }
    .guiche h6{
        font-size: 14px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 550px) {
    .infos-detalhes-esquerda h2, .infos-detalhes-direita h2 {
        font-size: 14px;
    }
    .infos-detalhes-esquerda {
        width: 24%;
    }
    .fundo-lateral{
        width: 130px;
    }
    .caixa-senha-principal{
        width: 95%;
    }
    .caixa-das-senhas{
        font-size: 18px;
    }
    .fundo-lateral h1{
        font-size: 22px;
        width: 100%;
    }
    .area-das-senhas{
        height: 80%;
        margin-bottom: 0;
        width: 108%;
    }
    .caixa-das-senhas h2{
        font-size: 14px;
    }
    .senha h4{
        font-size: 16px;
    }
    .guiche h6{
        font-size: 14px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 550px) {
    .infos-detalhes-esquerda h2, .infos-detalhes-direita h2 {
        font-size: 22px;
    }
    .fundo-lateral {
        display: none;
    }
    .caixa-senha-principal {
        width: 120%;
        height: 90%;
        margin-left: 100px;
        margin-right: 0;
    }
    .area-botao-fechar-monitor{
        justify-content: flex-start;
    }
    .conjunto-senha-principal{
        width: 125%;
    }
    .caixa-senha-principal {
        margin-left: 70px;
    }
}
@media screen and (max-width: 410px) {
    .infos-detalhes-esquerda h2, .infos-detalhes-direita h2 {
        font-size: 20px;
    }
}
@media screen and (max-width: 380px) {
    .infos-detalhes-esquerda h2, .infos-detalhes-direita h2 {
        font-size: 18px;
    }
}