@import url(base_area_util.css);
@import url(monitor-modal.css);

:root{
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --vermelho: #dd0f00;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-style: bold;
    list-style: none;
}

.control-body-navegacao{
    background-color: var(--cor-fundo);
    background-image: url(../../public/img/Background-logo\ 2.svg);
    background-size: 35vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: top;
    overflow: hidden;
    z-index: 0;
    /* background-color: #dd0f00; */
}

/* TOPO */

.cabeca-navegacao-control{
    background-color: var(--cinza-control);
    height: 15vh;
    width: 100vw;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 2;
}

.nav-cabeca{
    background-color: var(--cor-fundo);
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vh;
    padding-right: 2vh;
}

.logo-control{
    height: 100%;
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

#img-logo{
    height: 100%;
    width: 100%;
}

.titulo-projeto{
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 3vh;
    color: var(--cinza-control);
}

/* INFO DO USUARIO */
.usu-nome{
    color: var(--cinza-control);
    height: auto;
    min-width: 15vw;  
    max-width: 30vw;
    
    border-radius: 5px;
    font-weight: 500;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    text-align: center;
    cursor: pointer;
    padding: 2px;
}
.usu-nome:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.menu-usuario{
    z-index: 10;

    min-height: 15vh;
    min-width: 15vw;

    position:absolute;
    top: 4vh;
    right: 2vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    gap: 1vw;
    padding: 5px;
    background-color: var(--cor-fundo);
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    /* background-color: palevioletred; */

    display: none;
}
.icone-usuario{
    border-radius: 100px;
    width: 50%;
}
/* .usu-detalhes{
    background-color: var(--cor-fundo);
    display: none;
    position: absolute;
    padding-top: 100px;
    height: auto;
    width: auto;
    min-width: 15vw;
    text-decoration: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    top: 3%;
    border-radius: 10px;
    z-index: 10;
    padding: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 15px;
    cursor: auto;
} */
.texto-usu{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.texto-usu .nome-usu{
    font-size: 26px;
    font-weight: 700;
}
.texto-usu .email-usu{
    display: flex;
    padding-top: 5px;
    font-size: 15px;
    font-weight: 500;
}
.texto-usu li a{
    display: flex;
    text-decoration: none;
    font-size: 13px;
    color: rgb(39, 75, 238);
    padding-top: 10px;
}
.texto-usu li .sair{
    color: var(--vermelho);
}
/* .usu-nome:hover .usu-detalhes{
    display: flex;
} */
.background-block{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
}

.dark-area{
    height: 5vh;
    width: 100%;
}

/* MENU LATERAL */

.area-lateral-navegacao{
    display: flex;
    flex-direction: column;
    background-color: var(--cinza-control);
    position: absolute;
    top: 15vh;
    left: 0;
    bottom: 0;
    width: 25vh;

    justify-content: start;
    align-content: end;
    z-index: 2;
}

.menu-lateral-navegacao{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    width: 100%;
    height: 100%;
    gap: 3vh;
}

.botao-lateal-navegacao{
    background-color: #2d3945;
    width: 95%;
    height: 59px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    outline: none;
    color: var(--cor-fundo);
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 20%;
    text-decoration: none;
}

.botao-lateal-navegacao .icone-menu-lateral{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.botao-lateal-navegacao .texto-bott{
    display: flex;
    padding-left: 7px;
    font-size: 13px;
    width: auto;
}

.botao-lateal-navegacao:hover{
    background-color: #181f26;
    color: var(--verde-control);
    /* text-decoration: underline var(--verde-control);     */
}

.botao-lateal-navegacao:hover .icone-menu-lateral{
    filter: invert(51%) sepia(58%) saturate(446%) hue-rotate(92deg) brightness(96%) contrast(89%);
}

.sair-navegacao{
    width: 80%;
    height: 50%;
    display: flex;
    margin: 0;
    padding: 0;
    align-self: center ;
    align-items: end;
    justify-content: center;
}

.sair-navegacao .botao-lateal-navegacao{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}
.sair-mobile .botao-lateal-navegacao .icone-menu-lateral{
    margin: 0;
    padding: 0;
}

.sair-navegacao .botao-lateal-navegacao:hover{
    background-color: #181f26;
    color: var(--vermelho);
}

.sair-navegacao .botao-lateal-navegacao:hover .icone-menu-lateral{
    filter: brightness(0) saturate(100%) invert(12%) sepia(81%) saturate(5896%) hue-rotate(2deg) brightness(95%) contrast(102%);
}

/* MENU MOBILE */
.botao-menu-mobile{
    position: absolute;
    top: 10vh;
    left: 0;
    z-index: 2;

    width: 6vh;
    height: 5vh;
    background-color: var(--verde-control);
    border: none;
    outline: none;
    cursor: pointer;

    display: none;
    justify-content: center;
    align-items: center;

    transition:all 0.3s ease;
}
.botao-menu-mobile .icone-menu-lateral-mobile{
    height: 40%;
}
.botao-menu-mobile:hover{
    background-color: #181f26;
}

.botao-menu-mobile:hover .icone-menu-lateral{
    filter: invert(51%) sepia(58%) saturate(446%) hue-rotate(92deg) brightness(96%) contrast(89%);
}

.background-m-mobile{
    display: none;
    flex-direction: row;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}
.menu-navegacao-mobile{
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 80vw;
    height: 100vh;
    background-color: var(--cinza-control);
    background-image: url(../../public/img/Logo-Nota-Controlnt.ico);
    background-repeat: no-repeat;
    background-position: 10vw 8vh;
    background-size: 10vh;
}
.area-botao-navegacao-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
    width: 70vw;
}
.botao-lateral-navegacao-mobile{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10%;
    cursor: pointer;

    height: 9vh;
    width: 100%;
    border-radius: 5px 0 0 5px;
    z-index: 5;
    text-decoration: none;
    background-color: #2d3945;
}
.botao-lateral-navegacao-mobile:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.recolher-m-menu{
    align-self: flex-end;
    justify-content: end;
    width: auto;
    height: auto;
    padding: 2vh;    
    /* background-color: rgba(255, 0, 0, 0.212); */
}
.recolher-m-menu .icone-menu-lateral-mobile{
    height: 2vh;
}
.icone-menu-lateral-mobile{
    display: flex;
    height: 3vh;
}
.texto-bott-mobile{
    display: flex;
    color: var(--cor-fundo);
    font-size: 1.2rem;
    margin-left: 8px;
    width: auto;
    text-decoration: none;
}
.sair-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    width: 100%;
    /* background-color: red; */
}
.sair-mobile .botao-lateral-navegacao-mobile{
    width: 50%;
    border-radius: 5px;
    justify-content: center;
    padding-left: 0;
}
.areatransp{
    /* background-color: red;    */
    height: 100vh;
    width: 20vw;
}
/* CONFIG MENUS */

.menu-inativo{
    display: none;
}
.menu-visivel{
    display: flex;
}

/* CLASSE ACTIVE */

.botao-lateal-navegacao.ativo-estacionario{
    background-color: var(--cor-fundo);
    color: var(--verde-control);
    /* text-decoration: underline var(--verde-control);     */
    
    .icone-menu-lateral{
        filter: invert(51%) sepia(58%) saturate(446%) hue-rotate(92deg) brightness(96%) contrast(89%);        
    }
}

/* MEDIA */

@media screen and (max-width: 1200px) {
    .area-lateral-navegacao{
        width: 6vh;
    }
    .botao-lateal-navegacao{
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .botao-lateal-navegacao .icone-menu-lateral{
        height: auto;
    }
    
    .botao-lateal-navegacao .texto-bott{
        display: none;
    }
    
    .area-lateral-navegacao:hover{
        width: 25vh;
        transition: all .1s ease;
    }
    .area-lateral-navegacao:hover .botao-lateal-navegacao{
        justify-content: start;
        padding-left: 20%;
    }
    .area-lateral-navegacao:hover .botao-lateal-navegacao .texto-bott{
        display: flex;
    }
    .area-lateral-navegacao:hover .sair-navegacao .botao-lateal-navegacao{
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .botao-lateal-navegacao .icone-menu-lateral{
        margin-left: 0;
    }
    
    .area-lateral-navegacao:hover .botao-lateal-navegacao .icone-menu-lateral{
        margin-left: 0px;
    }
}

@media screen and (max-width: 810px) and (max-height: 1080px) {
    .area-lateral-navegacao{
        display: none;
    }
}

@media screen and (max-height: 625px) and (min-height: 611px){
    .area-lateral-navegacao{
        width: 6vh;
    }
    
    .botao-lateal-navegacao .icone-menu-lateral{
        height: auto;
    }

    .botao-lateal-navegacao .texto-bott{
        display: none;
    }
    
    .area-lateral-navegacao:hover .botao-lateal-navegacao{
        width: 25vh;
        transition: all .1s ease;
    }
    
    .area-lateral-navegacao:hover .botao-lateal-navegacao .texto-bott{
        display: flex;
    }
    
    .botao-lateal-navegacao{
        padding-left: 7px;
    }
    
    .area-lateral-navegacao:hover .botao-lateal-navegacao .icone-menu-lateral{
        margin-left: 0px;
    }
}


@media screen and (max-width: 810px) and (max-height: 1080px){
    .area-lateral-navegacao, .botao-lateal-navegacao .icone-menu-lateral{
        display: none;
    }

    .background-m-mobile.menu-visivel{
        display: flex;
    }

    .botao-menu-mobile{
        display: flex;
    }
}

/* 
@media screen and ((max-height: 625px)){
    .area-lateral-navegacao, .botao-lateal-navegacao .icone-menu-lateral{
        display: none;
    }

    .area-lateral-navegacao.aberto{
        background-color: var(--cinza-control);
        position: absolute;
        top: 15vh;
        width: 25vh;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-content: space-evenly;
        left: 0;
    }

    .botao-menu-mobile:hover .area-lateral-navegacao{
        display: flex;
    }
    
    .botao-menu-mobile:hover .area-lateral-navegacao{
        position: absolute;
        display: flex;
        width: 25vh;
    }
} */