@import url(root.css);

.container_login {
    justify-content: center;
    align-items: center;
}

.container_animation {
    height: 13%;
}

.title {
    margin-top: 5%;
}

.container_input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input {
    width: 35px;
    border-radius: 5px;
}

@media (min-width: 48rem) {
    .input {
        width: 40px;
    }
}

@media (min-width: 64rem) {
    .container_login {
        flex-direction: column;
    }

    .container_animation {
        margin-bottom: 10%;
    }

    .form_login {
        width: 60%;
    }

    .input {
        width: 50px;
    }
}

@media (min-width: 96rem) {
    .title {
        margin-top: 1%;
    }
}