@import url(root.css);

.container_login {
    justify-content: center;
    align-items: center;
}

.container_animation {
    height: 13%;
}

.title {
    margin-top: 5%;
}

.text_requisitos {
    font-weight: bold;
    font-size: 0.85rem;
    margin-top: 3%;
}

.list_requisitos {
    list-style: none;
    font-size: 0.8rem
}

.requisitos_invalidos {
    color: var(--red_color);
}

.requisitos_validos {
    color: var(--green_color);
}

.label {
    margin-top: 10%;
}

.list_requisitos {
    margin-bottom: 80px;
}

@media (min-width: 64rem) {
    .container_login {
        flex-direction: column;
    }

    .container_animation {
        margin-bottom: 10%;
    }

    .form_login {
        width: 60%;
    }

    .label {
        margin-top: 5%;
    }

    .text_requisitos {
        font-weight: bold;
        font-size: 0.85rem;
        margin-top: 1%;
    }
}

@media (min-width: 80rem) {
    .label {
        margin-top: 2%;
    }
}

@media (min-width: 96rem) {
    .title {
        margin-top: 1%;
    }
}