@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-container-color: rgba(198, 196, 196, 0.2);
    --title-color: #33404D;
    --main-green-color: #3AA867;
    --button-background-hover-color: #181F26;
    --fa-eye-color: #666;
    --black-color: #000;
    --white-color: #FFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.background-image {
    background-image: url(../img/background-logo.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.body-login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login {
    width: 80%;
    height: 95%;
    border-radius: 1%;
    display: flex;
    background-color: var(--bg-container-color);
    backdrop-filter: blur(5px);
}

.title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--title-color);
}

.form, .input-group {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--title-color);
}

.input {
    height: 2.25rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--title-color);
    font-size: 1.25rem;
    font-weight: 600;
    outline: none;
}

.input:hover, .input:focus {
    border: 2px solid var(--main-green-color);
}

.password-group {
    position: relative;
    display: flex;
    align-items: center;
}

.input-password {
    width: 100%;
}

.toggle-password {
    position: absolute;
    cursor: pointer;
    right: 1rem;
    color: var(--fa-eye-color);
}

.button {
    width: 5rem;
    height: 2.25rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--title-color);
}

.button:hover {
    color: var(--main-green-color);
    background-color: var(--button-background-hover-color);
    transition: linear 0.3s;
}