@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --vermelho: #dd0f00;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, 'Inter', Impact, sans-serif;
}

*{
    box-sizing: border-box;
    font-family: var(--font-main);
    padding: 0;
    margin: 0;
}