@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main_background_color: rgba(198, 196, 196, 0.2);
    --main_icon_color: #666;

    --main_title_color: #33404D;
    --main_text_recuperar_senha: rgba(0, 0, 0, 0.671);
    --main_green_color: #3AA867;

    --main_background_button_hover_color: #181F26;

    --main_black_color: #000;
    --main_white_color: #FFF;
    --green_color: #008000;
    --red_color: rgb(255, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.body_login {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background_image {
    background-image: url(../img/background_logo.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 300px;
}

.container_login {
    width: 95%;
    height: 95%;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    background-color: var(--main_background_color);
    backdrop-filter: blur(5px);
}

.container_animation {
    position: relative;
    width: 90px;
    height: 60%;
}

.image_animation {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.image_animation_top {
    z-index: 3;
    top: 10px;
    animation: image_animation_top 6s infinite linear;
}

.image_animation_mid {
    z-index: 2;
    top: 15px;
    animation: image_animation_mid 6s infinite linear;
}

.image_animation_bot {
    z-index: 1;
    top: 25px;
    animation: image_animation_bot 6s infinite linear;
}

@keyframes image_animation_top {
    0% { top: 0px; left: 0px; }
    25% { top: -10px; left: 0px; }
    50% { top: -10px; left: -15px; }
    75% { top: -10px; left: 15px; }
    100% { top: 0px; left: 0px; }
}

@keyframes image_animation_mid {
    0%, 25% { left: 0px; }
    50% { left: 15px; }
    75% { left: -15px; }
    100% { left: 0px; }
}

@keyframes image_animation_bot {
    0% { top: 25px; left: 0px; }
    25%, 50%, 75% { top: 35px; }
    25% { left: 0px; }
    50% { left: -15px; }
    75% { left: 15px; }
    100% { top: 25px; left: 0px; }
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main_title_color);
}

.form, .input_group {
    display: flex;
    flex-direction: column;
}

.form_login {
    width: 80%;
}

.label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--main_title_color);
}

.input {
    height: 2rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--main_title_color);
    font-size: 1rem;
    font-weight: 600;
    outline: none;
}

.input:hover, .input:focus {
    border: 1px solid var(--main_green_color);
}

.password_group {
    position: relative;
    display: flex;
    align-items: center;
}

.container_link, .container_button {
    text-align: right;
}

.input_password {
    width: 100%;
}

.toggle_password {
    position: absolute;
    cursor: pointer;
    right: 0.5rem;
    color: var(--main_icon_color);
}

.button {
    width: 5rem;
    height: 2.25rem;
    line-height: 2.25rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: var(--main_white_color);
    background-color: var(--main_title_color);
}

.button:hover {
    color: var(--main_green_color);
    background-color: var(--main_background_button_hover_color);
    transition: linear 0.3s;
}

@media (min-width: 40rem) {
    .container_animation {
        width: 120px;
    }

    .title {
        font-size: 2rem
    }

    .form_login {
        width: 60%;
    }
}

@media (min-width: 48rem) {
    .title {
        font-size: 2.5rem;
    }

    .form_login {
        width: 60%;
    }

    .label {
        font-size: 1.3rem
    }

    .input {
        height: 2.5rem;
        font-size: 1.2rem;
    }

    .button {
        width: 5.5rem;
        height: 2.5rem;
        font-size: 1.1rem;
        line-height: 2.5rem;
        display: inline-block;
        text-align: center;
        text-decoration: none;
    }
}

@media (min-width: 64rem) {
    .container_login {
        flex-direction: row;
    }

    .container_animation {
        width: 200px;
        height: 15%;
        margin-bottom: 30%;
    }

    .image_animation_top {
        top: 0px;
    }

    .image_animation_mid {
        top: 25px;
    }

    .image_animation_bot {
        top: 50px;
    }

    @keyframes image_animation_top {
        0% { top: 0px; left: 0px; }
        25% { top: -50px; left: 0px; }
        50% { top: -50px; left: -50px; }
        75% { top: -50px; left: 50px; }
        100% { top: 0px; left: 0px; }
    }
    
    @keyframes image_animation_mid {
        0%, 25% { left: 0px; }
        50% { left: 50px; }
        75% { left: -50px; }
        100% { left: 0px; }
    }
    
    @keyframes image_animation_bot {
        0% { top: 50px; left: 0px; }
        25%, 50%, 75% { top: 100px; }
        25% { left: 0px; }
        50% { left: -50px; }
        75% { left: 50px; }
        100% { top: 50px; left: 0px; }
    }

    .title {
        font-size: 2.8rem;
    }

    .form_login {
        width: 85%;
    }

    .label {
        font-size: 1.5rem;
    }

    .input {
        height: 3rem;
        font-size: 1.3rem;
    }

    .input:hover, .input:focus {
        border: 3px solid var(--main_green_color);
    }

    .button {
        width: 6rem;
        height: 2.8rem;
        font-size: 1.2rem;
        line-height: 2.8rem;
        display: inline-block;
        text-align: center;
        text-decoration: none;
    }
}

@media (min-width: 80rem) {
    .form_login {
        width: 75%;
    }
}

@media (min-width: 96rem) {
    .container_animation {
        margin-bottom: 200px;
    }

    .form_login {
        max-width: 32.5rem;
    }
}

.label_recuperar_senha {
    width: 100%;
    height: 2.3rem;
    background-color: var(--main_green_color);
    border: 1px solid var(--green_color);
    color: var(--main_white_color);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text_recuperar_senha {
    font-size: 0.8rem;
    color: var(--main_text_recuperar_senha);
    margin-top: 0.3rem;
    margin-bottom: 80px;
}

@media (min-width: 48rem) {
    .label_recuperar_senha {
        height: 2.8rem;
        font-size: 1.5rem;
    }
}

@media (min-width: 64rem) {
    .label_recuperar_senha {
        height: 3rem;
        font-size: 1.5rem;
    }
}

@media (min-width: 80rem) {
    .label_recuperar_senha {
        height: 3.2rem;
        font-size: 1.5rem;
    }
}