/* CONFIGURAÇÃO DA BASE DA ÁREA ÚTIL */
* {
  box-sizing: border-box;
}

/* #PontoAtendimentoCad {
  z-index: 1;
  top: 157px;
  right: 2vh;
  left: 27vh;
  bottom: 2vh;
  height: auto;
  width: auto;
  overflow: hidden;
  scroll-behavior: auto;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: stretch;
} */
.Area-Util-Projeto{
  align-items: center;
}
.topo-tela-PontoAtendimentoCad{
  margin: 4% 0% 0% 5%; 
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  /* margin-top: 3.5rem; */
  /* border: 2px solid green; */
}
.sev{
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}
#Ponto-atendimento {
  /* text-align: left; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
  color: var(--cinza-control);
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
  /* margin-bottom: -2rem; */
}
.campo-busca {
  position: relative;
  /* height: 0%; */
  /* width: 30%; */
  outline: none;
  border: 1px rgb(6, 11, 95);
  /* margin-bottom: -1.5rem; */
}
#buscar-Ponto-atendimento {
  /* float: left; */
  padding: 5px;
  margin-bottom: 0.2rem;
  padding-left: 5px;
  font-style: italic;
  font-size: 14px;
  outline: 5px;
  border-radius: 5px;
  background-image: url(../img/icons/lupa.png);
  background-position: 142px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  opacity: 0.5;
  border: 2px solid #333;
  /* margin-left: 76%; */
  /* width: 20%; */
  /* height: 100%; */
  /* font-style: italic; */
  /* border: 2px solid #333; */
  /* border-radius: 5px; */
  /* font-size: 14px; */
  /* border: 2px solid var(--cinza-control) 3; */
  /* border-radius: 10px 10px 0 0; */
  /* opacity: 0.5; */
  /* z-index: -1; */
  /* outline: none; */
  /* background-image: url(../../public/img/icons/lupa.png); */
  /* background-size: contain; */
  /* background-position: right 10px center; */
  /* background-repeat: no-repeat; */
  /* box-sizing: border-box; */
}
#buscar-Ponto-atendimento:focus{
  background-image: url('');
}
.linha-divisoria-Ponto-atendimento {
  background-color: var(--cinza-control);
  height: 5px;
  width: 95%;
  max-height:339px;
  padding: 1px;
}
#tela-branca-Ponto-atendimento {
  background-color: #ffffff75;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  width: 90%;
  padding: 22px;
  margin: 25px auto;
  border-radius: 5px;
}
.tabela-responsiva-Ponto-atendimento {
  max-height: 480px;
  overflow-y: auto;
  border: 1px solid #dddddd;
}
.tabela-Ponto-atendimento {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #ffffff75;
}
.cabecaTabelaPonto-atendimento{
  width: fit-content;
  height: max-content;
  position: sticky;
  top: 0;
  z-index: 1;
}
.topo-tabela-Ponto-atendimento{
  width: 100%;
  text-align: right;
  top: 0;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: left;
}

.cabecalho-tabela1{
  color: #ffffff;
  width: 30%;
  height: 10%;
}
.cabecalho-tabela2{
  color: #ffffff;
  width: 30%;
  height: 30px;
}
.cabecalho-tabela3{
  color: #ffffff;
  width: 7%;
  height: 30px;
}
.colm-idit{
  display: flex;
  justify-content: space-between;
}
.tabela-Ponto-atendimento th {
  background-color: var(--cinza-control);
  font-size: 16px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 8px;
  text-align: left;
  border: 1px solid #000000;
}
.linha-tabela{
  padding: 6px;
}

.tabela-Ponto-atendimento td, .cabecalho-tabela1 th{
  padding: 8px;
  text-align: left;
  border: 1px solid var(--cinza-control);
  font-weight: bold;
  color: var(--cinza-control);
}
.bot-editar {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#icone-editar {
  cursor: pointer;
}
.bot-editar:hover img{
  content: url(../../public/img/icons/Group\ 2925.png);
  transition: 0.2s;
  border-radius: 5px;
}
.toggle-btn {
  width: 60px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  border: 1px solid var(--cinza-control);
  cursor: pointer;
}

.toggle-btn .circulo {
  width: 18px;
  height: 15px;
  background-color: #ff0000;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s;
}

.toggle-btn.active .circulo {
  background-color: #4CAF50;
  left: 37px;
}
.editar-menor{
  display: flex;
  flex-direction: column;
  min-width: 120px;
  color: #ffffff;
  align-items: center;
}
.inativar-menor{
  width: 50px;
  color: #ffffff;
}

.editar button:hover img{
  content: url(../../public/img/icons/Group\ 2925.png);
  transition: 0.2s;
  border-radius: 5px;
}

.indentificador-menor{
  width: 800px;
  color: #ffffff;
}
.botao-voltar, .botao-cadastro {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 7rem;
}
.botoesVoltar-Cadastrar{
  display: flex;
  justify-content: end;
  gap: 16px;
  margin-top: auto;
  margin-bottom: 40px;
  width: 90%;
  /* margin-right: 5%; */
}
.botao-voltar {
  background-color: var(--cinza-control);
  color: #fff;
}
.botao-cadastro {
  background-color: var(--cinza-control);
  color: #fff;
}
.botao-cadastro:hover {
  color: #3AA867;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.tabela-wrapper::-webkit-scrollbar {
  width: 5px;
}

  /* TAMANHO DA TELA QUE COMEÇA A QUEBRAR  */
@media screen and (max-width: 470px) {

  }

