:root {
    --color-background-1: #f9f9f9;
    --color-background-2: #353D46;
    --color-background-3: rgba(255, 255, 255, 0.4);

    --color-neutro-1: #000;
    --color-neutro-2: #fff;

    --color-text-1: #33404D;

    --color-intervalo: #FFA800;
    --color-disponivel: #3AA867;
    --color-em-atendimento: #0080C8;
}

@media (min-width: 665px) and (max-width: 1253px) {
    tbody{
        max-height: 43vh;
    }
}

@media (max-width: 1200px) {
    tbody{
        max-height: 50vh;
    }
}

@media (max-width: 1024px) {
    .atendimento-tempo-real {
        margin-top: 50px;
        left: 8vh;
    }
}

@media (max-width: 912px) {
    .atendimento-tempo-real {
        left: 8vh;
    }
}

@media (max-width: 853px) {
    .atendimento-tempo-real {
        left: 8vh;
    }
}

@media (max-width: 820px) {
    .atendimento-tempo-real {
        margin-top: 20px;
        left: 8vh;
    }
}

@media (max-width: 768px) {
    .atendimento-tempo-real {
        margin-top: 0px;
        left: 8vh;
    }

    td {
        font-size: 12px;
    }
}

@media (max-width: 580px) {
    .atendimento-tempo-real {
        margin-top: -50px;
        left: 8vh;
    }

    td {
        font-size: 10px;
        padding: 8px 7px;
    }

    th{
        font-size: 11px;
    }

    .circle-atendimento-tempo-real{
        width: 20px;
        height: 20px;
    }

    tbody{
        max-height: 50vh;
    }

    .status-flex-atendimento-tempo-real{
        margin-top: 5px;
    }
}

@media (max-width: 540px) {
    .atendimento-tempo-real {
        margin-top: -50px;
        left: 8vh;
    }

    td {
        font-size: 10px;
        padding: 8px 5px;
    }

    th{
        font-size: 11px;
    }

    .circle-atendimento-tempo-real{
        width: 20px;
        height: 20px;
    }

    tbody{
        max-height: 50vh;
    }

    .status-flex-atendimento-tempo-real{
        margin-top: 5px;
    }
}

@media (max-width: 430px) {
    .atendimento-tempo-real {
        margin-top: -50px;
        left: 8vh;
    }

    td {
        font-size: 10px;
        padding: 8px 0;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    th{
        font-size: 10px;
    }

    .circle-atendimento-tempo-real{
        width: 15px;
        height: 15px;
        margin-left: 1px;
    }

    tbody{
        max-height: 50vh;
    }

    .status-flex-atendimento-tempo-real{
        margin-top: 5px;
    }

    .em-atendimento-atendimento-tempo-real{
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

@media (max-width: 414px) {
    .atendimento-tempo-real {
        margin-top: -50px;
        left: 8vh;
    }

    td {
        font-size: 10px;
        padding: 5px 0;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    th{
        font-size: 10px;
    }

    .circle-atendimento-tempo-real{
        width: 15px;
        height: 15px;
        margin-left: 1px;
    }

    tbody{
        max-height: 50vh;
    }

    .status-flex-atendimento-tempo-real{
        margin-top: 5px;
    }

    .em-atendimento-atendimento-tempo-real{
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

@media (max-width: 412px) {
    .atendimento-tempo-real {
        margin-top: -50px;
        left: 8vh;
    }

    td {
        font-size: 10px;
        padding: 5px 0;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    th{
        font-size: 10px;
    }

    .circle-atendimento-tempo-real{
        width: 15px;
        height: 15px;
        margin-left: 1px;
    }

    tbody{
        max-height: 50vh;
    }

    .status-flex-atendimento-tempo-real{
        margin-top: 5px;
    }

    .em-atendimento-atendimento-tempo-real{
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

@media (max-width: 390px) {
    .atendimento-tempo-real {
        margin-top: -50px;
        left: 8vh;
    }

    td {
        font-size: 10px;
        padding: 8px 0;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    th{
        font-size: 10px;
    }

    .circle-atendimento-tempo-real{
        width: 15px;
        height: 15px;
        margin-left: 1px;
    }

    tbody{
        max-height: 47vh;
    }

    .status-flex-atendimento-tempo-real{
        margin-top: 5px;
    }

    .em-atendimento-atendimento-tempo-real{
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

@media (max-width: 375px) {
    .atendimento-tempo-real {
        margin-top: -50px;
        left: 8vh;
    }

    td {
        font-size: 10px;
        padding: 8px 0;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    th{
        font-size: 10px;
    }

    .circle-atendimento-tempo-real{
        width: 15px;
        height: 15px;
        margin-left: 1px;
    }

    tbody{
        max-height: 47vh;
    }

    .status-flex-atendimento-tempo-real{
        margin-top: 5px;
    }

    .em-atendimento-atendimento-tempo-real{
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

@media (max-width: 360px) {
    .atendimento-tempo-real {
        margin-top: -50px;
        left: 8vh;
    }

    td {
        font-size: 10px;
        padding: 8px 0;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    th{
        font-size: 10px;
    }

    .circle-atendimento-tempo-real{
        width: 15px;
        height: 15px;
        margin-left: 1px;
    }

    tbody{
        max-height: 47vh;
    }

    .status-flex-atendimento-tempo-real{
        margin-top: 5px;
    }

    .em-atendimento-atendimento-tempo-real{
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

@media (max-width: 344px) {
    .atendimento-tempo-real {
        margin-top: -50px;
        left: 8vh;
    }

    td {
        font-size: 10px;
        padding: 8px 0;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    th{
        font-size: 10px;
    }

    .circle-atendimento-tempo-real{
        width: 15px;
        height: 15px;
        margin-left: 1px;
    }

    tbody{
        max-height: 47vh;
    }

    .status-flex-atendimento-tempo-real{
        margin-top: 5px;
    }

    .em-atendimento-atendimento-tempo-real{
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

@media (max-width: 320px) {
    .atendimento-tempo-real {
        margin-top: -50px;
        left: 8vh;
    }

    td {
        font-size: 10px;
        padding: 8px 0;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    th{
        font-size: 10px;
    }

    .circle-atendimento-tempo-real{
        width: 15px;
        height: 15px;
        margin-left: 1px;
    }

    tbody{
        max-height: 47vh;
    }

    .status-flex-atendimento-tempo-real{
        margin-top: 5px;
    }

    .em-atendimento-atendimento-tempo-real{
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}