@import url(./navegacao.css);
@import url(./base_area_util.css);
@import url(./menu_eli.css);

*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}

.descricao {  
  padding: 15px;
  margin-bottom: 36px;
  margin-right: 15px;
  margin-left: 15px;
}

.descricao hr {
  border: 1px solid #2d3945;
}

.area-cards{
  width: 98%;
  height: 100%;
  background-color: rgba(237, 237, 240, 0.369);
  margin: 5px 0 0 5px;
  /* backdrop-filter: blur(16px) saturate(180%); */
  /* -webkit-backdrop-filter: blur(16%) saturate(180%); */
  border-radius: 5px;
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 28px;
  z-index: 1;
}
.container_menu{
  width: 350px;
  height: 350px;
  /* border: 1px solid rgba(250, 255, 255, 0.125); */
  background-color: rgba(255, 255, 255, 0.513);
  backdrop-filter: blur(16px) saturate(180%);
  /* -webkit-backdrop-filter: blur(16%) saturate(180%); */
  border-radius: 5px;
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  /* filter: drop-shadow(10px 20px 10px rgb(145, 143, 145)); */
  z-index: 1;

}
.wrapper{
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:solid;
  border-radius: 5px;
  margin: 15px;
  padding-top: 3px;
}
.wrapper .banner-img {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(250, 255, 255, 0.125);
  border-radius: 12px;
  background-position: center;
  /* background-size: cover; */
  /* margin: 15px; */

}
.wrapper .banner-img img{
  height: 260px;
  margin: auto;

}
.wrapper .titulo-card{
  color: rgb(3, 4, 45);
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px;
}
.wrapper p{
  color: aliceblue;
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
  
}
.button-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btn{
  width: 100%;
  border: none;
  padding: 10px 12px;
  border-radius: 0px 0px 5px 5px;
  font-size: 20px;
  cursor: pointer;
}

.outline{
  background-color: #2d3945;
  color: rgb(171, 173, 170);
  transition: all 0.3s ease;
  border: 1px solid rgb(28, 1, 28);
}
.outline:hover{
  background-color: transparent;
  color: rgb(7, 34, 156);
  border: none;
}
@media screen and (max-width:1200px){
  .nome_da_area_eli{
      min-height: 100%;
      padding-top: 0px;
      left: 8vh;
      overflow-y: scroll;
  }
  .area-cards{
    padding: 15px;
    overflow-y: scroll;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 1815px){
  .area-cards{
    padding: 15px;
    overflow-y: scroll;
    width: auto;
  }
  
 }