@import url(navegacao.css);
@import url(base_area_util_eli.css);
@import url(menu_eli.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}

.descricao {
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 5px;
}

.descricao hr {
  border: 1px solid #2d3945;
}

.area-cards{
  width: 98%;
  height: 100%;
  background-color: rgba(237, 237, 240, 0.369);
  margin: 1%;
  backdrop-filter: blur(16px) saturate(180%);
  /* -webkit-backdrop-filter: blur(16%) saturate(180%); */
  border-radius: 5px;
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.container{
  width: 250px;
  height: auto;
  /* border: 1px solid rgba(250, 255, 255, 0.125); */
  background-color: rgba(255, 255, 255, 0.513);
  backdrop-filter: blur(16px) saturate(180%);
  /* -webkit-backdrop-filter: blur(16%) saturate(180%); */
  border-radius: 5px;
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  /* filter: drop-shadow(10px 20px 10px rgb(145, 143, 145)); */
}
.wrapper{
  width: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:solid;
  border-radius: 5px;
  margin: 15px;
  padding-top: 3px;
}
.wrapper .banner-img .img{
  width: 150px;
  height: 170px;
  border: 1px solid rgba(250, 255, 255, 0.125);
  border-radius: 12px;
  background-position: center;
  background-size: cover;
  /* margin: 15px; */

}
.wrapper .titulo-card{
  color: rgb(3, 4, 45);
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px;
}
.wrapper p{
  color: aliceblue;
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
  
}
.button-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btn{
  width: 100%;
  border: none;
  padding: 10px 12px;
  border-radius: 0px 0px 5px 5px;
  font-size: 16px;
  cursor: pointer;
}

.outline{
  background-color: #2d3945;
  color: rgb(171, 173, 170);
  transition: all 0.3s ease;
  border: 1px solid rgb(28, 1, 28);
}
.outline:hover{
  background-color: transparent;
  color: rgb(7, 34, 156);
}
@media screen and (max-width:1200px){
  .nome_da_area_eli{
      min-height: 100%;
      padding-top: 0px;
      left: 8vh;
  }
}
