/* .area-tabela{
  width: 90%;
  background-color: rgb(255, 255, 255,0.4);
  gap: 15px;
  margin-top: 2rem;
  padding: 1.875rem;
  display: flex;
  height: 70%;
} */

 .sub-area-tabela {
  height: 100%; 
  overflow: auto; 
  width: 100%;
}

.tabela {
  border: 0.5px solid black;
  border-collapse: separate;
  border-spacing: 0;
  background-color: rgb(255, 255, 255,0.4);
  width: 100%;
  /* height: 30%; */

}

th, td {
  border: 1px solid black; 
  padding: 8px;
  text-align: left;
  color: var(--cinza-control);
  /* display: block; */
  height: 40px;
}

th {
  background-color: var(--cinza-control);
  color: var(--cor-fundo);
  position: sticky;
  z-index: 100;
  top: 0;
}

.editar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.openEditar{
  cursor: pointer;
  display: inline;
  background: none;
  border: none;
}

.editar button:hover img{
  content: url(../../public/img/icons/Group\ 2925.png);
  transition: 0.2s;
  border-radius: 5px;
}

.ativarswitch{
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 1.375rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--cor-fundo);
  transition: 0.4s;
  border-radius: 34px;
  border: 1px solid var(--cinza-control);
}


.slider:before {
  position: absolute;
  content: "";
  height: 1.060625rem;
  width: 1.04375rem;
  left: 4px;
  bottom: 1.8px;
  background-color: var(--verde-control);
  transition: 0.4s;
  border-radius: 50%;
}


input:checked + .slider:before {
  transform: translateX(33px);
  background-color: red;
}


input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}
.toggle-btn {
  width: 60px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  border: 1px solid var(--cinza-control);
  cursor: pointer;
}

.toggle-btn.active .circulo {
  left: 2px;
  background-color: #ff0000;
}

.toggle-btn .circulo {
  position: absolute;
  top: 2px;
  left: 37px;
  width: 18px;
  height: 15px;
  border-radius: 50%;
  transition: left 0.3s;
  background-color: #4CAF50;
}
.editar-inativar-menor{
  width: 70px;
}
.area-tabela{ 
  width: 90%; 
  font-weight: 600; 
  border-radius: 5px; 
  background-color: rgb(255, 255, 255,0.5); 
  gap: 15px; 
  margin-top: 2rem; 
  display: flex; 
  display: block; 
  justify-content: left; 
} 
.tabela {
  border-collapse: collapse; 
  background-color: rgba(255, 255, 255, 0.5); 
  width: 96%; 
  margin: 1.5vw; 
  max-height: 100px; 
  position: relative; 
  overflow-x: auto;
  transition: overflow 0.3s ease;  
  border-spacing: 0;
} 
.tabela {
  /* border: 0.5px solid black; */
  border-collapse: separate;
  background-color: rgb(255, 255, 255,0.4);

}
.tabela:hover { 
  overflow-y: auto;  
} 
.tabela th { 
  background-color: var(--cinza-control); 
  color: var(--cor-fundo); 
} 
th { 
  position: sticky; 
  top: 0; 
  background-color: #f4f4f4; 
  z-index: 2; 
  padding: 10px; 
  text-align: left; 
  border: 1px solid black; 
  min-width: 50px; 

} 
td { 
  font-size: 16px;
  border: 1px solid black; 
  padding: 9px; 
  text-align: left; 
  min-width: 50px; 
  color: var(--cinza-control); 
} 
td, th {
  width: calc(+140px);
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;  
  width: 200px;              
}
thead, tbody tr { 
  display: table; 
  width: 100%; 
  table-layout: fixed; 
} 
tbody { 
  display: block;  
  overflow-y: scroll;  
  position: relative;
  height: 300px; 

} 
.tabela tbody::-webkit-scrollbar { 
  width: 0.1px; 
  opacity: 0;  
  transition: opacity 0.3s ease;  
} 
.tabela:hover tbody::-webkit-scrollbar { 
  opacity: 1;  
  width: 5px; 
} 
.tabela tbody::-webkit-scrollbar-thumb { 
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 4px;

} 
.tabela tbody::-webkit-scrollbar-track { 
  background: transparent; 
} 

.tabela tbody::-webkit-scrollbar-thumb:hover { 
  background-color: rgba(0, 0, 0, 0.7); 
  width: 5px; 
} 

.tabela:hover tbody,thead{ 
  margin-right: -5px;
} 

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; 
}

.botao-voltar, .botao-cadastro {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 7rem;
  margin-top: 15px;
}
.botoesVoltar-Cadastrar{
  width: 90%;
  height: 8%;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  bottom: -0.625;
  gap: 1rem;
}
.botao-voltar {
  background-color: var(--cinza-control);
  color: #fff;
}
.botao-cadastro {
  background-color: var(--cinza-control);
  color: #fff;
}
.botao-cadastro:hover {
  color: #3AA867;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}



