

:root {
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-style: bold;
    list-style: none;
    z-index: 1000;
}

.head {
    background-color: var(--cinza-control);
    height: auto;
    width: auto;
    position: sticky;
    display: flex;
}

.nav-head {
    background-color: var(--cor-fundo);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
}

.logo-control {
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
}

#img-logo {
    height: 100%;
    width: 100%;
}

.nav-head H3 {
    color: var(--cinza-control);
    width: 80%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 23px;
}

.border-line {
    background-color: var(--cinza-control);
    height: 30px;
    width: 100%;
    margin: 10px 0;
}

.workspace {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/Background-logo\ 2.svg');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.page-title {
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    font-family: var(--font-main);
    color: #113062;
    font-weight: 800;    
}


.area-cinza {
    background-color: rgba(0, 0, 0, 0.1); 
    width: calc(100% - 40px);
    min-height: 60vh;
    height: calc(100vh - 160px);
    top: 10px; 
    left: 10px; 
    right: 10px; 
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.box-inputs {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px); 
}

.input-group label {
    margin-bottom: 5px;
    font-size: 16px;
    color: var(--cinza-control);
    border-radius: 5px;
    border: 5px;
}

.input-infos {
   
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: white;
    font-size: 16px;
    border: 5px;
    border-radius: 5px;
}

.input-infos::placeholder {
    color: var(--cinza-control);
}


.information {
    width: 100%;
    height: 180px;
    padding: 20px;
    background-color: white;
    font-size: 20px;
    color: var(--cinza-control);
    border: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 10px; 
    line-height: 1.6;  
    font-weight: 800;
}


.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.button {
    display: flex;
    justify-content:center;
    width: 10%; 
    margin-top: 30px;
    position: relative;
    padding: -20px;
    background-color: var(--cinza-control);
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    height: 60px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: var(--cinza-control);
}

.button:hover .btn-voltar {
    color: green; 
}
.button:hover .btn-confirmar {
    color: var(--verde-control); 
}



.btn-voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: white;
    text-decoration: none; 
    font-weight: bold;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.btn-confirmar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: white;
    text-decoration: none; 
    font-weight: bold;
    padding: 10px;
    height: 100%;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
}
