@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.head-tela-autoatendimento-pag2 {
    background-color: var(--cinza-control);
    height: auto;
    width: auto;
    position: sticky;
    display: flex;
}

.nav-head-tela-autoatendimento-pag2 {
    background-color: var(--cor-fundo);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    padding: 0 20px;
}

.logo-control-tela-autoatendimento-pag2 {
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
}

#img-logo {
    height: 100%;
    width: 100%;
}

.nav-head-tela-autoatendimento-pag2 h3 {
    color: var(--cinza-control);
    width: 80%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 23px;
}

.border-line-tela-autoatendimento-pag2 {
    background-color: var(--cinza-control);
    height: 30px;
    width: 100%;
    margin: 0 10px 0 0;
}

.workspace-tela-autoatendimento-pag2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/Background-logo\ 2.svg');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right bottom;
}


.page-title-tela-autoatendimento-pag2 {
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    font-family: var(--font-main);
    color: #113062;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 0%;
}

.area-cinza-tela-autoatendimento-pag2 {
    /* background-color: rgba(0, 0, 0, 0.1);  */
    /* width: calc(100% - 40px); */
    /* min-height: 60vh; */
    /* height: calc(100vh - 160px); */
    /* top: 10px;  */
    /* left: 10px;  */
    /* right: 10px;  */
    /* border-radius: 10px; */
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding: 40px;
}


.box-area-tela-autoatendimento-pag2 {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 130px;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}


.box {
    border: 4px solid var(--verde-control);
    border-radius: 5px;
    width: calc(33.33% - 20px);
    gap: 18px;
    width: 250px;
    height: 250px;
    padding: 20px;
    /* background-color: transparent; */
    background-color: rgba(255, 255, 245, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.box .imagem-servico-container {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 15px; 
    width: 100%; 
}

.imagem-servico {
    max-width: 50px; 
    max-height: 50px; 
    object-fit: contain; 
}

.box h4 {
    color: #113062;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 10px;
}

.footer-tela-autoatendimento-pag2 {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    margin-top: 105px;
    /* bottom: 0; */
    /* padding-bottom: 86px; */
    padding-left: 42px;
}

.button-tela-autoatendimento-pag2 {
    display: flex;
    justify-content:center;
    width: 16%; 
    /* margin-top: 30px; */
    position: relative;
    padding: 0 20px;
    background-color: var(--cinza-control);
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    height: 60px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-tela-autoatendimento-pag2:hover {
    background-color: var(--cinza-control);
}

.button-tela-autoatendimento-pag2:hover .btn-text {
    color: red; 
}

.btn-text { 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: white;
    text-decoration: none; 
    font-weight: bold;
    padding: 10px;
    height: 100%;
    width: 100%;
}

@media (max-width: 1100px) {
    .button-tela-autoatendimento-pag2{
        width: 22%;
    }
}
@media (max-width: 850px) {
    .button-tela-autoatendimento-pag2{
        width: 25%;
    }
}
@media (max-width: 705px) {
    .box{
        width: 200px;
        height: 230px;
    }
    .button-tela-autoatendimento-pag2{
        width: 28%;
    }
}
@media (max-width: 605px) {
    .page-title-tela-autoatendimento-pag2{
        font-size: 28px;
    }
    .box{
        width: 180px;
        height: 230px;
    }
    .box-area-tela-autoatendimento-pag2{
        gap: 15px;
        margin-top: 100px;
    }
        .button-tela-autoatendimento-pag2{
        width: 34%;
    }
}
@media (max-width: 550px) {
    .page-title-tela-autoatendimento-pag2{
        font-size: 26px;
    }
    .box{
        width: 320px;
        height: 200px;
    }
    .box-area-tela-autoatendimento-pag2{
        gap: 15px;
        margin-top: 20px;
    }
    .button-tela-autoatendimento-pag2{
        width: 38%;
    }
    .footer-tela-autoatendimento-pag2{
        margin-top: 60px;
    }
}
@media (max-width: 487px) {
    .page-title-tela-autoatendimento-pag2{
        font-size: 24px;
        margin-bottom: 0;
    }
    .box{
        width: 300px;
        height: 190px;
    }
    .box-area-tela-autoatendimento-pag2{
        gap: 14px;
        margin-top: 18px;
    }.button-tela-autoatendimento-pag2{
        width: 48%;
    }
}
@media (max-width: 390px) {
    .box{
        width: 240px;
        height: 180px;
    }
    .box-area-tela-autoatendimento-pag2{
        gap: 14px;
        margin-top: 18px;
    }
    .button-tela-autoatendimento-pag2{
        width: 50%;
    }
    .footer-tela-autoatendimento-pag2{
        padding-left: 0;
        justify-content: center;
    }
}





