:root {
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-style: bold;
    list-style: none;
    z-index: 1000;
}

.body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.head {
    background-color: var(--cinza-control);
    height: auto;
    width: auto;
    position: sticky;
    display: flex;
}

.nav-head {
    background-color: var(--cor-fundo);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    padding: 0 20px;
}

.logo-control {
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
}

#img-logo {
    height: 100%;
    width: 100%;
}

.nav-head H3 {
    color: var(--cinza-control);
    width: 80%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 23px;
}

.border-line {
    background-color: var(--cinza-control);
    height: 30px;
    width: 100%;
    margin: 10px 0;
}

.workspace {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/Background-logo\ 2.svg');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right bottom;
}


.page-title {
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    font-family: var(--font-main);
    color: #113062;
    font-weight: 800;
}

.area-cinza {
    background-color: rgba(0, 0, 0, 0.1); 
    width: calc(100% - 40px);
    min-height: 60vh;
    /* height: calc(98vh - 160px); */
    top: 10px; 
    left: 10px; 
    right: 10px; 
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 20px;
}



.box-area {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: auto; /* Change height to auto */
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
    flex-direction: row;
    align-items: center; /* Change align-items to center */
    border-radius: 5px;
}

.box {
    border: 4px solid var(--verde-control);
    border-radius: 5px;
    /* width: calc(33.33% - 20px); */
    gap: 18px;
    width: 250px;
    height: 250px;
    padding: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.imagem-servico {
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #113062;
}

.box h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #113062;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
}

.box-area {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.pagination-controls {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pagination-controls button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: var(--verde-control);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}



@media (max-width: 600px) {

    .workspace {
        background-size: 250px;
    }

    .box {
        width: 100%;
        height: 200px; 
    }

    .nav-head h3 {
        font-size: 18px; 
    }

    .page-title {
        font-size: 24px;
    }

    .area-cinza {
        min-height: 70vh; 
        height: auto; 
        margin-bottom: 10px;
        padding: 10px; 
    } 

    .pagination-controls {
        justify-content: center; 
        padding-left: 0; 
    }

    .pagination-controls button {
        padding: 8px 16px;  
        font-size: 14px; 
    }
}

@media (max-width: 800px) {
    .workspace {
        background-size: 300px;
    }

    .box {
        height: 250px;
    }

    .nav-head h3 {
        font-size: 20px;
    }

    .page-title {
        font-size: 28px;
    }

    .area-cinza {
        min-height: 60vh;
        padding: 15px;
    }

    .pagination-controls button {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .workspace {
        background-size: 350px;
    }

    .box {
        height: 300px;
    }

    .nav-head h3 {
        font-size: 22px;
    }

    .page-title {
        font-size: 32px;
    }

    .area-cinza {
        min-height: 50vh;
        padding: 20px;
    }

    .pagination-controls button {
        padding: 12px 24px;
        font-size: 18px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .box {
        width: calc(50% - 20px); 
    }

    .area-cinza {
        min-height: 70vh;
        height: auto;
        margin-bottom: 20px;
        padding: 20px;
        width: 100%;
    }
    
    .pagination-controls button {
        padding: 12px 24px; 
        font-size: 16px;
    }
    
    .box-area {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }
    
    .box {
        width: 230px;
        height: 230px; 
        padding: 15px; 
    }
    
    .imagem-servico {
        height: 80px;
    }
} 

/* @media (min-width: 1025px) { 
    
     .area-cinza {
        padding: 30px;
        width: calc(100% - 80px); 
      }
      
    .container {
        width: 75%; 
        padding: 40px;
    }
      
    .footer {
        padding: 30px;
    }
      
    .button {
        width: 30%;  
        margin-top: 50px;
    }

    .pagination-controls {
        justify-content: center;
    }
        
    .pagination-controls button {
        padding: 10px 20px;
        font-size: 16px; 
    }
    
    .box-area {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }
    
    .box {
        width: 230px; 
        height: 230px;
        padding: 15px;
    }
    
    .imagem-servico {
        height: 80px;
    }
}

