:root {
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* HEX COLOR TO FILTER CONVERTER */
/* https://isotropic.co/tool/hex-color-to-css-filter/ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-style: bold;
    list-style: none;
    z-index: 1000;
}

/* TOPO */

.head {
    background-color: var(--cinza-control);
    height: auto;
    width: auto;
    position: sticky;
    display: flex;
}

.nav-head {
    background-color: var(--cor-fundo);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
}

.logo-control {
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
}

#img-logo {
    height: 100%;
    width: 100%;
}

.nav-head H3 {
    color: var(--cinza-control);
    width: 80%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 23px;
}

.workspace {
    height: calc(100vh - 140px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/Background-logo\ 2.svg');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.title {
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    font-family: var(--font-main);
    color: #113062;
    font-weight: 800;
    margin-bottom: 20px;
    /* padding-top: 50px; */
    margin-top: 0%;
}



.border-line {
    background-color:var(--cinza-control);
    height: 50px;
    width: 100%;
    margin: 10px 0;
}

.area-cinza {
    background-color: rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 100%; /* Altere para 100% para garantir que a altura seja adequada */
    display: flex;
    justify-content: center;
    align-items: center; /* Isso vai centralizar o conteúdo dentro da área */
    border-radius: 10px;
    padding: 20; /* Se necessário, adicione um pequeno padding para garantir que o conteúdo não fique muito colado nas bordas */
    flex-direction: column;
}


.box-area {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 50px;
    flex-direction: row;
    align-items: center;
    border: #33404D;
    border-radius: 5px;
}


.box {
    border: 4px solid var(--verde-control);
    border-radius: 5px;
    width: 250px;
    height: 250px;
    padding: 30px;
    background-color: transparent;
    display: flex;
    flex-direction: column; /* Mantenha a direção das imagens em coluna */
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse o quadrado */
}

.box .imagem-servico-container {
    display: flex;
    flex-direction: row; /* Alinha as imagens horizontalmente */
    justify-content: center;
    align-items: center;
    gap: 5px; /* Espaço entre as imagens */
    width: 100%; /* Certifica-se de que as imagens se ajustem dentro do quadrado */
}

.imagem-servico {
    max-width: 50px; /* Tamanho máximo das imagens */
    max-height: 50px; /* Tamanho máximo das imagens */
    object-fit: contain; /* Garante que as imagens se ajustem dentro do espaço sem distorcer */
}

.box h4 {
    color: #113062;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 10px;
}



.button {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-top: 30px;
    position: relative;
    padding: -20px;
    background-color: white;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    height: 60px;
}

.btn-text { 
    display: flex;
    text-align: center;
    font-size: 18px;
    color: #113062;
    text-decoration: none; 
    font-weight: bold;
    padding: 10px;
    margin-top: 30px;
}

