:root {
    --verde-control: #3aa867;
    --cinza-control: #33404d;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }


  .head {
    background-color: var(--cinza-control);
    height: auto;
    width: auto;
    position: sticky;
    display: flex;
  }
  
  .nav-head {
    background-color: var(--cor-fundo);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
  }
  
  .logo-control {
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
  }
  
  #img-logo {
    height: 100%;
    width: 100%;
  }
  
  .nav-head H3 {
    color: var(--cinza-control);
    width: 80%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 23px;
  }
  
  .workspace {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/Background-logo\ 2.svg');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right bottom;
}
  
  .border-line {
    background-color: var(--cinza-control);
    height: 30px;
    width: 100%;
    margin: 10px 0;
  }
  
  .area-cinza {
    background-color: rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: calc(100% - 40px);
    min-height: 60vh;
    height: calc(100vh - 160px);
    top: 10px; 
    left: 10px; 
    right: 10px; 
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 36px;
  color: #113062; 
  text-align: center;
  line-height: 1;
  font-weight: 800;
  padding: 40px 20px;
}

.fixed-text {
  font-size: 36px;  
  margin-bottom: 50px;
}

.variable-text {
  font-size: 36px;
  color: #113062;
}

.variable-text div {
  margin-bottom: 60px; 
}

.variable-text strong {
  font-weight: bold;
  color: #113062;
  flex-grow: 1;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.button {
  display: flex;
  justify-content:center;
  width: 10%; 
  margin-top: 30px;
  position: relative;
  padding: 10px;
  background-color: var(--cinza-control);
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  height: 60px;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.button:hover {
    background-color: var(--cinza-control);
}

.button:hover .btn-finalizar {
    color: green; 
}

.btn-finalizar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  color: white;
  text-decoration: none; 
  font-weight: bold;
  padding: 10px;
  height: 100%;
  width: 100%;
}

@media (max-width: 1024px) {
  .area-cinza {
    min-height: 70vh;
    height: auto;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
  }

  .container {
    width: 90%; 
    height: auto;  
  }

  .info-area {
    font-size: 28px;
    line-height: 1.3;
    padding: 15px 0;
  }

  .fixed-text {
    font-size: 20px; 
  }

  .variable-text {
    font-size: 28px;
  }

  .button {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .nav-head h3 {
      font-size: 18px; 
  }
  
  .page-title {
      font-size: 24px;
  }
  
  .area-cinza {
    min-height: 70vh; 
    height: auto; 
    margin-bottom: 10px;
    padding: 10px; 
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  .info-area {
    font-size: 24px;
    line-height: 1.3;
    padding: 10px 0; 
  }

  .fixed-text {
    font-size: 18px;
  }

  .variable-text {
    font-size: 24px;
  }

  .button {
    width: 70%;
  }
}


