@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.head-tela-autoatendimento-pag3 {
    background-color: var(--cinza-control);
    height: auto;
    width: auto;
    position: sticky;
    display: flex;
}

.nav-head-tela-autoatendimento-pag3 {
    background-color: var(--cor-fundo);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    padding: 0 20px;
}

.logo-control-tela-autoatendimento-pag3 {
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
}

#img-logo {
    height: 100%;
    width: 100%;
}

.nav-head-tela-autoatendimento-pag3 h3 {
    color: var(--cinza-control);
    width: 80%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 23px;
}

.border-line-tela-autoatendimento-pag3 {
    background-color: var(--cinza-control);
    height: 30px;
    width: 100%;
    margin: 0 10px 0 0;
}

.workspace-tela-autoatendimento-pag3 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/Background-logo\ 2.svg');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.page-title-tela-autoatendimento-pag3 {
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    font-family: var(--font-main);
    color: #113062;
    font-weight: 800;    
}

.area-cinza-tela-autoatendimento-pag3 {
    height: calc(98vh - 160px);
    min-height: calc(98vh - 160px);
    /* background-color: rgba(0, 0, 0, 0.1);  */
    /* width: calc(100% - 40px); */
    /* min-height: 60vh; */
    /* height: 100%; */
    /* top: 10px;  */
    /* left: 10px;  */
    /* right: 10px;  */
    /* border-radius: 10px; */
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding: 40px;
}




.box-inputs-tela-autoatendimento-pag3 {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.input-group-tela-autoatendimento-pag3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}


.input-group-tela-autoatendimento-pag3 label {
    margin-bottom: 5px;
    font-size: 16px;
    color: var(--cinza-control);
    border-radius: 5px;
    border: 5px;
}

.input-infos {
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: white;
    font-size: 16px;
    border: 5px;
    border-radius: 5px;
}

.input-infos::placeholder {
    color: var(--cinza-control);
}

.information {
    width: 95%;
    height: auto;
    padding: 20px;
    background-color: white;
    font-size: 20px;
    color: var(--cinza-control);
    border: 5px solid var(--cinza-control);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 10px;
    line-height: 1.6;  
    font-weight: 800;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}


.footer-tela-autoatendimento-pag3 {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 120px;
    justify-content: space-between;
    margin-top: auto;
    position: relative;
}


.button-tela-autoatendimento-pag3 {
    display: flex;
    justify-content:center;
    width: 20%; 
    margin-top: 30px;
    position: relative;
    padding: 0 20px;
    background-color: var(--cinza-control);
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    height: 60px;
    text-align: center;
    font-size: 18px;
    color: white;
    text-decoration: none; 
    font-weight: bold;
    /* padding: 10px; */
    /* height: 100%; */

    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-tela-autoatendimento-pag3:hover {
    background-color: var(--cinza-control);
}

.btn-voltar:hover{
    color: red; 
}
.btn-confirmar:hover {
    color: var(--verde-control); 
}




