<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- TROCA TÍTULO QUANDO FOR UTILIZAR -->
    <title>PassControl</title> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../../../public/css/monitor-senhas.css">
</head>
<body>
    <section class="fundo-de-tudo">
        <div class="fundo-azul-lateral">
            <h1>Últimas<br>Chamadas</h1>
            <div class="area-das-senhas">
                <div class="caixa-das-senhas">
                    <h2>NOME DA PESSOA</h2>
                    <div class="conjunto-senhas">
                        <div class="senha">
                            <h3>SENHA:</h3>
                            <h4>CM 001</h4>
                        </div>
                        <div class="guiche">
                            <h3>GUICHE:</h3>
                            <h4>1</h4>
                        </div>
                    </div>
                </div>
                <div class="caixa-das-senhas">
                    <h2>NOME DA PESSOA</h2>
                    <div class="conjunto-senhas">
                        <div class="senha">
                            <h3>SENHA:</h3>
                            <h4>CM 002</h4>
                        </div>
                        <div class="guiche">
                            <h3>GUICHE:</h3>
                            <h4>2</h4>
                        </div>
                    </div>
                </div>
                <div class="caixa-das-senhas">
                    <h2>NOME DA PESSOA</h2>
                    <div class="conjunto-senhas">
                        <div class="senha">
                            <h3>SENHA:</h3>
                            <h4>CM 003</h4>
                        </div>
                        <div class="guiche">
                            <h3>GUICHE:</h3>
                            <h4>3</h4>
                        </div>
                    </div>
                </div>
                <div class="caixa-das-senhas">
                    <h2>NOME DA PESSOA</h2>
                    <div class="conjunto-senhas">
                        <div class="senha">
                            <h3>SENHA:</h3>
                            <h4>CM 004</h4>
                        </div>
                        <div class="guiche">
                            <h3>GUICHE:</h3>
                            <h4>4</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fundo-senha-principal">
            <div class="fundo-senha-principal-wrap">
                <div class="nome-pessoa">
                    <h1>Alan Turing de Melo Henrique</h1>
                </div>
                <div class="infos-senha-principal">
                    <li><h2>SENHA:</h2> <span>CM 005</span></li>
                    <li><h2>GUICHÊ:</h2> <span>12</span></li>
                </div>
                <div class="nome-servico">
                    <li><h2>SERVIÇO:</h2> <span>IPTU</span></li>
                </div>
            </div>
        </div>
    </section>

</body>
</html>