
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- TROCA TÍTULO QUANDO FOR UTILIZAR -->
        <title>PassControl</title>  
        
        
        <!-- IMPORT DA FONTE -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

        
        <!-- IMPORT DO CSS -->
        <link rel="stylesheet" href="/public/css/navegacao.css">
        <link rel="stylesheet" href="/public/css/tela_autoatendimentoTeste.css">

        <!-- IMPORT DO JS -->
        <script src="../js/navegacao-menu-lateral.js" defer></script>

        <link rel="shortcut icon" type="imagex/png" href="../../../public/img/Logo-Nota-Controlnt.ico">
</head>
<body class="control-body-navegacao">
    <header class="cabeca-navegacao-control">
        <nav class="nav-cabeca">
            <div class="logo-control">
                <img src="../assets/icons/logo control.svg" alt="LOGOCONTROL" id="img-logo">
            </div>
            <H3>PassControl</H3>              
        </nav>
        <div class="dark-area"></div>
    </header>

    <!-- INICIO DA ÁREA ÚTIL DA PÁGINA -->
    <!-- INSIRA O CORPO DA SUA PÁGINA A PARTIR DESTE PONTO -->

    <!-- <section class="fundo-cinza"> -->
        <section class="box-servicos" id="box-servicos">
            <div class="area-quadrados">
                <a href="" class="quadrado">
                    <h4>IPTU</h4>
                    <img class="imagem-servico" src="assets/casa.svg" alt="Servico" id="img-servico">
                </a>

                <a href="" class="quadrado">
                    <h4>IPTU</h4>
                    <img class="imagem-servico" src="assets/casa.svg" alt="Servico" id="img-servico">
                </a>

                <a href="" class="quadrado">
                    <h4>IPTU</h4>
                    <img class="imagem-servico" src="assets/casa.svg" alt="Servico" id="img-servico">
                </a>

                <a href="" class="quadrado">
                    <h4>IPTU</h4>
                    <img class="imagem-servico" src="assets/casa.svg" alt="Servico" id="img-servico">
                </a>

                <a href="" class="quadrado">
                    <h4>IPTU</h4>
                    <img class="imagem-servico" src="assets/casa.svg" alt="Servico" id="img-servico">
                </a>

                <a href="" class="quadrado">
                    <h4>IPTU</h4>
                    <img class="imagem-servico" src="assets/casa.svg" alt="Servico" id="img-servico">
                </a>

                <a href="" class="quadrado">
                    <h4>IPTU</h4>
                    <img class="imagem-servico" src="assets/casa.svg" alt="Servico" id="img-servico">
                </a>

                <a href="" class="quadrado">
                    <h4>IPTU</h4>
                    <img class="imagem-servico" src="assets/casa.svg" alt="Servico" id="img-servico">
                </a>

                
                <!-- Repita os quadrados conforme necessário -->
            </div>
        </section>

        <div class="seta">
            <button class="btn-proximaPagina" onclick="window.location.href='tela_autoatendimentoPage1.html'">
                <i class="fas fa-arrow-right"></i> <!-- Ícone de seta para a direita -->
            </button>
        </div>

       
    </body>
</html>
