<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Autotendimento</title>
    <link rel="stylesheet" href="../../../public/css/tela_autoatendimentoPage5.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <header class="head">
        <nav class="nav-head">
            <div class="logo-control">
                <img src="../../../public/img/icons/logo control.svg" alt="LOGOCONTROL" id="img-logo">
            </div>
            <H3>PassControl</H3>
    </header>

    <div class="border-line"></div>

    <main class="workspace">


        <div class="area-cinza">

            <div class="container">
        
                        <section class="info-area">
                            <div>VERIFIQUE SEU NOME E SENHA<br>AGUARDE SER CHAMADO NO PAINEL!</div> <br>
                            <div><strong>SENHA:</strong> CM 001</div>
                            <div><strong>NOME:</strong> SUELEN</div>
                            <div><strong>SERVIÇO:</strong> IPTU</div>
                        </section>
            </div>
                

        
            <div class="footer">
                    <button class="button">
                        <a href="../../usuario/view/tela_autoatendimentoPage1.html" class="btn-finalizar">FINALIZAR</a>
                    </button>   
            </div>

                
                
        </div>

    </main>
</body>

</html>