<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Autotendimento</title>
    <link rel="stylesheet" href="../../../public/css/tela_autoatendimentoPage4.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <header class="cabeca">
        <nav class="nav-cabeca">
            <div class="logo-control">
                <img src="../../../public/img/icons/logo control.svg" alt="LOGOCONTROL" id="img-logo">
            </div>
            <H3>PassControl</H3>
    </header>

    <div class="espaco"></div>

    <main class="area-servicos">

        <div class="fundo-cinza">
            <section class="box-servicos" id="box-servicos">
                <span class="selecione-servico">
                    Informe seus dados para atendimento:
                </span>
                <br>

                <div class="container-inputs">
                    <div class="input-group">
                        <h3 for="nome">Nome*</h3>
                        <input type="text" class="input-servico" id="nome" name="nome" placeholder="Nome">
                    </div>
                    <div class="input-group">
                        <h3 for="sobrenome">Sobrenome*</h3>
                        <input type="text" class="input-servico" id="sobrenome" name="sobrenome" placeholder="Sobrenome">
                    </div>
                    <div class="input-group">
                        <h3 for="telefone">Telefone</h3>
                        <input type="text" class="input-servico" id="telefone" name="telefone" placeholder="(00) 00000-0000">
                    </div>
                    <div class="input-group">
                        <input type="text" class="input-senha" id="senha" name="senha" placeholder="* A SENHA NÃO SERÁ IMPRESSA">
                    </div>
                </div>
            </section>

            <div class="botoes">
                <a href="../../usuario/view/tela_autoatendimentoPage3.html" class="btn-voltar">
                VOLTAR
                </a>
            </div>
            <div class="botao">
                <a href="../../usuario/view/tela_autodimentoPage5.html" class="btn-proximo">
                PRÓXIMO
                </a>
            </div>
               
               

          
            </div>
        </div>

    </main>
</body>

</html>