/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo dos botões */
.botao-modal {
    background-color: #33404D;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.fundo-iniciar-intervalo {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

/* Estilo do modal */
.modal-iniciar-intervalo {
    background-color: #e0e0e0;
    width: 80%;
    max-width: 600px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
    border-radius: 5px;
}

/* Estilo da linha horizontal */
.modal-iniciar-intervalo .linha {
    border: none;
    border-top: 2px solid #000;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo do logo */
.modal-iniciar-intervalo .logo {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 80px;
    max-width: 200px;
    height: auto;
}

.modal-iniciar-intervalo #horario{
    margin: 40px;
    font-size: 30px;
    text-align: center;
}

/* Estilo do título */
.modal-iniciar-intervalo .titulo {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: bold;
}

/* Estilo do parágrafo */
.modal-iniciar-intervalo .texto {
    font-size: 22px;
    margin: 20px;
    text-align: center;
}

/* Grupo de botões */
.modal-iniciar-intervalo .button-group {
    display: flex;
    justify-content: right;
    gap: 30px;
    margin-top: 20px;
}

/* Estilo do botão cancelar */
.modal-iniciar-intervalo .button-group .cancel {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.modal-iniciar-intervalo .button-group .cancel:hover {
    color: #FF0000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo do botão salvar */
.modal-iniciar-intervalo .button-group .save {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.modal-iniciar-intervalo .button-group .save:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Responsividade */
@media (max-width: 667px) {
    .modal-iniciar-intervalo .logo{
        top: 25px;
        width: 60px;
    }

    .modal-iniciar-intervalo .titulo{
        font-size: 24px;
        max-width: 85%;
    }
    .modal-iniciar-intervalo .texto {
        font-size: 20px;
        margin: 15px;
    }    
    .modal-iniciar-intervalo #horario{
        margin: 5px;
    }
}
@media (max-width: 440px) {
    .modal-iniciar-intervalo .logo{
        top: 30px;
        width: 45px;
    }
    .modal-iniciar-intervalo .titulo{
        font-size: 22px;
    }
    .modal-iniciar-intervalo .button-group {
        gap: 10px;
        justify-content: center ;
    }
}