* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
}

/* Estilo para o menu lateral */
.sidebar {
  width: 250px;
  background-color: #2C3E50;
  color: white;
  padding: 15px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidebar ul li a:hover {
  background-color: #34495E;
}

/* Estilo para o conteúdo principal */
.content {
  flex-grow: 1;
  padding: 20px;
}

/* Estilo para o menu superior */
.topnav {
  display: flex;
  justify-content: space-between;
  background-color: #3498DB;
  padding: 10px 20px;
  color: white;
  position: fixed;
  width: calc(100% - 250px); /* Ajustar com base no menu lateral */
  top: 0;
  left: 250px;
  z-index: 1;
}

.topnav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.topnav a:hover {
  text-decoration: underline;
}

/* Estilo para os conteúdos das páginas */
.page {
  margin-top: 60px; /* Evita que o conteúdo fique embaixo do menu superior */
}

