@import url(modal-consultar-fila.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


*{
    font-family: var(--font-main);
}


.topo-info-consultar-fila {
    width: 100%;
    /* height: 90%; */
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-content: center;
    /* background-color: crimson; */
}

.topo-consultar-fila {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* background-color: chartreuse; */
    justify-content: center;
}

.topo-esquerda-consultar-fila {
    width: 95%;
    /* height: 100%; */
    align-items: end;
    display: flex;
    /* background-color: coral; */
    padding-left: 2%;
} 

.topo-esquerda-consultar-fila h3 {
    font-weight: 700;
    font-size: 22px;
    color: #33404D;
}
.area-em-cima-tabela-atendimento{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20rem;
    width: 96%;
}

.topo-direita-consultar-fila {
    /* background-color: blueviolet; */
    justify-content: right;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 64%;
    gap: 15px;
    /* margin-right: 2rem;  */
    /* background-color: darkturquoise; */
}

.senhas-guiche-area-chamada {
    display: flex;  
    flex-direction: row-reverse;
    /* height: 100%; */
    width: 100%;
    height: 2.6rem;
    /* background-color: aliceblue; */
    background-color: rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
    text-align: center;
    /* box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.18); */
    font-size: 24px;
    font-weight: 700;
    color: #33404D;
    border-radius: 2%;
    gap: 1.4rem;
}
.senhas-guiche-area-chamada p{
    font-size: 20px;
}

.principal-consultar-fila{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 17vh;
    right: 2vh;
    left: 27vh;
    bottom: 2vh;
    height: auto;
    width: auto;
    /* background-color: rgba(0, 0, 0, 0.12); */
    overflow: auto;
    scroll-behavior: smooth;
    /* background-color: blue; */
}

.area-comum-consultar-fila {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 2.4rem;
    flex-direction: column;
    border-radius: 5px;
    /* justify-content: center; */
    align-items: center;
}



/* TABELA  */
.fundo-tabela-fila{ 
    width: 96%; 
    font-weight: 600; 
    height: 100%; 
    border-radius: 5px; 
    background-color: rgb(255, 255, 255,0.5); 
    gap: 15px; 
    margin-top: 0rem; 
    /* overflow-x: auto;  */
    display: flex; 
    /* display: block;  */
    justify-content: left; 
} 
.tabela_atendimento-fila { 
    /* border: 1px solid black;  */
    border-collapse: collapse; 
    background-color: rgba(255, 255, 255, 0.5); 
    width: 95%; 
    margin: 2vw; 
    max-height: 230px; 
    position: relative; 
    overflow-x: auto;  
    /* display: block;   */
    transition: overflow 0.3s ease;  
} 
.tabela_atendimento-fila :hover { 
    overflow-y: auto;  
} 
.tabela_atendimento-fila  th { 
    background-color: var(--cinza-control); 
    color: var(--cor-fundo); 
} 
th { 
    position: sticky; 
    top: 0; 
    background-color: #f4f4f4; 
    z-index: 2; 
    padding: 10px; 
    text-align: left; 
    border: 1px solid black; 
    min-width: 50px; 

} 
td { 
    border: 1px solid black; 
    padding: 9px; 
    text-align: left; 
    min-width: 50px; 
    color: var(--cinza-control); 
} 
td, th {
    /* overflow-y: auto; */
    /* min-width: 50px; */
    width: calc(+140px);
    /* white-space: normal; Permite quebra de linha */
    /* word-wrap: break-word; Garante que palavras longas quebrem */
}
thead, tbody tr { 
    display: table; 
    width: 100%; 
    table-layout: fixed; 
} 
tbody { 
    display: block; 
    max-height: 235px; 
    overflow-y: scroll;  
    position: relative; 

} 
.tabela_atendimento-fila  tbody::-webkit-scrollbar { 
    width: 0.1px; 
    opacity: 0;  
    transition: opacity 0.3s ease;  
} 
.tabela_atendimento-fila :hover tbody::-webkit-scrollbar { 
    opacity: 1;  
    width: 9px; 
} 
.tabela_atendimento-fila tbody::-webkit-scrollbar-thumb { 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 4px;

} 
.tabela_atendimento-fila tbody::-webkit-scrollbar-track { 
    background: transparent; 
} 

.tabela_atendimento-fila tbody::-webkit-scrollbar-thumb:hover { 
    background-color: rgba(0, 0, 0, 0.7); 
    width: 9px; 
} 

.tabela_atendimento-fila :hover tbody,thead{ 
    margin-right: -9px;
    /* display: flex; */
} 

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; 
    
}





#divBusca{
    width: 185px;
    height: 30px;
    border-radius:5px;
    border: 2px;
  }
  
  #txtBusca{
    float:left;
    padding: 5px;
    padding-left: 5px;
    font-style:italic;
    font-size:14px;
    outline: 5px;
    border-radius: 5px;
    /* height: 16px; */
    background-image: url(../../img/icons/lupa.svg);
    background-position: 142px; 
    background-repeat: no-repeat;
    opacity: 0.5;
    border: 2px solid #333;
  }



.area-botao-voltar-fila {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    height: 100%;
    width: 40%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 0;
    padding: 0;
}
.div-botao-info{
    width: 90%;
    height: 8%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
.Area-Util-Projeto .div-botao-info button{
    width: 95px;
    height: 35px;
    background-color: var(--cinza-control);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    font-size: 12px;
}

.Area-Util-Projeto .div-botao-info button:hover {
    text-decoration: underline;
    color: var(--verde-control);
    filter: drop-shadow(4px 4px 2px gray);
}
/* .input-search input{
    border-radius: 5px 5px 0px 0px;
    border: 1px solid rgb(128, 128, 128); 
    width: 10.125rem;
} */

.botao-voltar{
    cursor: pointer;
    background-color: #33404D;
    color: white;
    margin-right: 30px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.botao-voltar:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    /* text-decoration: underline #3AA867; */
}


@media screen and (min-width: 1141px) and (max-width: 1640px) {
    .topo-esquerda-consultar-fila h3{
        font-size: 28px;
    }
}


@media screen and (min-width: 881px) and (max-width: 1140px) {
    .topo-esquerda-consultar-fila h3{
        font-size: 28px;
    }
    .senhas-guiche-area-chamada{
        width: 90%;
    }
}

@media screen and (min-width: 320px) and (max-width: 880px) {
    
    .area-em-cima-tabela-atendimento{
        width: 100%;
    }
    .input-search-atendimento input{
        height: 70%;
        width: 45%;
    }
    .senhas-guiche-area-chamada{
        gap: 1rem;
    }
    .senhas-guiche-area-chamada p{
        font-size: 16px;
    }
    .input-search-atendimento{
        align-items: end;
    }
}