/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5
}

/* Botões gerais */
.botao-modal-alertar {
    padding: 10px 20px;
    background-color: rgb(47, 128, 128);
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.modal-container-alertar-fila {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 1;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

/* Estilo do modal */
.modal-alertar {
    background-color: #ddd;
    width: 60%;
    max-width: 550px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.modal-divider-alertar-fila {
    border: none;
    border-top: 3px solid #000;
    width: calc(100% + 60px); /* Adiciona o padding do modal */
    margin-left: -30px; /* Ajusta para expandir até as bordas */
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    width: 60px;
    position: absolute;
    top: 15px;
    right: 15px;
}

/* Tipografia */
.modal-title-alertar-fila {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.modal-message-alertar-fila {
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* Grupo de botões */
.button-group-alertar-fila {
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;
}

.botao-modal-alertar.voltar {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 15px;
    /* margin-bottom: 30px; */
}

.botao-modal-alertar.voltar:hover {
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Responsividade */
@media (max-width: 768px) {
    .modal-alertar  {
        width: 100%;
    }
    .modal-title-alertar-fila {
        font-size: 20px;
    }
    .modal-message-alertar-fila {
        font-size: 16px;
    }
    .logo {
        width: 50px;
        top: 15px;
        right: 10px;
    }
}

@media (max-width: 480px) {
    .modal-alertar  {
        width: 90%;
    }
    .modal-title-alertar-fila {
        font-size: 18px;
    }
    .modal-message-alertar-fila {
        font-size: 14px;
    }
    .botao-modal-alertar {
        font-size: 16px;
        padding: 8px 15px;
    }
    .logo {
        margin-top: 5px;
        width: 40px;
    }
}
