/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5
}

/* Botões gerais */
.botao-modal {
    padding: 10px 20px;
    background-color: rgb(47, 128, 128);
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.modal-confirma-container {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.modal-confirma-container.show {
    opacity: 1;
    pointer-events: auto;
}

/* Estilo do modal */
.modal {
    background-color: #ddd;
    width: 60%;
    max-width: 550px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
}

.modal-divider {
    border: none;
    border-top: 3px solid #000;
    width: calc(100% + 60px); /* Adiciona o padding do modal */
    margin-left: -30px; /* Ajusta para expandir até as bordas */
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    width: 60px;
    position: absolute;
    top: 15px;
    right: 15px;
}

/* Tipografia */
.modal-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}

.modal-message {
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* Grupo de botões */
.button-group {
    display: flex;
    justify-content: flex-end   ;
    margin-top: 15px;
}

.botao-modal.Okay {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
    margin-bottom: 10px;
}

.botao-modal.Okay:hover {
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Responsividade */
@media (max-width: 1200px) {
    .modal {
        width: 100%;
    }
    .modal-title {
        font-size: 25px;
    }
    .modal-message {
        font-size: 22px;
    }
    .logo {
        width: 70px;
        top: 15px;
    }
}

@media (max-width: 1024px) {
    .modal {
        width: 100%;
    }
    .modal-title {
        font-size: 25px;
    }
    .modal-message {
        font-size: 22px;
    }
    .logo {
        width: 70px;
        top: 15px;
    }
}

@media (max-width: 768px) {
    .modal {
        width: 100%;
    }
    .modal-title {
        font-size: 25px;
    }
    .modal-message {
        font-size: 22px;
    }
    .logo {
        width: 70px;
        top: 15px;
    }
}

@media (max-width: 480px) {
    .modal {
        width: 90%;
    }
    .modal-title {
        font-size: 20px;
    }
    .modal-message {
        font-size: 20px;
    }
    .logo {
        margin-top: 2px;
        width: 60px;
    }
}

@media (max-width: 400px){
    .modal-message{
        font-size: 18px;
    }
    .botao-modal.Okay{
        margin-top: 20px;
    }
    .button-group{
        justify-content: center;
    }
}

@media (max-width: 320px){
    .modal-message{
        font-size: 18px;
    }
    .botao-modal.Okay{
        margin-top: 20px;
    }
    .button-group{
        justify-content: center;
    }
}