h1 {
    margin-left: 30px;
    margin-bottom: -30px;
    margin-top: 30px;
    font-size: 20px;
}

.area-configuracao-autoatendimento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    margin: 30px;
    background-color: var(--color-background-3);
    border-top: 4px solid var(--color-text-1);
}

h2 {
    text-align: center;
    color: var(--color-text-2);
    margin-top: 10px;
    margin-bottom: 80px;
    font-size: 32px;
}

.lista-servicos-configuracao-autoatendimento {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.item-servico-configuracao-autoatendimento {
    display: flex;
    align-items: center;
    width: 40%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
    color: var(--color-background-2);
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
}

input[type="checkbox"]:checked + label {
    color: var(--color-disponivel);
}

.btn-configuracao-autoatendimento {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: auto;
}

.btn-configuracao-autoatendimento button {
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-text-1);
    border: none;
    color: var(--color-neutro-2);
}

.btn-configuracao-autoatendimento button:hover {
    cursor: pointer;
    color: var(--color-disponivel);
    text-decoration: underline;
}