*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.sombra{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 7;
}
.area-modal-fila{
    /* position: relative; */
    flex-direction: column;
    display: flex;
    background-color: white;
    min-height: 300px;
    min-width: 500px;
    border-radius: 5px;
}

.area-modal-fila p{
    color: blue;
}
.show{
    display: flex;
}