*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forme{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.quadrado{
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.356);
    position: absolute;
    left: 5%;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}
.container-flex{
    flex: 1 1 35%;
}
.perfild{
    position: absolute;
    width: 42%;
    left: 8%;
    top: 350px

}
.titulo .cadastro_title{
   position: absolute;
   top: 15px;
   left: 5%;
   /* font-size: 110%; */
}
.titulo hr{
    position: absolute;
    border: 0;
    height: 4px;
    background: black ;
    margin: 20px 0;
    width: 90%;
    top: 20px;
    left: 5%;
}

.nome{
    position: relative;
    top: 15px;
    left: 8%;
    width: 85%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.nome .borda{
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}

.email{
    position: relative;
    top: 85px;
    left: 8%;
    width: 42%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.email .borda{
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}

.cpf{
    position: relative;
    top: 17px;
    left: 51%;
    width: 42%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
}
.cpf .borda{
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}

.labeledit{
    font-family: var(--font-main);
    width: 50%;
    height: 15px;
    font-weight: bold;
    display: block;
}
.perfil{
    position: relative;
    top: 40px;
    left: 189px;
    width: 35%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
    border-radius: 5px solid black;
}
.selecao .pi{
    height: 40px;
    border-radius: 5px solid black;
    margin-top: 12px;
}

.selecao{
    display: flex;
    position: absolute;
    top: 15px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
    background-color: white;
    font-size: var(--font-main);
}
.checkbox-container{ 
    display: flex;
    position: absolute;
    left: 53%; 
    width: 50%;
    font-size: 100%;
    top: 370px;
    font-size: var(--font-main);
    font-weight: bold;
    display: flex;
    gap: 20px;
}
.servico{
    display: flex;
    position: absolute;
    top: 330px;
    left: 52%;
    font-size: var(--font-main);
    font-weight: bold;
}
.todos{
    display: flex;
    position: absolute;
    left: 71%;
    top: 465px;
}
.column{ 
    display: flex; 
    flex-direction: column; 
    margin-right: 20px; 
    flex: 1;
    
} 
.checkbox-container label{ 
    display: flex; 
    align-items: center; 
    margin: 5px 0; 
} 
.checkbox-container input[type="checkbox"]{ 
    margin-right: 10px;
} 
.servico-checkbox input[type="checkbox"]{
    color: var(--verde-control);
}
.checkbox-container input[type="checkbox"]:checked + span{ 
    color: var(--verde-control);
} 
.select-all-container{ 
    margin-bottom: 10px; 
    width: 14%;
    position: absolute;
    left: 822px;
    top: 495px;
    font-size: var(--font-main);
    font-weight: bold;
}
<<<<<<< Updated upstream:public/css/edit_usuario.css
=======
.servico{
    display: flex;
    position: absolute;
    top: 370px;
    left: 630px;
    font-size: var(--font-main);
    font-weight: bold;
}
>>>>>>> Stashed changes:css/edit.css

.customizado input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;  
}

<<<<<<< Updated upstream:public/css/edit_usuario.css

=======
>>>>>>> Stashed changes:css/edit.css
.customizado .teste {
    position: relative;
    /* height: 50px; */
    /* width: 200px; */
    /* background-color: #ccc; */
    border-radius: 4px;
    display: flex;
    vertical-align: middle;
    margin-right: 10px;
       
} 

<<<<<<< Updated upstream:public/css/edit_usuario.css

=======
>>>>>>> Stashed changes:css/edit.css
/* .customizado input[type="checkbox"]:checked + .teste {
    background-color: #4CAF50;
    border: 1px solid black;
}    */

.customizado .teste:after {
    content: "";
    position: absolute;
    display: none;

} 

<<<<<<< Updated upstream:public/css/edit_usuario.css
.customizado::before {
    content: ''; 
    position: relative;
    left: -10px;
    top: -1px;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: white;
}
=======
>>>>>>> Stashed changes:css/edit.css

.customizado input[type="checkbox"]:checked + .teste:after {
    display: block;
  
} 

<<<<<<< Updated upstream:public/css/edit_usuario.css
.customizado  .teste::before {
=======

.customizado  .teste:after {
>>>>>>> Stashed changes:css/edit.css
    left: -20px;
    top: 5px;
    width: 0px;
    height: 0px;
    
}
.customizado  .teste:after {
    left: -19px;
    top: 6px;
    width: 0px;
    height: 0px;
    border: solid var(--verde-control);
    border-width: 2 10px 10px 2;
    transform: rotate(1deg);
    
} 


.botao1{
    background-color: var(--cinza-control);
    border-radius: 5px;
    border: none;
    color: var(--cor-fundo);
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    width: 120px;
    height: 35px;
    font-weight: bold;

    
}
.botao1:hover{
    color: var(--verde-control);
    text-decoration:underline;
}
.botao2{
    background-color: var(--cinza-control);
    
    border-radius: 5px;
    border: none;
    color: var(--cor-fundo);
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    width: 120px;
    height: 35px;
    font-weight: bold;
    
}
.botao2:hover{
    color: var(--verde-control);
    text-decoration:underline;
}

.btn{
    position: absolute;
    left: 75%;
    top: 650px;
    display: flex;
    button{margin: 0 15px}
    
}





@media screen and (max-width: 480px) {
    .quadrado{
        width: 100%;
        margin-top: 20px;
        left: 0;
    }
    .perfild, .selecionar{
        width: 100%;
    }
    .checkbox-container{
        width: 100%;
        margin-top:  20px;
        
    }
    .servico, .todos{
        font-size: 14px;
    }
    .cadastro_title{
        font-size: 20px;
        text-align: center;
    }
    .nome input,
    .email input,
    .cpf input,
    .senha input,
    .confirmar input{
        width: 100%;
    }
    .botao1, .botao2{
        width: 100%;
        margin: 10px 0;
    }
    .checkbox-container{
        display: block;
        margin-left: 0;
        width: 100%;
    }
    
}


@media screen and (max-width: 768px){
    .quadrado{
        width: 90%;
        left: 5%;
    }
    .perfild,.selecionar{
        width: 100%;
        position: relative;
        left: 0;
    }
    .titulo .cadastro_title{
        font-size: 100%;
    }
    .nome, .email, .cpf, .senha, .confirmar{
        width: 100%;
    }
    .btn{
        display: flex;
        justify-content: space-around;
        position: relative;
        left: 0;
        top: auto;
    }
    .checkbox-container{
        display: block;
        left: 0;
        top: auto;
    }
    .column{
        width: 100%;
        margin-right: 0;
    }
    .checkbox-container input[type="checkbox"]{
        margin-right: 10px;
    }
}