@import url(root.css);

.container_login {
    justify-content: center;
    align-items: center;
}

.container_animation {
    height: 13%;
}

.title-login {
    margin-top: 5%;
}

@media (min-width: 64rem) {
    .container_login {
        flex-direction: column;
    }

    .container_animation {
        margin-bottom: 10%;
    }

    .form_login {
        width: 60%;
    }
}

@media (min-width: 96rem) {
    .title-login {
        margin-top: 1%;
    }
}