/* Estilos do modal container */
.modal-container {
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);  
    display: none;  
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.modal-container.show {
    display: flex; 
}


.modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Outros estilos do modal (se necessário) */
.modal .logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.modal .titulo {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.modal .button-group {
    display: flex;
    justify-content: space-around;
}

.modal .botao-modal {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.modal .cancel {
    background-color: #f44336; /* Cor de fundo para o "Cancelar" */
    color: white;
}

.modal .save {
    background-color: #4CAF50; /* Cor de fundo para o "Salvar" */
    color: white;
}

