:root{
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* HEX COLOR TO FILTER CONVERTER */
/* https://isotropic.co/tool/hex-color-to-css-filter/ */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-style: bold;
    list-style: none;
    z-index: 1000;
}

/* TOPO */

.navegacao{
    background-color: var(--cor-fundo);
    background-image: url(../IMG/Quadrado\ logo\ 2.svg);
    background-size: 35vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    width: 100vw;
    height: 200vh;
    display: flex;
    align-items: start;
    justify-content: top;
    overflow: hidden;
}

.cabeca{
    background-color: var(--cinza-control);
    height: 137px;
    width: 100%;
    position: fixed;
    display: flex;
}

.nav-cabeca{
    background-color: var(--cor-fundo);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
}

.logo-control{
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
}

#img-logo{
    height: 100%;
    width: 100%;
}

.nav-cabeca H3{
    color: var(--cinza-control);
    width: 80%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 23px;
}

.usu{
    color: var(--cinza-control);
    height: 100%;
    width: 15%;  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 17px;
}

/* INFO USUARIO */

.usu-detalhes{
    background-color: var(--cor-fundo);
    display: none;
    position: absolute;
    width: auto;
    border: 2px solid var(--cinza-control);
    padding: 5px;
    text-decoration: none;
    align-content: center;
    justify-content: center;
    right: 2%;
}

.usu-detalhes img{
    border: 2px solid var(--verde-control);
    margin-right: 10px;
    border-radius: 100px;
}

.texto-usu{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.texto-usu .nome{
    font-size: 23px;
    font-weight: 700;
}

.texto-usu .email{
    font-size: 13px;
    font-weight: 500;
}

.texto-usu li a{
    text-decoration: none;
    font-size: 13px;
    color: rgb(39, 75, 238);
}

.menu-usuario:hover .usu-detalhes{
    display: flex;
    flex-direction: row;
    min-width: 300px;
}

/* LATERAL */

.lateral{
    background-color: var(--cinza-control);
    position: fixed;
    top: 137px;
    width: 25vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}

.menu-Lateral{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    bottom: 10px;   
    justify-content: right;
}

.botao{
    width: 100%;
    height: 89px;
    display: flex;
    align-content: center;
    justify-content: right;
}

.botao .botao-Lateal{
    background-color: #2d3945;
    width: 95%;
    height: 59px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    outline: none;
    color: var(--cor-fundo);
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 20%;
    /* background-color: red; */
}

.botao-Lateal img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    /* height: 25%; */
    /* background-color: black; */
}

.botao-Lateal .texto-bot{
    display: flex;
    padding-left: 7px;
    font-size: 13px;
}

.botao-Lateal:hover{
    background-color: #181f26;
    color: var(--verde-control);
}

.botao-Lateal:hover img{
    filter: invert(51%) sepia(58%) saturate(446%) hue-rotate(92deg) brightness(96%) contrast(89%);
}

.sair{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.sair .botao-Lateal img{
    width: auto;
    /* height: 27px; */
}
.sair button{
    width: 80%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d3945;
    border-radius: 3px;
    border: none;
    font-weight: 600;
    font-size: 13px;
    color: var(--cor-fundo);
    cursor: pointer;
    justify-content: center;
    padding-right: 5%;
}


/* CORPO TESTE */

main{ 
    z-index: 1;
    position: absolute;
    display: flex;
    top: 157px;
    right: 2vh;
    left: 27vh;
    bottom: 2vh;
    height: auto;
    width: auto;
    background-color: rgba(205, 205, 205, 0.52);
    justify-content: space-between;
    justify-content: center;
    align-items: start;
    padding: 5px;
    overflow: auto;
    scroll-behavior: smooth;
}

.teste-scroll{
    margin-top: 50%;
    display: flex;
    background-color: #3AA867;
    height: 300px;
    align-content: end;
    align-items: end;
}


/*  TESTE DE TABELA  */
.tabela{
    width: 100%;
    height: auto;
}

.tabela-atendidos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-content: center;
}

.tabela-atendidos thead{
    height: 3.5vh;
    background-color: var(--cinza-control);
    display: flex;
    color: var(--cor-fundo);
}

.tabela-atendidos tbody{
    color: var(--cinza-control);
}

.tabela-atendidos tr{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tabela-atendidos th, td{
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid black;
    border-collapse: collapse;
    min-height: 3.5vh;
    text-transform: capitalize;
    align-content: center;
    text-indent: 3px;

    /* POGzão na veia */
    margin-left: -1px;
    margin-bottom: -1px;
}


/* AJUSTES INDIVIDUAIS DO ESPAÇO DA TABELA */
.ordem{
    width: 10%;
}
.nome{
    width: 30%;
}
.servico{
    width: 25%;
}
.senha{
    width: 11%;
}
.inic{
    width: 9%;
}
.term{
    width: 9%;
}
.categoria{
    width: 10%;
}
