/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* Botões gerais */
.botao-modal-confirmacao-senha {
    background-color: #33404D;
    color: #FFFFFF;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.fundo-container-confirmacao-senha {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.fundo-container-confirmacao-senha.show {
    opacity: 1;
    display: flex;
    pointer-events: auto;
}

/* Estilo do modal */
.modal-confirmacao-senha {
    background-color: #ddd;
    width: 60%;
    max-width: 550px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.modal-divider-confirmacao-senha {
    border: none;
    border-top: 2px solid #000;
    width: 100%; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-confirmacao-senha {
    width: 60px;
    position: absolute;
    top: 15px;
    right: 30px;
}

/* Tipografia */
.modal-title-confirmacao-senha{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.check-image-confirmacao-senha{
    width: 20%;
    max-width: 200px; /* Limita o tamanho máximo */
    display: block;
    margin: 0 auto;
}

/* Tipografia */
.modal-title-confirmacao-senha {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.modal-message-confirmacao-senha {
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* Grupo de botões */
.button-group-confirmacao-senha {
    display: flex;
    justify-content: end;
    margin-top: 45px;
}

.Okay_ConfSenha {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 12px 30px;
    /* margin-bottom: 30px; */
}

.Okay_ConfSenha:hover {
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Responsividade */
@media (max-width: 1200px) {
    .modal-confirmacao-senha {
        width: 100%;
    }
    .modal-title-confirmacao-senha {
        font-size: 28px;
    }
    .modal-message-confirmacao-senha {
        font-size: 22px;
    }
    .logo-confirmacao-senha {
        width: 70px;
        top: 10px;
    }
}

@media (max-width: 1024px) {
    .modal {
        width: 100%;
    }
    .modal-title-confirmacao-senha {
        font-size: 28px;
    }
    .modal-message-confirmacao-senha {
        font-size: 22px;
    }
    .logo-confirmacao-senha {
        width: 60px;
        top: 15px;
    }
}

@media (max-width: 768px) {
    .modal-confirmacao-senha {
        width: 100%;
    }
    .modal-title-confirmacao-senha {
        font-size: 25px;
    }
    .modal-message-confirmacao-senha {
        font-size: 20px;
    }
    .logo-confirmacao-senha {
        width: 60px;
        top: 15px;
    }
}

@media (max-width: 480px) {
    .modal-confirmacao-senha {
        width: 90%;
    }
    .modal-title-confirmacao-senha {
        font-size: 22px;
    }
    .modal-message-confirmacao-senha {
        font-size: 18px;
    }
    .logo-confirmacao-senha {
        margin-top: 5px;
        width: 50px;
    }
    .check-image-confirmacao-senha{
        margin-top: 30px;
        width: 70px;
    }
}

@media (max-width: 400px) {
    .modal-confirmacao-senha {
        width: 90%;
    }
    .modal-title-confirmacao-senha {
        font-size: 20px;
    }
    .modal-message-confirmacao-senha {
        font-size: 16px;
    }
    .logo-confirmacao-senha {
        margin-top: 1px;
        width: 50px;
    }
    .check-image-confirmacao-senha{
        margin-top: 30px;
        width: 70px;
    }
}

@media (max-width: 320px) {
    .modal-confirmacao-senha {
        width: 90%;
    }
    .modal-title-confirmacao-senha {
        font-size: 18px;
    }
    .modal-message-confirmacao-senha {
        font-size: 15px;
    }
    .logo-confirmacao-senha {
        margin-top: 5px;
        width: 40px;
    }
    .check-image-confirmacao-senha{
        margin-top: 30px;
        width: 60px;
    }
}