/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
.body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

/* Estilo dos botões */
.botao-modal {
    padding: 10px 20px;
    background-color: rgb(47, 128, 128);
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.fundo-editar-dados {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

/* Estilo do modal */
.modal-editar-dados {
    background-color: #e0e0e0;
    width: 80%;
    max-width: 600px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
    border-radius: 5px;
}

/* Estilo da linha horizontal */
.linha-alterar-dados {
    border: none;
    border-top: 3px solid #000;
    width: calc(100% + 80px);
    margin-left: -40px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo do logo */
.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 10%;
}

/* Estilo do container do nome */
.nome-container-alterar-dados {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 20px;
}

.container-dados {
    flex: 1;
    margin-right: 20px;
}

.container:last-child {
    margin-right: 0;
}

/* Estilo do container de email */
.email-container-alterar-dados {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Estilo do container de CPF */
.cpf-container-alterar-dados {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Estilo dos inputs e labels */
.label-nome-alterar-dados, .label-email-alterar-dados, .label-cpf-alterar-dados, .label-file-alterar-dados {
    font-size: 16px;
    margin-bottom: 5px;
}

.input-nome, .input-email, .input-cpf, .input-file {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

/* Estilização do container do input file */
.file-container-alterar-dados {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Grupo de botões */
.button-group-alterar-dados {
    display: flex;
    justify-content: right;
    gap: 0px;
    margin-top: 20px;
}

/* Estilo do botão cancelar */
.botao-modal-alterar-dados.cancel {
    background-color: #33404D;
    color: white;
    margin-right: 30px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.botao-modal-alterar-dados.cancel:hover {
    color: #FFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo do botão salvar */
.botao-modal-alterar-dados.save {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.botao-modal-alterar-dados.save:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Responsividade */
@media (max-width: 1200px) {
    .modal-editar-dados {
        width: 70%;
    }
    .linha-alterar-dados{
        border: none;
        border-top: 3px solid #000;
        width: 115%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -7.50%; /* Ajusta a centralização */
    }
}

@media (max-width: 1024px) {
    .modal-editar-dados {
        width: 80%;
    }
    .linha-alterar-dados{
        border: none;
        border-top: 3px solid #000;
        width: 115%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -7.50%; /* Ajusta a centralização */ 
    }
}

@media (max-width: 768px) {
    .modal-editar-dados {
        width: 90%;
    }
    .titulo{
        margin-bottom: 20px;
    }
    .linha{
        border: none;
        border-top: 3px solid #000;
        width: 115%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -7.50%; /* Ajusta a centralização */
    }
}

@media (max-width: 480px) {
    .button-group {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-dados {
        width: auto;
    }
    .linha-alterar-dados{
        border: none;
        border-top: 3px solid #000;
        width: 123%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -11.25%; /* Ajusta a centralização */
    }
}

@media (min-width: 401px) and (max-width: 550px){
    .modal-editar-dados {
        width: 95%;
        padding: 20px;
    }
    .titulo{
        margin-top: 7px;
        font-size: 20px;
    }
    .logo{
        top: 10px;
        width: 50px;
    }
    .button-group {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-dados {
        width: auto;
    }
    .linha-alterar-dados{
        border: none;
        border-top: 3px solid #000;
        width: 108.50%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -4.25%; /* Ajusta a centralização */ 
    }
}

@media (max-width: 400px) {
    .modal-editar-dados {
        width: 95%;
        padding: 15px;
    }
    .titulo{
        margin-top: 7px;
        font-size: 20px;
    }
    .logo{
        top: 10px;
        width: 50px;
    }
    .button-group {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-dados {
        width: auto;
    }
    .linha-alterar-dados{
        border: none;
        border-top: 3px solid #000;
        width: 108.50%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -4.25%; /* Ajusta a centralização */ 
    }
}

@media (min-width: 320px) and (max-width: 340px) {
    .modal-editar-dados {
        width: 90%;
        padding: 15px;
    }
    .titulo{
        font-size: 16px;
    }
    .logo{
        top: 15px;
        width: 40px;
    }
    .button-group {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal-alterar-dados {
        width: auto;
    }
    .linha-alterar-dados{
        border: none;
        border-top: 3px solid #000;
        width: 111%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -5.50%; /* Ajusta a centralização */
    }
}