/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
.pagina {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

/* Estilo dos botões */
.botao-modal {
    padding: 10px 20px;
    background-color: rgb(47, 128, 128);
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

/* Estilo do container do modal */
.modal-container {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

/* Estilo do modal */
.modal {
    background-color: #e0e0e0;
    width: 80%;
    max-width: 600px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
}

/* Estilo da linha horizontal */
.linha-horizontal {
    border: none;
    border-top: 3px solid #000;
    width: 32.4vw;
    margin-left: calc(-16.2vw + 50%);
    margin-right: calc(-20vw + 50%);
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo do logo */
.logo {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 10%;
}

/* Estilo dos labels */
.label {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Estilo dos inputs */
.input-text {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

/* Grupo de botões */
.button-group {
    display: flex;
    justify-content: right;
    gap: 0px;
    margin-top: 20px;
}

/* Estilo do botão cancelar */
.cancel {
    background-color: #33404D;
    color: white;
    margin-right: 30px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.cancel:hover {
    color: #FFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo do botão salvar */
.save {
    background-color: #33404D;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.save:hover {
    color: #3AA867;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
    .modal {
        width: 80%;
    }
    .linha-horizontal{
        border: none;
        border-top: 3px solid #000;
        width: 115%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -7.50%; /* Ajusta a centralização */
    }
}

@media (max-width: 768px) {
    .modal {
        width: 70%;
    }
    .linha-horizontal{
        border: none;
        border-top: 3px solid #000;
        width: 115%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -7.50%; /* Ajusta a centralização */
    }
}

@media (max-width: 480px) {
    .modal {
        width: 90%;
    }
    .titulo{
        font-size: 18px;
    }
    .logo{
        width: 50px;
    }
    .linha-horizontal{
        border: none;
        border-top: 3px solid #000;
        width: 123%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -11.50%; /* Ajusta a centralização */
    }
}

@media (max-width: 400px) {
    .modal {
        width: 90%;
    }
    .titulo{
        font-size: 16px;
    }
    .logo{
        width: 40px;
    }
    .linha-horizontal{
        border: none;
        border-top: 3px solid #000;
        width: 128.75%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -14.50%; /* Ajusta a centralização */
    }
    .button-group {
        flex-direction: row;
        justify-content: flex-end;
    }
    .botao-modal {
        width: auto;
    }
}

@media (max-width: 320px) {
    .modal {
        width: 90%;
    }
    .titulo{
        font-size: 16px;
    }
    .logo{
        width: 40px;
    }
    .linha-horizontal{
        border: none;
        border-top: 3px solid #000;
        width: 128.75%; /* Garante que a linha ocupe toda a largura do modal */
        margin-left: -14.50%; /* Ajusta a centralização */
    }
}